(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "JCLKO_DCC_DCC0": [
      (
        from_wire: "JCLKI_DCC_DCC0",
      ),
    ],
    "JCLKO_DCC_DCC1": [
      (
        from_wire: "JCLKI_DCC_DCC1",
      ),
    ],
    "JCLKO_DCC_DCC2": [
      (
        from_wire: "JCLKI_DCC_DCC2",
      ),
    ],
    "JCLKO_DCC_DCC3": [
      (
        from_wire: "JCLKI_DCC_DCC3",
      ),
    ],
  },
)