(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "G:VCC": [
      (
        from_wire: "G:VCC",
      ),
    ],
    "HROW:HPRX0000": [
      (
        from_wire: "G:TRHPRX0",
      ),
    ],
    "HROW:HPRX0100": [
      (
        from_wire: "G:TRHPRX1",
      ),
    ],
    "HROW:HPRX0200": [
      (
        from_wire: "G:TRHPRX2",
      ),
    ],
    "HROW:HPRX0300": [
      (
        from_wire: "G:TRHPRX3",
      ),
    ],
    "HROW:HPRX0400": [
      (
        from_wire: "G:TRHPRX4",
      ),
    ],
    "HROW:HPRX0500": [
      (
        from_wire: "G:TRHPRX5",
      ),
    ],
    "HROW:HPRX0600": [
      (
        from_wire: "G:TRHPRX6",
      ),
    ],
    "HROW:HPRX0700": [
      (
        from_wire: "G:TRHPRX7",
      ),
    ],
    "HROW:HPRX0800": [
      (
        from_wire: "G:TRHPRX8",
      ),
    ],
    "HROW:HPRX0900": [
      (
        from_wire: "G:TRHPRX9",
      ),
    ],
    "HROW:HPRX1000": [
      (
        from_wire: "G:TRHPRX10",
      ),
    ],
    "HROW:HPRX1100": [
      (
        from_wire: "G:TRHPRX11",
      ),
    ],
    "HROW:HPRX1200": [
      (
        from_wire: "G:TRHPRX12",
      ),
    ],
    "HROW:HPRX1300": [
      (
        from_wire: "G:TRHPRX13",
      ),
    ],
    "HROW:HPRX1400": [
      (
        from_wire: "G:TRHPRX14",
      ),
    ],
    "HROW:HPRX1500": [
      (
        from_wire: "G:TRHPRX15",
      ),
    ],
  },
)