(
  pips: {
    "JQ7": [
      (
        from_wire: "W20:JSR90CIB_DQSBUFA_CORE_I_DQS_TOP",
        bits: [(frame:99,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)