(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "JIVREFI0_IVREF_CORE": [
      (
        from_wire: "JCIBMUXOUTC0",
      ),
    ],
    "JIVREFI1_IVREF_CORE": [
      (
        from_wire: "JCIBMUXOUTC1",
      ),
    ],
    "JIVREFI2_IVREF_CORE": [
      (
        from_wire: "JCIBMUXOUTC2",
      ),
    ],
    "JIVREFI3_IVREF_CORE": [
      (
        from_wire: "JCIBMUXOUTC3",
      ),
    ],
    "JIVREFI4_IVREF_CORE": [
      (
        from_wire: "JCIBMUXOUTC4",
      ),
    ],
    "JIVREFI5_IVREF_CORE": [
      (
        from_wire: "JCIBMUXOUTC5",
      ),
    ],
    "JIVREFI6_IVREF_CORE": [
      (
        from_wire: "JCIBMUXOUTC6",
      ),
    ],
  },
)