(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "JIVREFI0_IVREF_CORE": [
      (
        from_wire: "E3:JCIBMUXOUTC0",
      ),
    ],
    "JIVREFI1_IVREF_CORE": [
      (
        from_wire: "E3:JCIBMUXOUTC1",
      ),
    ],
    "JIVREFI2_IVREF_CORE": [
      (
        from_wire: "E3:JCIBMUXOUTC2",
      ),
    ],
    "JIVREFI3_IVREF_CORE": [
      (
        from_wire: "E3:JCIBMUXOUTC3",
      ),
    ],
    "JIVREFI4_IVREF_CORE": [
      (
        from_wire: "E3:JCIBMUXOUTC4",
      ),
    ],
    "JIVREFI5_IVREF_CORE": [
      (
        from_wire: "E3:JCIBMUXOUTC5",
      ),
    ],
    "JIVREFI6_IVREF_CORE": [
      (
        from_wire: "E3:JCIBMUXOUTC6",
      ),
    ],
  },
)