(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "G:VCC": [
      (
        from_wire: "G:VCC",
      ),
    ],
    "HROW:HPRX0000": [
      (
        from_wire: "G:TLHPRX0",
      ),
    ],
    "HROW:HPRX0100": [
      (
        from_wire: "G:TLHPRX1",
      ),
    ],
    "HROW:HPRX0200": [
      (
        from_wire: "G:TLHPRX2",
      ),
    ],
    "HROW:HPRX0300": [
      (
        from_wire: "G:TLHPRX3",
      ),
    ],
    "HROW:HPRX0400": [
      (
        from_wire: "G:TLHPRX4",
      ),
    ],
    "HROW:HPRX0500": [
      (
        from_wire: "G:TLHPRX5",
      ),
    ],
    "HROW:HPRX0600": [
      (
        from_wire: "G:TLHPRX6",
      ),
    ],
    "HROW:HPRX0700": [
      (
        from_wire: "G:TLHPRX7",
      ),
    ],
    "HROW:HPRX0800": [
      (
        from_wire: "G:TLHPRX8",
      ),
    ],
    "HROW:HPRX0900": [
      (
        from_wire: "G:TLHPRX9",
      ),
    ],
    "HROW:HPRX1000": [
      (
        from_wire: "G:TLHPRX10",
      ),
    ],
    "HROW:HPRX1100": [
      (
        from_wire: "G:TLHPRX11",
      ),
    ],
    "HROW:HPRX1200": [
      (
        from_wire: "G:TLHPRX12",
      ),
    ],
    "HROW:HPRX1300": [
      (
        from_wire: "G:TLHPRX13",
      ),
    ],
    "HROW:HPRX1400": [
      (
        from_wire: "G:TLHPRX14",
      ),
    ],
    "HROW:HPRX1500": [
      (
        from_wire: "G:TLHPRX15",
      ),
    ],
  },
)