(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "JARH0_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO0_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JARH1_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO1_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JARH2_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO2_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JARH3_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO3_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JARH4_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO4_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JARH5_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO5_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JARH6_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO6_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JARH7_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO7_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JARH8_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO8_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JARHSIGN_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAOSIGNED_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JARL0_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO0_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JARL1_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO1_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JARL2_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO2_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JARL3_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO3_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JARL4_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO4_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JARL5_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO5_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JARL6_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO6_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JARL7_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO7_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JARL8_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JAO8_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JAS10_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JAR0_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JAS10_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR0_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS11_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JAR1_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JAS11_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR1_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS12_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JAR2_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JAS12_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR2_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS13_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JAR3_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JAS13_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR3_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS14_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JAR4_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JAS14_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR4_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS15_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JAR5_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JAS15_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR5_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS16_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JAR6_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JAS16_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR6_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS17_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JAR7_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JAS17_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR7_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS18_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JAR8_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JAS18_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR8_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS20_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "W1:JAR0_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS20_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR0_MULT9_CORE_MULT9_L2",
      ),
    ],
    "JAS21_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "W1:JAR1_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS21_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR1_MULT9_CORE_MULT9_L2",
      ),
    ],
    "JAS22_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "W1:JAR2_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS22_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR2_MULT9_CORE_MULT9_L2",
      ),
    ],
    "JAS23_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "W1:JAR3_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS23_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR3_MULT9_CORE_MULT9_L2",
      ),
    ],
    "JAS24_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "W1:JAR4_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS24_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR4_MULT9_CORE_MULT9_L2",
      ),
    ],
    "JAS25_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "W1:JAR5_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS25_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR5_MULT9_CORE_MULT9_L2",
      ),
    ],
    "JAS26_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "W1:JAR6_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS26_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR6_MULT9_CORE_MULT9_L2",
      ),
    ],
    "JAS27_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "W1:JAR7_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS27_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR7_MULT9_CORE_MULT9_L2",
      ),
    ],
    "JAS28_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "W1:JAR8_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JAS28_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JAR8_MULT9_CORE_MULT9_L2",
      ),
    ],
    "JASSIGNED1_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JARSIGNED_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JASSIGNED1_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JARSIGNED_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JASSIGNED2_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "W1:JARSIGNED_MULT9_CORE_MULT9_H2",
      ),
    ],
    "JASSIGNED2_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W1:JARSIGNED_MULT9_CORE_MULT9_L2",
      ),
    ],
    "JBLS10_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "JBLSO0_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBLS11_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "JBLSO1_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBLS12_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "JBLSO2_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBLS13_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "JBLSO3_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBLS14_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "JBLSO4_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBLS15_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "JBLSO5_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBLS16_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "JBLSO6_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBLS17_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "JBLSO7_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBLS18_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "JBLSO8_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBLSS1_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "JBLSOSGND_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBR0_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JBR0_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBR0_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "JBR0_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBR1_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JBR1_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBR1_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "JBR1_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBR2_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JBR2_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBR2_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "JBR2_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBR3_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JBR3_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBR3_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "JBR3_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBR4_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JBR4_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBR4_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "JBR4_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBR5_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JBR5_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBR5_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "JBR5_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBR6_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JBR6_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBR6_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "JBR6_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBR7_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JBR7_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBR7_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "JBR7_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBR8_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JBR8_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBR8_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "JBR8_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBRH0_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO0_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JBRH1_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO1_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JBRH2_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO2_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JBRH3_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO3_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JBRH4_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO4_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JBRH5_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO5_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JBRH6_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO6_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JBRH7_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO7_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JBRH8_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO8_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JBRHSIGN_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBOSIGNED_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JBRL0_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO0_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JBRL1_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO1_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JBRL2_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO2_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JBRL3_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO3_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JBRL4_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO4_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JBRL5_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO5_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JBRL6_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO6_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JBRL7_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO7_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JBRL8_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JBO8_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JBRS10_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "JBRSO0_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBRS10_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO0_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS11_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "JBRSO1_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBRS11_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO1_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS12_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "JBRSO2_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBRS12_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO2_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS13_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "JBRSO3_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBRS13_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO3_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS14_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "JBRSO4_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBRS14_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO4_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS15_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "JBRSO5_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBRS15_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO5_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS16_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "JBRSO6_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBRS16_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO6_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS17_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "JBRSO7_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBRS17_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO7_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS18_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "JBRSO8_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBRS18_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO8_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS20_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JBRSO0_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS20_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO0_PREADD9_CORE_PREADD9_L2",
      ),
    ],
    "JBRS21_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JBRSO1_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS21_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO1_PREADD9_CORE_PREADD9_L2",
      ),
    ],
    "JBRS22_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JBRSO2_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS22_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO2_PREADD9_CORE_PREADD9_L2",
      ),
    ],
    "JBRS23_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JBRSO3_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS23_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO3_PREADD9_CORE_PREADD9_L2",
      ),
    ],
    "JBRS24_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JBRSO4_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS24_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO4_PREADD9_CORE_PREADD9_L2",
      ),
    ],
    "JBRS25_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JBRSO5_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS25_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO5_PREADD9_CORE_PREADD9_L2",
      ),
    ],
    "JBRS26_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JBRSO6_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS26_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO6_PREADD9_CORE_PREADD9_L2",
      ),
    ],
    "JBRS27_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JBRSO7_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS27_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO7_PREADD9_CORE_PREADD9_L2",
      ),
    ],
    "JBRS28_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JBRSO8_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRS28_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSO8_PREADD9_CORE_PREADD9_L2",
      ),
    ],
    "JBRSIGNED_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "JBRSIGNED_PREADD9_CORE_PREADD9_H3",
      ),
    ],
    "JBRSIGNED_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "JBRSIGNED_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBRSS1_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "JBRSOSGND_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JBRSS1_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSOSGND_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRSS2_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JBRSOSGND_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JBRSS2_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JBRSOSGND_PREADD9_CORE_PREADD9_L2",
      ),
    ],
    "JCEA_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "W2:JCE1",
      ),
    ],
    "JCEA_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W2:JCE1",
      ),
    ],
    "JCEB_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JCE0",
      ),
    ],
    "JCEB_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JCE0",
      ),
    ],
    "JCECL_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JCE1",
      ),
    ],
    "JCECL_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JCE1",
      ),
    ],
    "JCEP_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "E1:JCE1",
      ),
    ],
    "JCEP_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "E1:JCE1",
      ),
    ],
    "JP360_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL180_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3610_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL1810_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3611_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL1811_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3612_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL1812_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3613_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL1813_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3614_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL1814_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3615_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL1815_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3616_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL1816_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3617_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL1817_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3618_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH180_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3619_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH181_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP361_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL181_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3620_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH182_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3621_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH183_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3622_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH184_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3623_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH185_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3624_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH186_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3625_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH187_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3626_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH188_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3627_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH189_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3628_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH1810_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3629_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH1811_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP362_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL182_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3630_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH1812_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3631_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH1813_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3632_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH1814_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3633_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH1815_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3634_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH1816_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP3635_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPH1817_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP363_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL183_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP364_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL184_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP365_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL185_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP366_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL186_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP367_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL187_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP368_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL188_MULT18_CORE_MULT18_3",
      ),
    ],
    "JP369_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JPL189_MULT18_CORE_MULT18_3",
      ),
    ],
    "JPH180_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP180_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH1810_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1810_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH1811_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1811_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH1812_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1812_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH1813_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1813_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH1814_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1814_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH1815_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1815_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH1816_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1816_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH1817_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1817_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH1818_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1818_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH1819_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1819_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH181_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP181_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH182_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP182_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH183_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP183_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH184_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP184_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH185_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP185_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH186_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP186_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH187_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP187_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH188_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP188_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPH189_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP189_MULT9_CORE_MULT9_H3",
      ),
    ],
    "JPL180_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP180_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL1810_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1810_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL1811_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1811_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL1812_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1812_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL1813_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1813_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL1814_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1814_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL1815_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1815_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL1816_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1816_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL1817_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1817_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL1818_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1818_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL1819_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP1819_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL181_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP181_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL182_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP182_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL183_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP183_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL184_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP184_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL185_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP185_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL186_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP186_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL187_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP187_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL188_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP188_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPL189_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JP189_MULT9_CORE_MULT9_L3",
      ),
    ],
    "JPRCASIN_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "JPRCASOUT_PREADD9_CORE_PREADD9_L3",
      ),
    ],
    "JPRCASIN_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JPRCASOUT_PREADD9_CORE_PREADD9_H2",
      ),
    ],
    "JRSTA_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "W2:JLSR1",
      ),
    ],
    "JRSTA_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "W2:JLSR1",
      ),
    ],
    "JRSTB_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JLSR0",
      ),
    ],
    "JRSTB_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JLSR0",
      ),
    ],
    "JRSTCL_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "W1:JLSR1",
      ),
    ],
    "JRSTCL_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "W1:JLSR1",
      ),
    ],
    "JRSTP_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "E1:JLSR1",
      ),
    ],
    "JRSTP_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "E1:JLSR1",
      ),
    ],
  },
)