(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "JA0_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTA3",
      ),
    ],
    "JA0_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTA2",
      ),
    ],
    "JA1_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTA4",
      ),
    ],
    "JA1_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTA3",
      ),
    ],
    "JA2_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTA5",
      ),
    ],
    "JA2_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTA4",
      ),
    ],
    "JA3_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTA6",
      ),
    ],
    "JA3_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTA5",
      ),
    ],
    "JA4_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTA7",
      ),
    ],
    "JA4_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTA6",
      ),
    ],
    "JA5_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "E5:JCIBMUXOUTA0",
      ),
    ],
    "JA5_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTA7",
      ),
    ],
    "JA6_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "E5:JCIBMUXOUTA1",
      ),
    ],
    "JA6_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTA0",
      ),
    ],
    "JA7_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "E5:JCIBMUXOUTA2",
      ),
    ],
    "JA7_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTA1",
      ),
    ],
    "JA8_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "E5:JCIBMUXOUTA3",
      ),
    ],
    "JA8_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTA2",
      ),
    ],
    "JASIGNED_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTD3",
      ),
    ],
    "JASIGNED_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTD2",
      ),
    ],
    "JB0_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTB3",
      ),
    ],
    "JB0_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTB2",
      ),
    ],
    "JB1_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTB4",
      ),
    ],
    "JB1_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTB3",
      ),
    ],
    "JB2_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTB5",
      ),
    ],
    "JB2_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTB4",
      ),
    ],
    "JB3_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTB6",
      ),
    ],
    "JB3_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTB5",
      ),
    ],
    "JB4_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTB7",
      ),
    ],
    "JB4_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTB6",
      ),
    ],
    "JB5_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E5:JCIBMUXOUTB0",
      ),
    ],
    "JB5_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTB7",
      ),
    ],
    "JB6_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E5:JCIBMUXOUTB1",
      ),
    ],
    "JB6_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTB0",
      ),
    ],
    "JB7_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E5:JCIBMUXOUTB2",
      ),
    ],
    "JB7_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTB1",
      ),
    ],
    "JB8_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E5:JCIBMUXOUTB3",
      ),
    ],
    "JB8_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTB2",
      ),
    ],
    "JBSIGNED_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTD7",
      ),
    ],
    "JBSIGNED_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTD6",
      ),
    ],
    "JC0_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTC6",
      ),
    ],
    "JC0_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTC4",
      ),
    ],
    "JC1_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E4:JCIBMUXOUTC7",
      ),
    ],
    "JC1_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTC5",
      ),
    ],
    "JC2_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E1:JCIBMUXOUTD0",
      ),
    ],
    "JC2_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTC6",
      ),
    ],
    "JC3_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E1:JCIBMUXOUTD1",
      ),
    ],
    "JC3_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E3:JCIBMUXOUTC7",
      ),
    ],
    "JC4_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E1:JCIBMUXOUTD2",
      ),
    ],
    "JC4_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTC0",
      ),
    ],
    "JC5_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E1:JCIBMUXOUTD3",
      ),
    ],
    "JC5_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTC1",
      ),
    ],
    "JC6_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E1:JCIBMUXOUTD4",
      ),
    ],
    "JC6_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTC2",
      ),
    ],
    "JC7_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E1:JCIBMUXOUTD5",
      ),
    ],
    "JC7_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTC3",
      ),
    ],
    "JC8_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E1:JCIBMUXOUTD6",
      ),
    ],
    "JC8_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTC4",
      ),
    ],
    "JC9_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E1:JCIBMUXOUTD7",
      ),
    ],
    "JC9_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E4:JCIBMUXOUTC5",
      ),
    ],
    "JCLK_MULT9_CORE_MULT9_H3": [
      (
        from_wire: "E2:JCLK0",
      ),
    ],
    "JCLK_MULT9_CORE_MULT9_L3": [
      (
        from_wire: "E2:JCLK0",
      ),
    ],
    "JCLK_PREADD9_CORE_PREADD9_H3": [
      (
        from_wire: "E2:JCLK0",
      ),
    ],
    "JCLK_PREADD9_CORE_PREADD9_L3": [
      (
        from_wire: "E2:JCLK0",
      ),
    ],
    "JROUNDEN_MULT18_CORE_MULT18_3": [
      (
        from_wire: "JCIBMUXOUTB5",
      ),
    ],
    "JSFTCTRL0_MULT18_CORE_MULT18_3": [
      (
        from_wire: "W1:JCIBMUXOUTB4",
      ),
    ],
    "JSFTCTRL1_MULT18_CORE_MULT18_3": [
      (
        from_wire: "W1:JCIBMUXOUTB5",
      ),
    ],
    "JSFTCTRL2_MULT18_CORE_MULT18_3": [
      (
        from_wire: "W1:JCIBMUXOUTB6",
      ),
    ],
    "JSFTCTRL3_MULT18_CORE_MULT18_3": [
      (
        from_wire: "W1:JCIBMUXOUTB7",
      ),
    ],
  },
)