(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "G:JD0_I4_0": [
      (
        from_wire: "N5W69:JCODE0_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_1": [
      (
        from_wire: "N5W69:JCODE1_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_2": [
      (
        from_wire: "N5W69:JCODE2_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_3": [
      (
        from_wire: "N5W69:JCODE3_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_4": [
      (
        from_wire: "N5W69:JCODE4_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_5": [
      (
        from_wire: "N5W69:JCODE5_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_6": [
      (
        from_wire: "N5W69:JCODE6_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_7": [
      (
        from_wire: "N5W69:JCODE7_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_8": [
      (
        from_wire: "N5W69:JCODE8_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_0": [
      (
        from_wire: "N1E89:JCODE0_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_1": [
      (
        from_wire: "N1E89:JCODE1_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_2": [
      (
        from_wire: "N1E89:JCODE2_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_3": [
      (
        from_wire: "N1E89:JCODE3_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_4": [
      (
        from_wire: "N1E89:JCODE4_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_5": [
      (
        from_wire: "N1E89:JCODE5_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_6": [
      (
        from_wire: "N1E89:JCODE6_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_7": [
      (
        from_wire: "N1E89:JCODE7_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_8": [
      (
        from_wire: "N1E89:JCODE8_DDRDLL_CORE_I1",
      ),
    ],
    "JCLKIN_DLLDEL_CORE_I0": [
      (
        from_wire: "S1W29:JINCK_IOLOGIC_CORE_I_GEARING_PIC_TOP_A",
      ),
      (
        from_wire: "S1W29:JPADDI_DIFFIO18A_CORE_IOA",
      ),
    ],
  },
)