(
  pips: {
    "JF0": [
      (
        from_wire: "N1W38:JUCFG_READY_PCIELL_CORE",
        bits: [(frame:14,bit:0,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "N1W38:JUCFG_RD_DONE0_PCIELL_CORE",
        bits: [(frame:20,bit:0,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "N1W38:JUCFG_RD_DONE1_PCIELL_CORE",
        bits: [(frame:40,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)