(
  pips: {
    "JF6": [
      (
        from_wire: "N4:JDOA17_LRAM_CORE",
        bits: [(frame:92,bit:10,invert:false,),],
      ),
    ],
    "JF7": [
      (
        from_wire: "N4:JDOA16_LRAM_CORE",
        bits: [(frame:98,bit:10,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "N4:JDOA21_LRAM_CORE",
        bits: [(frame:47,bit:10,invert:false,),],
      ),
    ],
    "JQ4": [
      (
        from_wire: "N4:JDOA20_LRAM_CORE",
        bits: [(frame:64,bit:10,invert:false,),],
      ),
    ],
    "JQ5": [
      (
        from_wire: "N4:JDOA19_LRAM_CORE",
        bits: [(frame:73,bit:10,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "N4:JDOA18_LRAM_CORE",
        bits: [(frame:90,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)