(
  pips: {
    "JF0": [
      (
        from_wire: "N4:JRDATAA19_ALUREG_CORE",
        bits: [(frame:14,bit:10,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "N4:JRDATAA20_ALUREG_CORE",
        bits: [(frame:20,bit:10,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "N4:JRDATAA21_ALUREG_CORE",
        bits: [(frame:40,bit:10,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N4:JRDATAA22_ALUREG_CORE",
        bits: [(frame:46,bit:10,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "N4:JRDATAA23_ALUREG_CORE",
        bits: [(frame:66,bit:10,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "N4:JRDATAA24_ALUREG_CORE",
        bits: [(frame:72,bit:10,invert:false,),],
      ),
    ],
    "JF6": [
      (
        from_wire: "N4:JRDATAA11_ALUREG_CORE",
        bits: [(frame:92,bit:10,invert:false,),],
      ),
    ],
    "JF7": [
      (
        from_wire: "N4:JRDATAA10_ALUREG_CORE",
        bits: [(frame:98,bit:10,invert:false,),],
      ),
    ],
    "JQ0": [
      (
        from_wire: "N4:JRDATAA18_ALUREG_CORE",
        bits: [(frame:12,bit:10,invert:false,),],
      ),
    ],
    "JQ1": [
      (
        from_wire: "N4:JRDATAA17_ALUREG_CORE",
        bits: [(frame:21,bit:10,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "N4:JRDATAA16_ALUREG_CORE",
        bits: [(frame:38,bit:10,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "N4:JRDATAA15_ALUREG_CORE",
        bits: [(frame:47,bit:10,invert:false,),],
      ),
    ],
    "JQ4": [
      (
        from_wire: "N4:JRDATAA14_ALUREG_CORE",
        bits: [(frame:64,bit:10,invert:false,),],
      ),
    ],
    "JQ5": [
      (
        from_wire: "N4:JRDATAA13_ALUREG_CORE",
        bits: [(frame:73,bit:10,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "N4:JRDATAA12_ALUREG_CORE",
        bits: [(frame:90,bit:10,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "N4:JRDATAA9_ALUREG_CORE",
        bits: [(frame:99,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)