(
  pips: {
    "JF2": [
      (
        from_wire: "S1:JRESULT27_ALUREG_CORE",
        bits: [(frame:40,bit:10,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "S1:JRESULT26_ALUREG_CORE",
        bits: [(frame:46,bit:10,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "S1:JRESULT28_ALUREG_CORE",
        bits: [(frame:38,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)