(
  pips: {
    "JF2": [
      (
        from_wire: "N3:JRDATAA27_ALUREG_CORE",
        bits: [(frame:40,bit:10,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N3:JRDATAA28_ALUREG_CORE",
        bits: [(frame:46,bit:10,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "N3:JRDATAA26_ALUREG_CORE",
        bits: [(frame:38,bit:10,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "N3:JRDATAA25_ALUREG_CORE",
        bits: [(frame:47,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)