(
  pips: {
    "JF2": [
      (
        from_wire: "N1:JDOB19_LRAM_CORE",
        bits: [(frame:40,bit:10,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N1:JDOB20_LRAM_CORE",
        bits: [(frame:46,bit:10,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "N1:JDOB18_LRAM_CORE",
        bits: [(frame:38,bit:10,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "N1:JDOB17_LRAM_CORE",
        bits: [(frame:47,bit:10,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "N1:JDOB16_LRAM_CORE",
        bits: [(frame:90,bit:10,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "N1:JDOB15_LRAM_CORE",
        bits: [(frame:99,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)