(
  pips: {
    "JF0": [
      (
        from_wire: "N1W19:JVC_RX_DATA80_PCIELL_CORE",
        bits: [(frame:14,bit:0,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "N1W19:JVC_TX_CREDIT_INIT0_PCIELL_CORE",
        bits: [(frame:20,bit:0,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "N1W19:JVC_RX_DATA81_PCIELL_CORE",
        bits: [(frame:40,bit:0,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N1W19:JVC_TX_CREDIT_INIT1_PCIELL_CORE",
        bits: [(frame:46,bit:0,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "N1W19:JVC_RX_DATA82_PCIELL_CORE",
        bits: [(frame:66,bit:0,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "N1W19:JVC_TX_CREDIT_RETURN0_PCIELL_CORE",
        bits: [(frame:72,bit:0,invert:false,),],
      ),
    ],
    "JF6": [
      (
        from_wire: "N1W19:JVC_RX_DATA83_PCIELL_CORE",
        bits: [(frame:92,bit:0,invert:false,),],
      ),
    ],
    "JF7": [
      (
        from_wire: "N1W19:JVC_TX_CREDIT_RETURN1_PCIELL_CORE",
        bits: [(frame:98,bit:0,invert:false,),],
      ),
    ],
    "JQ0": [
      (
        from_wire: "N1W19:JVC_RX_DATA84_PCIELL_CORE",
        bits: [(frame:12,bit:0,invert:false,),],
      ),
    ],
    "JQ1": [
      (
        from_wire: "N1W19:JLMMIRDATA0_PCIELL_CORE",
        bits: [(frame:21,bit:0,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "N1W19:JVC_RX_DATA85_PCIELL_CORE",
        bits: [(frame:38,bit:0,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "N1W19:JLMMIRDATA1_PCIELL_CORE",
        bits: [(frame:47,bit:0,invert:false,),],
      ),
    ],
    "JQ4": [
      (
        from_wire: "N1W19:JVC_RX_DATA86_PCIELL_CORE",
        bits: [(frame:64,bit:0,invert:false,),],
      ),
    ],
    "JQ5": [
      (
        from_wire: "N1W19:JLMMIRDATA2_PCIELL_CORE",
        bits: [(frame:73,bit:0,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "N1W19:JVC_RX_DATA87_PCIELL_CORE",
        bits: [(frame:90,bit:0,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "N1W19:JLMMIRDATA3_PCIELL_CORE",
        bits: [(frame:99,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)