(
  pips: {
    "JF0": [
      (
        from_wire: "W1:JDCNTL0_DDRDLL_CORE_I1",
        bits: [(frame:14,bit:10,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "W1:JDCNTL1_DDRDLL_CORE_I1",
        bits: [(frame:20,bit:10,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "W1:JDCNTL2_DDRDLL_CORE_I1",
        bits: [(frame:40,bit:10,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "W1:JDCNTL3_DDRDLL_CORE_I1",
        bits: [(frame:46,bit:10,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "W1:JDCNTL4_DDRDLL_CORE_I1",
        bits: [(frame:66,bit:10,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "W1:JDCNTL5_DDRDLL_CORE_I1",
        bits: [(frame:72,bit:10,invert:false,),],
      ),
    ],
    "JF6": [
      (
        from_wire: "W1:JDCNTL6_DDRDLL_CORE_I1",
        bits: [(frame:92,bit:10,invert:false,),],
      ),
    ],
    "JF7": [
      (
        from_wire: "W1:JDCNTL7_DDRDLL_CORE_I1",
        bits: [(frame:98,bit:10,invert:false,),],
      ),
    ],
    "JQ0": [
      (
        from_wire: "W1:JDCNTL8_DDRDLL_CORE_I1",
        bits: [(frame:12,bit:10,invert:false,),],
      ),
    ],
    "JQ1": [
      (
        from_wire: "W1:JDIVOSCIB_DDRDLL_CORE_I1",
        bits: [(frame:21,bit:10,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "W1:JLOCK_DDRDLL_CORE_I1",
        bits: [(frame:38,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)