(
  pips: {
    "JF2": [
      (
        from_wire: "N1E5:JASFFULLO_CONFIG_CRE_CORE_CONFIG_HSE",
        bits: [(frame:40,bit:0,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N1E5:JASFEMPTYO_CONFIG_CRE_CORE_CONFIG_HSE",
        bits: [(frame:46,bit:0,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "N1E5:JLMMIRDATA28_CONFIG_CRE_CORE_CONFIG_HSE",
        bits: [(frame:38,bit:0,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "N1E5:JLMMIRDATA29_CONFIG_CRE_CORE_CONFIG_HSE",
        bits: [(frame:47,bit:0,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "N1E5:JLMMIRDATA30_CONFIG_CRE_CORE_CONFIG_HSE",
        bits: [(frame:90,bit:0,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "N1E5:JLMMIRDATA31_CONFIG_CRE_CORE_CONFIG_HSE",
        bits: [(frame:99,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)