(
  pips: {
    "JF2": [
      (
        from_wire: "N8:JRDATAB18_ALUREG_CORE",
        bits: [(frame:40,bit:10,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N8:JRDATAB19_ALUREG_CORE",
        bits: [(frame:46,bit:10,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "N8:JRDATAB17_ALUREG_CORE",
        bits: [(frame:38,bit:10,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "N8:JRDATAB16_ALUREG_CORE",
        bits: [(frame:47,bit:10,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "N8:JRDATAB15_ALUREG_CORE",
        bits: [(frame:99,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)