(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "E1:H02E0001": [
      (
        from_wire: "E1:H02W0000",
      ),
    ],
    "E1:H02E0101": [
      (
        from_wire: "E1:H02W0100",
      ),
    ],
    "E1:H02E0201": [
      (
        from_wire: "E1:H02W0200",
      ),
    ],
    "E1:H02E0301": [
      (
        from_wire: "E1:H02W0300",
      ),
    ],
    "E1:H02E0401": [
      (
        from_wire: "E1:H02W0400",
      ),
    ],
    "E1:H02E0501": [
      (
        from_wire: "E1:H02W0500",
      ),
    ],
    "E1:H02E0601": [
      (
        from_wire: "E1:H02W0600",
      ),
    ],
    "E1:H02E0701": [
      (
        from_wire: "E1:H02W0700",
      ),
    ],
    "E1:H06E0003": [
      (
        from_wire: "H06W0003",
      ),
    ],
    "E1:H06E0103": [
      (
        from_wire: "H06W0103",
      ),
    ],
    "E1:H06E0203": [
      (
        from_wire: "H06W0203",
      ),
    ],
    "E1:H06E0303": [
      (
        from_wire: "H06W0303",
      ),
    ],
    "E2:H06E0003": [
      (
        from_wire: "W1:H06W0003",
      ),
    ],
    "E2:H06E0103": [
      (
        from_wire: "W1:H06W0103",
      ),
    ],
    "E2:H06E0203": [
      (
        from_wire: "W1:H06W0203",
      ),
    ],
    "E2:H06E0303": [
      (
        from_wire: "W1:H06W0303",
      ),
    ],
    "E3:H06E0003": [
      (
        from_wire: "W2:H06W0003",
      ),
    ],
    "E3:H06E0103": [
      (
        from_wire: "W2:H06W0103",
      ),
    ],
    "E3:H06E0203": [
      (
        from_wire: "W2:H06W0203",
      ),
    ],
    "E3:H06E0303": [
      (
        from_wire: "W2:H06W0303",
      ),
    ],
    "H01E0000": [
      (
        from_wire: "E1:H01W0100",
      ),
    ],
    "H01E0100": [
      (
        from_wire: "E1:H01W0000",
      ),
    ],
    "H01E0200": [
      (
        from_wire: "E1:H01W0300",
      ),
    ],
    "H01E0300": [
      (
        from_wire: "E1:H01W0200",
      ),
    ],
    "H02E0001": [
      (
        from_wire: "E1:H02W0001",
      ),
    ],
    "H02E0101": [
      (
        from_wire: "E1:H02W0101",
      ),
    ],
    "H02E0201": [
      (
        from_wire: "E1:H02W0201",
      ),
    ],
    "H02E0301": [
      (
        from_wire: "E1:H02W0301",
      ),
    ],
    "H02E0401": [
      (
        from_wire: "E1:H02W0401",
      ),
    ],
    "H02E0501": [
      (
        from_wire: "E1:H02W0501",
      ),
    ],
    "H02E0601": [
      (
        from_wire: "E1:H02W0601",
      ),
    ],
    "H02E0701": [
      (
        from_wire: "E1:H02W0701",
      ),
    ],
    "H06E0003": [
      (
        from_wire: "E1:H06W0003",
      ),
    ],
    "H06E0103": [
      (
        from_wire: "E1:H06W0103",
      ),
    ],
    "H06E0203": [
      (
        from_wire: "E1:H06W0203",
      ),
    ],
    "H06E0303": [
      (
        from_wire: "E1:H06W0303",
      ),
    ],
    "JCEIN_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "E1:JCE0",
      ),
    ],
    "JCEIN_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "E1:JCE1",
      ),
    ],
    "JCEOUT_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "E1:JCE0",
      ),
    ],
    "JCEOUT_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "E1:JCE1",
      ),
    ],
    "JDI_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "JPADDI_SEIO33_CORE_IOA",
      ),
    ],
    "JDI_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "JPADDI_SEIO33_CORE_IOB",
      ),
    ],
    "JDOUT_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "JTXDATA0_SIOLOGIC_CORE_IBASE_PIC_A",
      ),
    ],
    "JDOUT_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "JTXDATA0_SIOLOGIC_CORE_IBASE_PIC_B",
      ),
    ],
    "JI3CRESEN_SEIO33_CORE_IOA": [
      (
        from_wire: "E1:JCIBMUXOUTA2",
      ),
    ],
    "JI3CRESEN_SEIO33_CORE_IOB": [
      (
        from_wire: "E1:JCIBMUXOUTA5",
      ),
    ],
    "JI3CWKPU_SEIO33_CORE_IOA": [
      (
        from_wire: "E1:JCIBMUXOUTB2",
      ),
    ],
    "JI3CWKPU_SEIO33_CORE_IOB": [
      (
        from_wire: "E1:JCIBMUXOUTB5",
      ),
    ],
    "JINDD_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "JDI_SIOLOGIC_CORE_IBASE_PIC_A",
      ),
    ],
    "JINDD_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "JDI_SIOLOGIC_CORE_IBASE_PIC_B",
      ),
    ],
    "JLSRIN_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "E1:JLSR0",
      ),
    ],
    "JLSRIN_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "E1:JLSR1",
      ),
    ],
    "JLSROUT_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "E1:JLSR0",
      ),
    ],
    "JLSROUT_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "E1:JLSR1",
      ),
    ],
    "JPADDO_SEIO33_CORE_IOA": [
      (
        from_wire: "E1:JCIBMUXOUTA0",
      ),
      (
        from_wire: "JDOUT_SIOLOGIC_CORE_IBASE_PIC_A",
      ),
    ],
    "JPADDO_SEIO33_CORE_IOB": [
      (
        from_wire: "E1:JCIBMUXOUTB4",
      ),
      (
        from_wire: "JDOUT_SIOLOGIC_CORE_IBASE_PIC_B",
      ),
    ],
    "JPADDT_SEIO33_CORE_IOA": [
      (
        from_wire: "E1:JCIBMUXOUTB1",
      ),
      (
        from_wire: "JTOUT_SIOLOGIC_CORE_IBASE_PIC_A",
      ),
    ],
    "JPADDT_SEIO33_CORE_IOB": [
      (
        from_wire: "E1:JCIBMUXOUTC0",
      ),
      (
        from_wire: "JTOUT_SIOLOGIC_CORE_IBASE_PIC_B",
      ),
    ],
    "JSCLKIN_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "E1:JCLK0",
      ),
    ],
    "JSCLKIN_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "E1:JCLK1",
      ),
    ],
    "JSCLKOUT_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "E1:JCLK0",
      ),
    ],
    "JSCLKOUT_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "E1:JCLK1",
      ),
    ],
    "JTOUT_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "JTSDATA0_SIOLOGIC_CORE_IBASE_PIC_A",
      ),
    ],
    "JTOUT_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "JTSDATA0_SIOLOGIC_CORE_IBASE_PIC_B",
      ),
    ],
    "JTSDATA0_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "E1:JCIBMUXOUTB1",
      ),
    ],
    "JTSDATA0_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "E1:JCIBMUXOUTC0",
      ),
    ],
    "JTXDATA0_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "E1:JCIBMUXOUTA0",
      ),
    ],
    "JTXDATA0_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "E1:JCIBMUXOUTB4",
      ),
    ],
    "JTXDATA1_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "E1:JCIBMUXOUTB0",
      ),
    ],
    "JTXDATA1_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "E1:JCIBMUXOUTD0",
      ),
    ],
    "W1:H06E0003": [
      (
        from_wire: "E2:H06W0003",
      ),
    ],
    "W1:H06E0103": [
      (
        from_wire: "E2:H06W0103",
      ),
    ],
    "W1:H06E0203": [
      (
        from_wire: "E2:H06W0203",
      ),
    ],
    "W1:H06E0303": [
      (
        from_wire: "E2:H06W0303",
      ),
    ],
    "W2:H06E0003": [
      (
        from_wire: "E3:H06W0003",
      ),
    ],
    "W2:H06E0103": [
      (
        from_wire: "E3:H06W0103",
      ),
    ],
    "W2:H06E0203": [
      (
        from_wire: "E3:H06W0203",
      ),
    ],
    "W2:H06E0303": [
      (
        from_wire: "E3:H06W0303",
      ),
    ],
  },
)