(
  pips: {
    "H01W0000": [
      (
        from_wire: "BRANCH:HPBX0300",
        bits: [(frame:26,bit:9,invert:false,),(frame:31,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0700",
        bits: [(frame:27,bit:9,invert:false,),(frame:31,bit:9,invert:false,),],
      ),
    ],
    "H01W0100": [
      (
        from_wire: "BRANCH:HPBX0200",
        bits: [(frame:18,bit:9,invert:false,),(frame:23,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0600",
        bits: [(frame:18,bit:9,invert:false,),(frame:22,bit:9,invert:false,),],
      ),
    ],
    "H01W0200": [
      (
        from_wire: "BRANCH:HPBX0100",
        bits: [(frame:42,bit:9,invert:false,),(frame:47,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0500",
        bits: [(frame:42,bit:9,invert:false,),(frame:46,bit:9,invert:false,),],
      ),
    ],
    "H01W0300": [
      (
        from_wire: "BRANCH:HPBX0000",
        bits: [(frame:50,bit:9,invert:false,),(frame:55,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0400",
        bits: [(frame:51,bit:9,invert:false,),(frame:55,bit:9,invert:false,),],
      ),
    ],
    "JCE0": [
      (
        from_wire: "BRANCH:HPBX0000",
        bits: [(frame:83,bit:8,invert:false,),(frame:87,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0100",
        bits: [(frame:83,bit:8,invert:false,),(frame:84,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0200",
        bits: [(frame:83,bit:8,invert:false,),(frame:86,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0300",
        bits: [(frame:83,bit:8,invert:false,),(frame:86,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0400",
        bits: [(frame:82,bit:9,invert:false,),(frame:87,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0500",
        bits: [(frame:82,bit:9,invert:false,),(frame:84,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0600",
        bits: [(frame:82,bit:9,invert:false,),(frame:86,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0700",
        bits: [(frame:82,bit:9,invert:false,),(frame:86,bit:9,invert:false,),],
      ),
    ],
    "JCE1": [
      (
        from_wire: "BRANCH:HPBX0000",
        bits: [(frame:88,bit:8,invert:false,),(frame:89,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0100",
        bits: [(frame:85,bit:9,invert:false,),(frame:89,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0200",
        bits: [(frame:85,bit:8,invert:false,),(frame:89,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0300",
        bits: [(frame:87,bit:9,invert:false,),(frame:89,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0400",
        bits: [(frame:88,bit:8,invert:false,),(frame:90,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0500",
        bits: [(frame:85,bit:9,invert:false,),(frame:90,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0600",
        bits: [(frame:85,bit:8,invert:false,),(frame:90,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0700",
        bits: [(frame:87,bit:9,invert:false,),(frame:90,bit:9,invert:false,),],
      ),
    ],
    "JCLK0": [
      (
        from_wire: "BRANCH:HPBX0000",
        bits: [(frame:63,bit:8,invert:false,),(frame:67,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0100",
        bits: [(frame:63,bit:8,invert:false,),(frame:67,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0200",
        bits: [(frame:63,bit:9,invert:false,),(frame:66,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0300",
        bits: [(frame:63,bit:9,invert:false,),(frame:67,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0400",
        bits: [(frame:63,bit:9,invert:false,),(frame:67,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0500",
        bits: [(frame:63,bit:9,invert:false,),(frame:70,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0600",
        bits: [(frame:63,bit:9,invert:false,),(frame:69,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0700",
        bits: [(frame:64,bit:9,invert:false,),(frame:67,bit:8,invert:false,),],
      ),
    ],
    "JCLK1": [
      (
        from_wire: "BRANCH:HPBX0000",
        bits: [(frame:65,bit:9,invert:false,),(frame:72,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0100",
        bits: [(frame:68,bit:8,invert:false,),(frame:72,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0200",
        bits: [(frame:66,bit:9,invert:false,),(frame:72,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0300",
        bits: [(frame:65,bit:9,invert:false,),(frame:72,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0400",
        bits: [(frame:68,bit:8,invert:false,),(frame:72,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0500",
        bits: [(frame:68,bit:9,invert:false,),(frame:72,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0600",
        bits: [(frame:69,bit:8,invert:false,),(frame:72,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0700",
        bits: [(frame:68,bit:8,invert:false,),(frame:71,bit:9,invert:false,),],
      ),
    ],
    "JLSR0": [
      (
        from_wire: "BRANCH:HPBX0000",
        bits: [(frame:74,bit:8,invert:false,),(frame:75,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0100",
        bits: [(frame:74,bit:8,invert:false,),(frame:78,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0200",
        bits: [(frame:74,bit:8,invert:false,),(frame:78,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0300",
        bits: [(frame:74,bit:8,invert:false,),(frame:76,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0400",
        bits: [(frame:73,bit:9,invert:false,),(frame:75,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0500",
        bits: [(frame:73,bit:9,invert:false,),(frame:78,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0600",
        bits: [(frame:73,bit:9,invert:false,),(frame:78,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0700",
        bits: [(frame:73,bit:9,invert:false,),(frame:76,bit:9,invert:false,),],
      ),
    ],
    "JLSR1": [
      (
        from_wire: "BRANCH:HPBX0000",
        bits: [(frame:76,bit:8,invert:false,),(frame:80,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0100",
        bits: [(frame:79,bit:8,invert:false,),(frame:80,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0200",
        bits: [(frame:77,bit:8,invert:false,),(frame:80,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0300",
        bits: [(frame:77,bit:9,invert:false,),(frame:80,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0400",
        bits: [(frame:76,bit:8,invert:false,),(frame:81,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0500",
        bits: [(frame:79,bit:8,invert:false,),(frame:81,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0600",
        bits: [(frame:77,bit:8,invert:false,),(frame:81,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0700",
        bits: [(frame:77,bit:9,invert:false,),(frame:81,bit:9,invert:false,),],
      ),
    ],
    "V01S0000": [
      (
        from_wire: "BRANCH:HPBX0100",
        bits: [(frame:38,bit:9,invert:false,),(frame:42,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0500",
        bits: [(frame:39,bit:9,invert:false,),(frame:42,bit:8,invert:false,),],
      ),
    ],
    "V01S0100": [
      (
        from_wire: "BRANCH:HPBX0000",
        bits: [(frame:55,bit:8,invert:false,),(frame:59,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0400",
        bits: [(frame:55,bit:8,invert:false,),(frame:58,bit:9,invert:false,),],
      ),
    ],
    "V01S0200": [
      (
        from_wire: "BRANCH:HPBX0300",
        bits: [(frame:31,bit:8,invert:false,),(frame:35,bit:9,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0700",
        bits: [(frame:31,bit:8,invert:false,),(frame:34,bit:9,invert:false,),],
      ),
    ],
    "V01S0300": [
      (
        from_wire: "BRANCH:HPBX0200",
        bits: [(frame:14,bit:9,invert:false,),(frame:18,bit:8,invert:false,),],
      ),
      (
        from_wire: "BRANCH:HPBX0600",
        bits: [(frame:15,bit:9,invert:false,),(frame:18,bit:8,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)