(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "JDQSR90_IOLOGIC_CORE_I_GEARING_PIC_TOP_A": [
      (
        from_wire: "DQSG:JDQSR90_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JDQSR90_IOLOGIC_CORE_I_GEARING_PIC_TOP_B": [
      (
        from_wire: "DQSG:JDQSR90_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JDQSW270_IOLOGIC_CORE_I_GEARING_PIC_TOP_A": [
      (
        from_wire: "DQSG:JDQSW270_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JDQSW270_IOLOGIC_CORE_I_GEARING_PIC_TOP_B": [
      (
        from_wire: "DQSG:JDQSW270_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JDQSW_IOLOGIC_CORE_I_GEARING_PIC_TOP_A": [
      (
        from_wire: "DQSG:JDQSW_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JDQSW_IOLOGIC_CORE_I_GEARING_PIC_TOP_B": [
      (
        from_wire: "DQSG:JDQSW_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JRDPNTR0_IOLOGIC_CORE_I_GEARING_PIC_TOP_A": [
      (
        from_wire: "DQSG:JRDPNTR0_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JRDPNTR0_IOLOGIC_CORE_I_GEARING_PIC_TOP_B": [
      (
        from_wire: "DQSG:JRDPNTR0_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JRDPNTR1_IOLOGIC_CORE_I_GEARING_PIC_TOP_A": [
      (
        from_wire: "DQSG:JRDPNTR1_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JRDPNTR1_IOLOGIC_CORE_I_GEARING_PIC_TOP_B": [
      (
        from_wire: "DQSG:JRDPNTR1_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JRDPNTR2_IOLOGIC_CORE_I_GEARING_PIC_TOP_A": [
      (
        from_wire: "DQSG:JRDPNTR2_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JRDPNTR2_IOLOGIC_CORE_I_GEARING_PIC_TOP_B": [
      (
        from_wire: "DQSG:JRDPNTR2_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JWRPNTR0_IOLOGIC_CORE_I_GEARING_PIC_TOP_A": [
      (
        from_wire: "DQSG:JWRPNTR0_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JWRPNTR0_IOLOGIC_CORE_I_GEARING_PIC_TOP_B": [
      (
        from_wire: "DQSG:JWRPNTR0_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JWRPNTR1_IOLOGIC_CORE_I_GEARING_PIC_TOP_A": [
      (
        from_wire: "DQSG:JWRPNTR1_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JWRPNTR1_IOLOGIC_CORE_I_GEARING_PIC_TOP_B": [
      (
        from_wire: "DQSG:JWRPNTR1_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JWRPNTR2_IOLOGIC_CORE_I_GEARING_PIC_TOP_A": [
      (
        from_wire: "DQSG:JWRPNTR2_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
    "JWRPNTR2_IOLOGIC_CORE_I_GEARING_PIC_TOP_B": [
      (
        from_wire: "DQSG:JWRPNTR2_DQSBUFA_CORE_I_DQS_TOP",
      ),
    ],
  },
)