(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "JPADDO_SEIO33_CORE_IOB": [
      (
        from_wire: "E1:JCIBMUXOUTB4",
      ),
    ],
    "JPADDT_SEIO33_CORE_IOB": [
      (
        from_wire: "E1:JCIBMUXOUTC0",
      ),
    ],
    "JTSDATA0_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "E1:JCIBMUXOUTC0",
      ),
    ],
    "JTXDATA0_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "E1:JCIBMUXOUTB4",
      ),
    ],
  },
)