(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "JECLKIN0_I217": [
      (
        from_wire: "G:JECLKOUT0_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKIN0_I218": [
      (
        from_wire: "G:JECLKOUT0_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKIN1_I217": [
      (
        from_wire: "G:JECLKOUT1_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKIN1_I218": [
      (
        from_wire: "G:JECLKOUT1_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKIN2_I217": [
      (
        from_wire: "G:JECLKOUT2_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKIN2_I218": [
      (
        from_wire: "G:JECLKOUT2_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKIN3_I217": [
      (
        from_wire: "G:JECLKOUT3_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKIN3_I218": [
      (
        from_wire: "G:JECLKOUT3_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JIVREF_IN_DIFFIO18A_CORE_IOA": [
      (
        from_wire: "BANK:JIVREFO_IVREF_CORE",
      ),
    ],
    "JIVREF_IN_SEIO18A_CORE_IOB": [
      (
        from_wire: "BANK:JIVREFO_IVREF_CORE",
      ),
    ],
  },
)