(
  pips: {
    "E1:JFBKCK_FBMUX_CORE_FBKMUX": [
      (
        from_wire: "E1:JFBKCLK10_FBMUX_CORE_FBKMUX",
        bits: [(frame:4,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK11_FBMUX_CORE_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:4,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK12_FBMUX_CORE_FBKMUX",
        bits: [(frame:5,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK13_FBMUX_CORE_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:5,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK14_FBMUX_CORE_FBKMUX",
        bits: [(frame:4,bit:2,invert:false,),(frame:5,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK15_FBMUX_CORE_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:4,bit:2,invert:false,),(frame:5,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK1_FBMUX_CORE_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK2_FBMUX_CORE_FBKMUX",
        bits: [(frame:4,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK3_FBMUX_CORE_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:4,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK4_FBMUX_CORE_FBKMUX",
        bits: [(frame:5,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK5_FBMUX_CORE_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:5,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK6_FBMUX_CORE_FBKMUX",
        bits: [(frame:4,bit:2,invert:false,),(frame:5,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK7_FBMUX_CORE_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:4,bit:2,invert:false,),(frame:5,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK8_FBMUX_CORE_FBKMUX",
        bits: [(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK9_FBMUX_CORE_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
    ],
    "E1:JREFCK_REFMUX_CORE_REFMUX": [
      (
        from_wire: "E1:JREFCLK11_REFMUX_CORE_REFMUX",
        bits: [(frame:9,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK12_REFMUX_CORE_REFMUX",
        bits: [(frame:10,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK13_REFMUX_CORE_REFMUX",
        bits: [(frame:9,bit:1,invert:false,),(frame:10,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK14_REFMUX_CORE_REFMUX",
        bits: [(frame:11,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK15_REFMUX_CORE_REFMUX",
        bits: [(frame:9,bit:1,invert:false,),(frame:11,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK16_REFMUX_CORE_REFMUX",
        bits: [(frame:10,bit:1,invert:false,),(frame:11,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK17_REFMUX_CORE_REFMUX",
        bits: [(frame:9,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:11,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK20_REFMUX_CORE_REFMUX",
        bits: [(frame:10,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK21_REFMUX_CORE_REFMUX",
        bits: [(frame:10,bit:2,invert:false,),(frame:14,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK22_REFMUX_CORE_REFMUX",
        bits: [(frame:10,bit:2,invert:false,),(frame:15,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK23_REFMUX_CORE_REFMUX",
        bits: [(frame:10,bit:2,invert:false,),(frame:14,bit:1,invert:false,),(frame:15,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK24_REFMUX_CORE_REFMUX",
        bits: [(frame:0,bit:2,invert:false,),(frame:10,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK25_REFMUX_CORE_REFMUX",
        bits: [(frame:0,bit:2,invert:false,),(frame:10,bit:2,invert:false,),(frame:14,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK26_REFMUX_CORE_REFMUX",
        bits: [(frame:0,bit:2,invert:false,),(frame:10,bit:2,invert:false,),(frame:15,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK27_REFMUX_CORE_REFMUX",
        bits: [(frame:0,bit:2,invert:false,),(frame:10,bit:2,invert:false,),(frame:14,bit:1,invert:false,),(frame:15,bit:1,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)