(
  pips: {},
  words: {
    "IOL_B64A.DELAYA.DEL_VALUE": (
      bits: [
        [(frame:43,bit:0,invert:false,),],
        [(frame:44,bit:0,invert:false,),],
        [(frame:45,bit:0,invert:false,),],
        [(frame:46,bit:0,invert:false,),],
        [(frame:47,bit:0,invert:false,),],
        [(frame:48,bit:0,invert:false,),],
        [(frame:49,bit:0,invert:false,),],
      ],
    ),
  },
  enums: {
    "IOL_B64A.DELAYA.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:52,bit:0,invert:false,),],
        "1P6NS": [(frame:53,bit:0,invert:false,),],
      },
    ),
    "IOL_B64A.DELAYA.COARSE_DELAY_MODE": (
      options: {
        "DYNAMIC": [(frame:51,bit:0,invert:false,),],
        "STATIC": [],
      },
    ),
    "IOL_B64A.DELAYA.EDGE_MONITOR": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:17,bit:0,invert:false,),],
      },
    ),
    "IOL_B64A.DELAYA.WAIT_FOR_EDGE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:42,bit:0,invert:false,),],
      },
    ),
  },
  conns: {},
)