(
  pips: {
    "JCIBMUXOUTA0": [
      (
        from_wire: "JCIBMUXINA0",
        bits: [(frame:0,bit:0,invert:true,),(frame:1,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB0",
        bits: [(frame:0,bit:0,invert:false,),(frame:1,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC0",
        bits: [(frame:0,bit:0,invert:true,),(frame:1,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND0",
        bits: [(frame:0,bit:0,invert:false,),(frame:1,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTA1": [
      (
        from_wire: "JCIBMUXINA1",
        bits: [(frame:10,bit:0,invert:true,),(frame:11,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB1",
        bits: [(frame:10,bit:0,invert:false,),(frame:11,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC1",
        bits: [(frame:10,bit:0,invert:true,),(frame:11,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND1",
        bits: [(frame:10,bit:0,invert:false,),(frame:11,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTA2": [
      (
        from_wire: "JCIBMUXINA2",
        bits: [(frame:26,bit:0,invert:true,),(frame:27,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB2",
        bits: [(frame:26,bit:0,invert:false,),(frame:27,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC2",
        bits: [(frame:26,bit:0,invert:true,),(frame:27,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND2",
        bits: [(frame:26,bit:0,invert:false,),(frame:27,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTA3": [
      (
        from_wire: "JCIBMUXINA3",
        bits: [(frame:36,bit:0,invert:true,),(frame:37,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB3",
        bits: [(frame:36,bit:0,invert:false,),(frame:37,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC3",
        bits: [(frame:36,bit:0,invert:true,),(frame:37,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND3",
        bits: [(frame:36,bit:0,invert:false,),(frame:37,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTA4": [
      (
        from_wire: "JCIBMUXINA4",
        bits: [(frame:52,bit:0,invert:true,),(frame:53,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB4",
        bits: [(frame:52,bit:0,invert:false,),(frame:53,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC4",
        bits: [(frame:52,bit:0,invert:true,),(frame:53,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND4",
        bits: [(frame:52,bit:0,invert:false,),(frame:53,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTA5": [
      (
        from_wire: "JCIBMUXINA5",
        bits: [(frame:62,bit:0,invert:true,),(frame:63,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB5",
        bits: [(frame:62,bit:0,invert:false,),(frame:63,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC5",
        bits: [(frame:62,bit:0,invert:true,),(frame:63,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND5",
        bits: [(frame:62,bit:0,invert:false,),(frame:63,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTA6": [
      (
        from_wire: "JCIBMUXINA6",
        bits: [(frame:78,bit:0,invert:true,),(frame:79,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB6",
        bits: [(frame:78,bit:0,invert:false,),(frame:79,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC6",
        bits: [(frame:78,bit:0,invert:true,),(frame:79,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND6",
        bits: [(frame:78,bit:0,invert:false,),(frame:79,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTA7": [
      (
        from_wire: "JCIBMUXINA7",
        bits: [(frame:88,bit:0,invert:true,),(frame:89,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB7",
        bits: [(frame:88,bit:0,invert:false,),(frame:89,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC7",
        bits: [(frame:88,bit:0,invert:true,),(frame:89,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND7",
        bits: [(frame:88,bit:0,invert:false,),(frame:89,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTB0": [
      (
        from_wire: "JCIBMUXINA0",
        bits: [(frame:2,bit:0,invert:true,),(frame:3,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB0",
        bits: [(frame:2,bit:0,invert:false,),(frame:3,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC0",
        bits: [(frame:2,bit:0,invert:true,),(frame:3,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND0",
        bits: [(frame:2,bit:0,invert:false,),(frame:3,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTB1": [
      (
        from_wire: "JCIBMUXINA1",
        bits: [(frame:13,bit:0,invert:true,),(frame:15,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB1",
        bits: [(frame:13,bit:0,invert:false,),(frame:15,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC1",
        bits: [(frame:13,bit:0,invert:true,),(frame:15,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND1",
        bits: [(frame:13,bit:0,invert:false,),(frame:15,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTB2": [
      (
        from_wire: "JCIBMUXINA2",
        bits: [(frame:28,bit:0,invert:true,),(frame:29,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB2",
        bits: [(frame:28,bit:0,invert:false,),(frame:29,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC2",
        bits: [(frame:28,bit:0,invert:true,),(frame:29,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND2",
        bits: [(frame:28,bit:0,invert:false,),(frame:29,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTB3": [
      (
        from_wire: "JCIBMUXINA3",
        bits: [(frame:39,bit:0,invert:true,),(frame:41,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB3",
        bits: [(frame:39,bit:0,invert:false,),(frame:41,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC3",
        bits: [(frame:39,bit:0,invert:true,),(frame:41,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND3",
        bits: [(frame:39,bit:0,invert:false,),(frame:41,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTB4": [
      (
        from_wire: "JCIBMUXINA4",
        bits: [(frame:54,bit:0,invert:true,),(frame:55,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB4",
        bits: [(frame:54,bit:0,invert:false,),(frame:55,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC4",
        bits: [(frame:54,bit:0,invert:true,),(frame:55,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND4",
        bits: [(frame:54,bit:0,invert:false,),(frame:55,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTB5": [
      (
        from_wire: "JCIBMUXINA5",
        bits: [(frame:65,bit:0,invert:true,),(frame:67,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB5",
        bits: [(frame:65,bit:0,invert:false,),(frame:67,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC5",
        bits: [(frame:65,bit:0,invert:true,),(frame:67,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND5",
        bits: [(frame:65,bit:0,invert:false,),(frame:67,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTB6": [
      (
        from_wire: "JCIBMUXINA6",
        bits: [(frame:80,bit:0,invert:true,),(frame:81,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB6",
        bits: [(frame:80,bit:0,invert:false,),(frame:81,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC6",
        bits: [(frame:80,bit:0,invert:true,),(frame:81,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND6",
        bits: [(frame:80,bit:0,invert:false,),(frame:81,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTB7": [
      (
        from_wire: "JCIBMUXINA7",
        bits: [(frame:91,bit:0,invert:true,),(frame:93,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB7",
        bits: [(frame:91,bit:0,invert:false,),(frame:93,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC7",
        bits: [(frame:91,bit:0,invert:true,),(frame:93,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND7",
        bits: [(frame:91,bit:0,invert:false,),(frame:93,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTC0": [
      (
        from_wire: "JCIBMUXINA0",
        bits: [(frame:4,bit:0,invert:true,),(frame:5,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB0",
        bits: [(frame:4,bit:0,invert:false,),(frame:5,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC0",
        bits: [(frame:4,bit:0,invert:true,),(frame:5,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND0",
        bits: [(frame:4,bit:0,invert:false,),(frame:5,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTC1": [
      (
        from_wire: "JCIBMUXINA1",
        bits: [(frame:16,bit:0,invert:true,),(frame:17,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB1",
        bits: [(frame:16,bit:0,invert:false,),(frame:17,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC1",
        bits: [(frame:16,bit:0,invert:true,),(frame:17,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND1",
        bits: [(frame:16,bit:0,invert:false,),(frame:17,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTC2": [
      (
        from_wire: "JCIBMUXINA2",
        bits: [(frame:30,bit:0,invert:true,),(frame:31,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB2",
        bits: [(frame:30,bit:0,invert:false,),(frame:31,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC2",
        bits: [(frame:30,bit:0,invert:true,),(frame:31,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND2",
        bits: [(frame:30,bit:0,invert:false,),(frame:31,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTC3": [
      (
        from_wire: "JCIBMUXINA3",
        bits: [(frame:42,bit:0,invert:true,),(frame:43,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB3",
        bits: [(frame:42,bit:0,invert:false,),(frame:43,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC3",
        bits: [(frame:42,bit:0,invert:true,),(frame:43,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND3",
        bits: [(frame:42,bit:0,invert:false,),(frame:43,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTC4": [
      (
        from_wire: "JCIBMUXINA4",
        bits: [(frame:56,bit:0,invert:true,),(frame:57,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB4",
        bits: [(frame:56,bit:0,invert:false,),(frame:57,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC4",
        bits: [(frame:56,bit:0,invert:true,),(frame:57,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND4",
        bits: [(frame:56,bit:0,invert:false,),(frame:57,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTC5": [
      (
        from_wire: "JCIBMUXINA5",
        bits: [(frame:68,bit:0,invert:true,),(frame:69,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB5",
        bits: [(frame:68,bit:0,invert:false,),(frame:69,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC5",
        bits: [(frame:68,bit:0,invert:true,),(frame:69,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND5",
        bits: [(frame:68,bit:0,invert:false,),(frame:69,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTC6": [
      (
        from_wire: "JCIBMUXINA6",
        bits: [(frame:82,bit:0,invert:true,),(frame:83,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB6",
        bits: [(frame:82,bit:0,invert:false,),(frame:83,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC6",
        bits: [(frame:82,bit:0,invert:true,),(frame:83,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND6",
        bits: [(frame:82,bit:0,invert:false,),(frame:83,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTC7": [
      (
        from_wire: "JCIBMUXINA7",
        bits: [(frame:94,bit:0,invert:true,),(frame:95,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB7",
        bits: [(frame:94,bit:0,invert:false,),(frame:95,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC7",
        bits: [(frame:94,bit:0,invert:true,),(frame:95,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND7",
        bits: [(frame:94,bit:0,invert:false,),(frame:95,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTD0": [
      (
        from_wire: "JCIBMUXINA0",
        bits: [(frame:6,bit:0,invert:true,),(frame:9,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB0",
        bits: [(frame:6,bit:0,invert:false,),(frame:9,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC0",
        bits: [(frame:6,bit:0,invert:true,),(frame:9,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND0",
        bits: [(frame:6,bit:0,invert:false,),(frame:9,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTD1": [
      (
        from_wire: "JCIBMUXINA1",
        bits: [(frame:18,bit:0,invert:true,),(frame:19,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB1",
        bits: [(frame:18,bit:0,invert:false,),(frame:19,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC1",
        bits: [(frame:18,bit:0,invert:true,),(frame:19,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND1",
        bits: [(frame:18,bit:0,invert:false,),(frame:19,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTD2": [
      (
        from_wire: "JCIBMUXINA2",
        bits: [(frame:32,bit:0,invert:true,),(frame:35,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB2",
        bits: [(frame:32,bit:0,invert:false,),(frame:35,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC2",
        bits: [(frame:32,bit:0,invert:true,),(frame:35,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND2",
        bits: [(frame:32,bit:0,invert:false,),(frame:35,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTD3": [
      (
        from_wire: "JCIBMUXINA3",
        bits: [(frame:44,bit:0,invert:true,),(frame:45,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB3",
        bits: [(frame:44,bit:0,invert:false,),(frame:45,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC3",
        bits: [(frame:44,bit:0,invert:true,),(frame:45,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND3",
        bits: [(frame:44,bit:0,invert:false,),(frame:45,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTD4": [
      (
        from_wire: "JCIBMUXINA4",
        bits: [(frame:58,bit:0,invert:true,),(frame:61,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB4",
        bits: [(frame:58,bit:0,invert:false,),(frame:61,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC4",
        bits: [(frame:58,bit:0,invert:true,),(frame:61,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND4",
        bits: [(frame:58,bit:0,invert:false,),(frame:61,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTD5": [
      (
        from_wire: "JCIBMUXINA5",
        bits: [(frame:70,bit:0,invert:true,),(frame:71,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB5",
        bits: [(frame:70,bit:0,invert:false,),(frame:71,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC5",
        bits: [(frame:70,bit:0,invert:true,),(frame:71,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND5",
        bits: [(frame:70,bit:0,invert:false,),(frame:71,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTD6": [
      (
        from_wire: "JCIBMUXINA6",
        bits: [(frame:84,bit:0,invert:true,),(frame:87,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB6",
        bits: [(frame:84,bit:0,invert:false,),(frame:87,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC6",
        bits: [(frame:84,bit:0,invert:true,),(frame:87,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND6",
        bits: [(frame:84,bit:0,invert:false,),(frame:87,bit:0,invert:false,),],
      ),
    ],
    "JCIBMUXOUTD7": [
      (
        from_wire: "JCIBMUXINA7",
        bits: [(frame:96,bit:0,invert:true,),(frame:97,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINB7",
        bits: [(frame:96,bit:0,invert:false,),(frame:97,bit:0,invert:true,),],
      ),
      (
        from_wire: "JCIBMUXINC7",
        bits: [(frame:96,bit:0,invert:true,),(frame:97,bit:0,invert:false,),],
      ),
      (
        from_wire: "JCIBMUXIND7",
        bits: [(frame:96,bit:0,invert:false,),(frame:97,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)