(
  pips: {
    "N1:JCLKOUT_I0": [
      (
        from_wire: "N1:JECLK0_I0",
        bits: [(frame:9,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JECLK1_I0",
        bits: [(frame:9,bit:0,invert:false,),(frame:11,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JECLK2_I0",
        bits: [(frame:9,bit:0,invert:false,),(frame:10,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JECLK3_I0",
        bits: [(frame:9,bit:0,invert:false,),(frame:10,bit:0,invert:false,),(frame:11,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JPCLK_I0",
        bits: [(frame:11,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {
    "BANK3.VREF2_USED": (
      options: {
        "OFF": [],
        "ON": [(frame:94,bit:1,invert:false,),],
      },
      desc: "use VREF2 input for bank 3",
    ),
  },
  conns: {},
)