(
  pips: {},
  words: {
    "CONFIG_IP_CORE.DSRFCTRL": (
      bits: [
        [(frame:101,bit:0,invert:false,),],
        [(frame:102,bit:0,invert:false,),],
      ],
    ),
    "CONFIG_MULTIBOOT_CORE.MSPIADDR": (
      bits: [
        [(frame:24,bit:0,invert:false,),],
        [(frame:25,bit:0,invert:false,),],
        [(frame:26,bit:0,invert:false,),],
        [(frame:27,bit:0,invert:false,),],
        [(frame:28,bit:0,invert:false,),],
        [(frame:29,bit:0,invert:false,),],
        [(frame:32,bit:0,invert:false,),],
        [(frame:33,bit:0,invert:false,),],
        [(frame:35,bit:0,invert:false,),],
        [(frame:36,bit:0,invert:false,),],
        [(frame:37,bit:0,invert:false,),],
        [(frame:38,bit:0,invert:false,),],
        [(frame:39,bit:0,invert:false,),],
        [(frame:40,bit:0,invert:false,),],
        [(frame:41,bit:0,invert:false,),],
        [(frame:42,bit:0,invert:false,),],
        [(frame:43,bit:0,invert:false,),],
        [(frame:44,bit:0,invert:false,),],
        [(frame:45,bit:0,invert:false,),],
        [(frame:46,bit:0,invert:false,),],
        [(frame:47,bit:0,invert:false,),],
        [(frame:48,bit:0,invert:false,),],
        [(frame:49,bit:0,invert:false,),],
        [(frame:50,bit:0,invert:false,),],
        [(frame:14,bit:0,invert:false,),],
        [(frame:16,bit:0,invert:false,),],
        [(frame:18,bit:0,invert:false,),],
        [(frame:19,bit:0,invert:false,),],
        [(frame:20,bit:0,invert:false,),],
        [(frame:21,bit:0,invert:false,),],
        [(frame:22,bit:0,invert:false,),],
        [(frame:23,bit:0,invert:false,),],
      ],
      desc: "SPI flash fixed next address",
    ),
    "CONFIG_WDT_CORE.WDTVALUE": (
      bits: [
        [(frame:99,bit:0,invert:false,),],
        [(frame:105,bit:0,invert:false,),],
        [(frame:0,bit:1,invert:false,),],
        [(frame:1,bit:1,invert:false,),],
        [(frame:2,bit:1,invert:false,),],
        [(frame:3,bit:1,invert:false,),],
        [(frame:4,bit:1,invert:false,),],
        [(frame:5,bit:1,invert:false,),],
        [(frame:6,bit:1,invert:false,),],
        [(frame:7,bit:1,invert:false,),],
        [(frame:8,bit:1,invert:false,),],
        [(frame:9,bit:1,invert:false,),],
        [(frame:10,bit:1,invert:false,),],
        [(frame:11,bit:1,invert:false,),],
        [(frame:12,bit:1,invert:false,),],
        [(frame:13,bit:1,invert:false,),],
        [(frame:14,bit:1,invert:false,),],
        [(frame:15,bit:1,invert:false,),],
      ],
      desc: "watchdog timer timeout count",
    ),
  },
  enums: {
    "CONFIG_CLKRST_CORE.MCJTAGGSRNDIS": (
      options: {
        "DIS": [(frame:59,bit:0,invert:false,),],
        "EN": [],
      },
    ),
    "CONFIG_CLKRST_CORE.MCLMMIGSRNDIS": (
      options: {
        "DIS": [(frame:55,bit:0,invert:false,),],
        "EN": [],
      },
    ),
    "CONFIG_CLKRST_CORE.MCSEDCGSRNDIS": (
      options: {
        "DIS": [(frame:57,bit:0,invert:false,),],
        "EN": [],
      },
    ),
    "CONFIG_CLKRST_CORE.MCWDTGSRNDIS": (
      options: {
        "DIS": [(frame:58,bit:0,invert:false,),],
        "EN": [],
      },
    ),
    "CONFIG_CRE_CORE.MODE": (
      options: {
        "CONFIG_CRE_CORE": [(frame:12,bit:0,invert:false,),],
        "NONE": [],
      },
      desc: "CONFIG_CRE_CORE primitive mode",
    ),
    "CONFIG_IP_CORE.DONEPHASE": (
      options: {
        "DIS": [],
        "EN": [(frame:9,bit:0,invert:false,),],
      },
      desc: "changes point at which DONE is asserted during startup",
    ),
    "CONFIG_IP_CORE.ENTSALL": (
      options: {
        "DIS": [],
        "EN": [(frame:10,bit:0,invert:false,),],
      },
    ),
    "CONFIG_IP_CORE.MCCIBINT": (
      options: {
        "DIS": [(frame:93,bit:0,invert:false,),],
        "EN": [],
      },
    ),
    "CONFIG_IP_CORE.MCJTAGDISABLE": (
      options: {
        "DIS": [(frame:19,bit:1,invert:false,),],
        "EN": [],
      },
    ),
    "CONFIG_IP_CORE.MCPERSISTUI2C": (
      options: {
        "DIS": [(frame:82,bit:0,invert:false,),],
        "EN": [],
      },
      desc: "keep user I2C open after configuration",
    ),
    "CONFIG_IP_CORE.MCUCLKSEL": (
      options: {
        "DIS": [(frame:91,bit:0,invert:false,),],
        "EN": [],
      },
    ),
    "CONFIG_IP_CORE.MCUI2CAFWKUP": (
      options: {
        "DIS": [(frame:94,bit:0,invert:false,),],
        "EN": [],
      },
    ),
    "CONFIG_IP_CORE.PERSISTI2C": (
      options: {
        "DIS": [],
        "EN": [(frame:81,bit:0,invert:false,),],
      },
      desc: "keep I2C open after configuration",
    ),
    "CONFIG_IP_CORE.PERSISTI3C": (
      options: {
        "DIS": [],
        "EN": [(frame:17,bit:1,invert:false,),],
      },
      desc: "keep I3C open after configuration",
    ),
    "CONFIG_IP_CORE.PERSISTMQUAD": (
      options: {
        "DIS": [],
        "EN": [(frame:78,bit:0,invert:false,),],
      },
      desc: "keep master QSPI open after configuration",
    ),
    "CONFIG_IP_CORE.PERSISTMSPI": (
      options: {
        "DIS": [],
        "EN": [(frame:75,bit:0,invert:false,),],
      },
      desc: "keep master SPI open after configuration",
    ),
    "CONFIG_IP_CORE.PERSISTSHEXA": (
      options: {
        "DIS": [],
        "EN": [(frame:18,bit:1,invert:false,),],
      },
      desc: "keep slave 16-bit \'SPI\' open after configuration",
    ),
    "CONFIG_IP_CORE.PERSISTSOCTA": (
      options: {
        "DIS": [],
        "EN": [(frame:80,bit:0,invert:false,),],
      },
      desc: "keep slave 8-bit \'SPI\' open after configuration",
    ),
    "CONFIG_IP_CORE.PERSISTSQUAD": (
      options: {
        "DIS": [],
        "EN": [(frame:79,bit:0,invert:false,),],
      },
      desc: "keep slave QSPI open after configuration",
    ),
    "CONFIG_IP_CORE.PERSISTSSPI": (
      options: {
        "DIS": [],
        "EN": [(frame:77,bit:0,invert:false,),],
      },
      desc: "keep slave SPI open after configuration",
    ),
    "CONFIG_IP_CORE.SCANEN": (
      options: {
        "DIS": [],
        "EN": [(frame:87,bit:0,invert:false,),(frame:89,bit:0,invert:false,),(frame:90,bit:0,invert:false,),],
      },
    ),
    "CONFIG_IP_CORE.SYNCEXTDONE": (
      options: {
        "DIS": [],
        "EN": [(frame:51,bit:0,invert:false,),],
      },
    ),
    "CONFIG_IP_CORE.TRANECI": (
      options: {
        "DIS": [],
        "EN": [(frame:68,bit:0,invert:false,),],
      },
    ),
    "CONFIG_IP_CORE.TRANHSE": (
      options: {
        "DIS": [],
        "EN": [(frame:53,bit:0,invert:false,),],
      },
    ),
    "CONFIG_IP_CORE.TRANSBI": (
      options: {
        "DIS": [],
        "EN": [(frame:70,bit:0,invert:false,),],
      },
    ),
    "CONFIG_IP_CORE.WLSLEW": (
      options: {
        "DIS": [],
        "EN": [(frame:84,bit:0,invert:false,),],
      },
    ),
    "CONFIG_LMMI_CORE.LMMI_EN": (
      options: {
        "DIS": [],
        "EN": [(frame:5,bit:0,invert:false,),],
      },
      desc: "enable LMMI access to configuration",
    ),
    "CONFIG_MULTIBOOT_CORE.SOURCESEL": (
      options: {
        "DIS": [],
        "EN": [(frame:71,bit:0,invert:false,),],
      },
      desc: "selects next address from input pins or fixed parameter",
    ),
    "CONFIG_WDT_CORE.WDTEN": (
      options: {
        "DIS": [],
        "EN": [(frame:95,bit:0,invert:false,),],
      },
      desc: "enable watchdog timer",
    ),
    "CONFIG_WDT_CORE.WDTMODE": (
      options: {
        "CONTINUOUS": [(frame:98,bit:0,invert:false,),],
        "SINGLE": [],
      },
      desc: "watchdog timer mode",
    ),
    "SYSCONFIG.MASTER_SPI_PORT": (
      options: {
        "DISABLE": [],
        "DUAL": [(frame:75,bit:0,invert:false,),],
        "QUAD": [(frame:75,bit:0,invert:false,),(frame:78,bit:0,invert:false,),],
        "SERIAL": [(frame:75,bit:0,invert:false,),],
      },
      desc: "status of master SPI port after configuration",
    ),
    "SYSCONFIG.SLAVE_I2C_PORT": (
      options: {
        "DISABLE": [],
        "ENABLE": [(frame:81,bit:0,invert:false,),],
      },
      desc: "status of slave I2C port after configuration",
    ),
    "SYSCONFIG.SLAVE_I3C_PORT": (
      options: {
        "DISABLE": [],
        "ENABLE": [(frame:17,bit:1,invert:false,),],
      },
      desc: "status of slave I3C port after configuration",
    ),
    "SYSCONFIG.SLAVE_SPI_PORT": (
      options: {
        "DISABLE": [],
        "DUAL": [(frame:77,bit:0,invert:false,),],
        "QUAD": [(frame:77,bit:0,invert:false,),(frame:79,bit:0,invert:false,),],
        "SERIAL": [(frame:77,bit:0,invert:false,),],
      },
      desc: "status of slave SPI port after configuration",
    ),
    "WDT.WDTEN": (
      options: {
        "DIS": [],
        "EN": [(frame:95,bit:0,invert:false,),],
      },
    ),
    "WDT.WDTMODE": (
      options: {
        "CONTINUOUS": [(frame:98,bit:0,invert:false,),],
        "SINGLE": [],
      },
    ),
  },
  conns: {},
  always_on: [
    (
      frame: 8,
      bit: 0,
      invert: false,
    ),
    (
      frame: 64,
      bit: 0,
      invert: false,
    ),
  ],
  bels: [
    (
      name: "WDT",
      beltype: "WDT",
      pins: [
        (name:"WDTRELOAD",dir:INPUT,wire:(rel_x:-14,name:"JCIBWDTRELOAD_CONFIG_WDT_CORE_CONFIG_WDT",),),
        (name:"WDT_CLK",dir:INPUT,wire:(rel_x:-14,name:"JWDT_CLK_CONFIG_WDT_CORE_CONFIG_WDT",),),
        (name:"WDT_RST",dir:INPUT,wire:(rel_x:-14,name:"JWDT_RST_CONFIG_WDT_CORE_CONFIG_WDT",),),
      ],
    ),
  ],
)