(
  pips: {
    "N1:JFBKCK_FBMUX_CORE_FBKMUX": [
      (
        from_wire: "N1:JFBKCLK10_FBMUX_CORE_FBKMUX",
        bits: [(frame:36,bit:0,invert:false,),(frame:38,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK11_FBMUX_CORE_FBKMUX",
        bits: [(frame:35,bit:0,invert:false,),(frame:36,bit:0,invert:false,),(frame:38,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK12_FBMUX_CORE_FBKMUX",
        bits: [(frame:37,bit:0,invert:false,),(frame:38,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK13_FBMUX_CORE_FBKMUX",
        bits: [(frame:35,bit:0,invert:false,),(frame:37,bit:0,invert:false,),(frame:38,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK14_FBMUX_CORE_FBKMUX",
        bits: [(frame:36,bit:0,invert:false,),(frame:37,bit:0,invert:false,),(frame:38,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK15_FBMUX_CORE_FBKMUX",
        bits: [(frame:35,bit:0,invert:false,),(frame:36,bit:0,invert:false,),(frame:37,bit:0,invert:false,),(frame:38,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK1_FBMUX_CORE_FBKMUX",
        bits: [(frame:35,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK2_FBMUX_CORE_FBKMUX",
        bits: [(frame:36,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK3_FBMUX_CORE_FBKMUX",
        bits: [(frame:35,bit:0,invert:false,),(frame:36,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK4_FBMUX_CORE_FBKMUX",
        bits: [(frame:37,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK5_FBMUX_CORE_FBKMUX",
        bits: [(frame:35,bit:0,invert:false,),(frame:37,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK6_FBMUX_CORE_FBKMUX",
        bits: [(frame:36,bit:0,invert:false,),(frame:37,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK7_FBMUX_CORE_FBKMUX",
        bits: [(frame:35,bit:0,invert:false,),(frame:36,bit:0,invert:false,),(frame:37,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK8_FBMUX_CORE_FBKMUX",
        bits: [(frame:38,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JFBKCLK9_FBMUX_CORE_FBKMUX",
        bits: [(frame:35,bit:0,invert:false,),(frame:38,bit:0,invert:false,),],
      ),
    ],
    "N1:JREFCK_REFMUX_CORE_REFMUX": [
      (
        from_wire: "N1:JREFCLK11_REFMUX_CORE_REFMUX",
        bits: [(frame:25,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK12_REFMUX_CORE_REFMUX",
        bits: [(frame:26,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK13_REFMUX_CORE_REFMUX",
        bits: [(frame:25,bit:0,invert:false,),(frame:26,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK14_REFMUX_CORE_REFMUX",
        bits: [(frame:27,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK15_REFMUX_CORE_REFMUX",
        bits: [(frame:25,bit:0,invert:false,),(frame:27,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK16_REFMUX_CORE_REFMUX",
        bits: [(frame:26,bit:0,invert:false,),(frame:27,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK17_REFMUX_CORE_REFMUX",
        bits: [(frame:25,bit:0,invert:false,),(frame:26,bit:0,invert:false,),(frame:27,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK20_REFMUX_CORE_REFMUX",
        bits: [(frame:42,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK21_REFMUX_CORE_REFMUX",
        bits: [(frame:30,bit:0,invert:false,),(frame:42,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK22_REFMUX_CORE_REFMUX",
        bits: [(frame:31,bit:0,invert:false,),(frame:42,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK23_REFMUX_CORE_REFMUX",
        bits: [(frame:30,bit:0,invert:false,),(frame:31,bit:0,invert:false,),(frame:42,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK24_REFMUX_CORE_REFMUX",
        bits: [(frame:32,bit:0,invert:false,),(frame:42,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK25_REFMUX_CORE_REFMUX",
        bits: [(frame:30,bit:0,invert:false,),(frame:32,bit:0,invert:false,),(frame:42,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK26_REFMUX_CORE_REFMUX",
        bits: [(frame:31,bit:0,invert:false,),(frame:32,bit:0,invert:false,),(frame:42,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JREFCLK27_REFMUX_CORE_REFMUX",
        bits: [(frame:30,bit:0,invert:false,),(frame:31,bit:0,invert:false,),(frame:32,bit:0,invert:false,),(frame:42,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)