(
  pips: {},
  words: {},
  enums: {
    "LRAM1.ASYNC_RST_RELEASE": (
      options: {
        "ASYNC": [(frame:10,bit:0,invert:false,),],
        "SYNC": [],
      },
      desc: "LRAM reset release configuration",
    ),
    "LRAM1.CLK": (
      options: {
        "#SIG": [(frame:0,bit:0,invert:true,),],
        "INV": [(frame:0,bit:0,invert:false,),],
      },
      desc: "LRAM CLK inversion control",
    ),
    "LRAM1.CSA": (
      options: {
        "#SIG": [(frame:1,bit:0,invert:true,),],
        "INV": [(frame:1,bit:0,invert:false,),],
      },
      desc: "LRAM CSA inversion control",
    ),
    "LRAM1.CSB": (
      options: {
        "#SIG": [(frame:2,bit:0,invert:true,),],
        "INV": [(frame:2,bit:0,invert:false,),],
      },
      desc: "LRAM CSB inversion control",
    ),
    "LRAM1.DATA_PRESERVE": (
      options: {
        "DISABLE": [],
        "ENABLE": [(frame:7,bit:0,invert:false,),],
      },
      desc: "LRAM data preservation across resets",
    ),
    "LRAM1.EBR_SP_EN": (
      options: {
        "DISABLE": [],
        "ENABLE": [(frame:10,bit:1,invert:false,),],
      },
      desc: "EBR single port mode",
    ),
    "LRAM1.ECC_BYTE_SEL": (
      options: {
        "BYTE_EN": [(frame:3,bit:0,invert:false,),],
        "ECC_EN": [],
      },
    ),
    "LRAM1.GSR": (
      options: {
        "DISABLED": [(frame:4,bit:0,invert:false,),],
        "ENABLED": [],
      },
      desc: "LRAM global set/reset mask",
    ),
    "LRAM1.OUT_REGMODE_A": (
      options: {
        "NO_REG": [],
        "OUT_REG": [(frame:5,bit:0,invert:false,),],
      },
      desc: "LRAM output pipeline register A enable",
    ),
    "LRAM1.OUT_REGMODE_B": (
      options: {
        "NO_REG": [],
        "OUT_REG": [(frame:6,bit:0,invert:false,),],
      },
      desc: "LRAM output pipeline register B enable",
    ),
    "LRAM1.RESETMODE": (
      options: {
        "ASYNC": [(frame:13,bit:1,invert:false,),],
        "SYNC": [],
      },
      desc: "LRAM sync/async reset select",
    ),
    "LRAM1.RSTA": (
      options: {
        "#SIG": [(frame:8,bit:0,invert:true,),],
        "INV": [(frame:8,bit:0,invert:false,),],
      },
      desc: "LRAM RSTA inversion control",
    ),
    "LRAM1.RSTB": (
      options: {
        "#SIG": [(frame:9,bit:0,invert:true,),],
        "INV": [(frame:9,bit:0,invert:false,),],
      },
      desc: "LRAM RSTB inversion control",
    ),
    "LRAM1.RST_AB_EN": (
      options: {
        "RESET_AB_DISABLE": [],
        "RESET_AB_ENABLE": [(frame:15,bit:0,invert:false,),],
      },
      desc: "LRAM reset A/B enable",
    ),
    "LRAM1.SP_EN": (
      options: {
        "DISABLE": [],
        "ENABLE": [(frame:12,bit:1,invert:false,),],
      },
      desc: "LRAM single port mode",
    ),
    "LRAM1.UNALIGNED_READ": (
      options: {
        "DISABLE": [],
        "ENABLE": [(frame:11,bit:0,invert:false,),],
      },
      desc: "LRAM unaligned read support",
    ),
    "LRAM1.WEA": (
      options: {
        "#SIG": [(frame:13,bit:0,invert:true,),],
        "INV": [(frame:13,bit:0,invert:false,),],
      },
      desc: "LRAM WEA inversion control",
    ),
  },
  conns: {},
  tile_configures_external_tiles: [
    (-1, 0),
  ],
  bels: [
    (
      name: "LRAM1",
      beltype: "LRAM_CORE",
      pins: [
        (name:"ADA0",dir:INPUT,wire:(name:"JADA0_LRAM_CORE",),),
        (name:"ADA1",dir:INPUT,wire:(name:"JADA1_LRAM_CORE",),),
        (name:"ADA10",dir:INPUT,wire:(name:"JADA10_LRAM_CORE",),),
        (name:"ADA11",dir:INPUT,wire:(name:"JADA11_LRAM_CORE",),),
        (name:"ADA12",dir:INPUT,wire:(name:"JADA12_LRAM_CORE",),),
        (name:"ADA13",dir:INPUT,wire:(name:"JADA13_LRAM_CORE",),),
        (name:"ADA2",dir:INPUT,wire:(name:"JADA2_LRAM_CORE",),),
        (name:"ADA3",dir:INPUT,wire:(name:"JADA3_LRAM_CORE",),),
        (name:"ADA4",dir:INPUT,wire:(name:"JADA4_LRAM_CORE",),),
        (name:"ADA5",dir:INPUT,wire:(name:"JADA5_LRAM_CORE",),),
        (name:"ADA6",dir:INPUT,wire:(name:"JADA6_LRAM_CORE",),),
        (name:"ADA7",dir:INPUT,wire:(name:"JADA7_LRAM_CORE",),),
        (name:"ADA8",dir:INPUT,wire:(name:"JADA8_LRAM_CORE",),),
        (name:"ADA9",dir:INPUT,wire:(name:"JADA9_LRAM_CORE",),),
        (name:"ADB0",dir:INPUT,wire:(name:"JADB0_LRAM_CORE",),),
        (name:"ADB1",dir:INPUT,wire:(name:"JADB1_LRAM_CORE",),),
        (name:"ADB10",dir:INPUT,wire:(name:"JADB10_LRAM_CORE",),),
        (name:"ADB11",dir:INPUT,wire:(name:"JADB11_LRAM_CORE",),),
        (name:"ADB12",dir:INPUT,wire:(name:"JADB12_LRAM_CORE",),),
        (name:"ADB13",dir:INPUT,wire:(name:"JADB13_LRAM_CORE",),),
        (name:"ADB2",dir:INPUT,wire:(name:"JADB2_LRAM_CORE",),),
        (name:"ADB3",dir:INPUT,wire:(name:"JADB3_LRAM_CORE",),),
        (name:"ADB4",dir:INPUT,wire:(name:"JADB4_LRAM_CORE",),),
        (name:"ADB5",dir:INPUT,wire:(name:"JADB5_LRAM_CORE",),),
        (name:"ADB6",dir:INPUT,wire:(name:"JADB6_LRAM_CORE",),),
        (name:"ADB7",dir:INPUT,wire:(name:"JADB7_LRAM_CORE",),),
        (name:"ADB8",dir:INPUT,wire:(name:"JADB8_LRAM_CORE",),),
        (name:"ADB9",dir:INPUT,wire:(name:"JADB9_LRAM_CORE",),),
        (name:"BENA_N0",dir:INPUT,wire:(name:"JBENA_N0_LRAM_CORE",),),
        (name:"BENA_N1",dir:INPUT,wire:(name:"JBENA_N1_LRAM_CORE",),),
        (name:"BENA_N2",dir:INPUT,wire:(name:"JBENA_N2_LRAM_CORE",),),
        (name:"BENA_N3",dir:INPUT,wire:(name:"JBENA_N3_LRAM_CORE",),),
        (name:"BENB_N0",dir:INPUT,wire:(name:"JBENB_N0_LRAM_CORE",),),
        (name:"BENB_N1",dir:INPUT,wire:(name:"JBENB_N1_LRAM_CORE",),),
        (name:"BENB_N2",dir:INPUT,wire:(name:"JBENB_N2_LRAM_CORE",),),
        (name:"BENB_N3",dir:INPUT,wire:(name:"JBENB_N3_LRAM_CORE",),),
        (name:"CEA",dir:INPUT,wire:(name:"JCEA_LRAM_CORE",),),
        (name:"CEB",dir:INPUT,wire:(name:"JCEB_LRAM_CORE",),),
        (name:"CLK",dir:INPUT,wire:(name:"JCLK_LRAM_CORE",),),
        (name:"CSA",dir:INPUT,wire:(name:"JCSA_LRAM_CORE",),),
        (name:"CSB",dir:INPUT,wire:(name:"JCSB_LRAM_CORE",),),
        (name:"DIA0",dir:INPUT,wire:(name:"JDIA0_LRAM_CORE",),),
        (name:"DIA1",dir:INPUT,wire:(name:"JDIA1_LRAM_CORE",),),
        (name:"DIA10",dir:INPUT,wire:(name:"JDIA10_LRAM_CORE",),),
        (name:"DIA11",dir:INPUT,wire:(name:"JDIA11_LRAM_CORE",),),
        (name:"DIA12",dir:INPUT,wire:(name:"JDIA12_LRAM_CORE",),),
        (name:"DIA13",dir:INPUT,wire:(name:"JDIA13_LRAM_CORE",),),
        (name:"DIA14",dir:INPUT,wire:(name:"JDIA14_LRAM_CORE",),),
        (name:"DIA15",dir:INPUT,wire:(name:"JDIA15_LRAM_CORE",),),
        (name:"DIA16",dir:INPUT,wire:(name:"JDIA16_LRAM_CORE",),),
        (name:"DIA17",dir:INPUT,wire:(name:"JDIA17_LRAM_CORE",),),
        (name:"DIA18",dir:INPUT,wire:(name:"JDIA18_LRAM_CORE",),),
        (name:"DIA19",dir:INPUT,wire:(name:"JDIA19_LRAM_CORE",),),
        (name:"DIA2",dir:INPUT,wire:(name:"JDIA2_LRAM_CORE",),),
        (name:"DIA20",dir:INPUT,wire:(name:"JDIA20_LRAM_CORE",),),
        (name:"DIA21",dir:INPUT,wire:(name:"JDIA21_LRAM_CORE",),),
        (name:"DIA22",dir:INPUT,wire:(name:"JDIA22_LRAM_CORE",),),
        (name:"DIA23",dir:INPUT,wire:(name:"JDIA23_LRAM_CORE",),),
        (name:"DIA24",dir:INPUT,wire:(name:"JDIA24_LRAM_CORE",),),
        (name:"DIA25",dir:INPUT,wire:(name:"JDIA25_LRAM_CORE",),),
        (name:"DIA26",dir:INPUT,wire:(name:"JDIA26_LRAM_CORE",),),
        (name:"DIA27",dir:INPUT,wire:(name:"JDIA27_LRAM_CORE",),),
        (name:"DIA28",dir:INPUT,wire:(name:"JDIA28_LRAM_CORE",),),
        (name:"DIA29",dir:INPUT,wire:(name:"JDIA29_LRAM_CORE",),),
        (name:"DIA3",dir:INPUT,wire:(name:"JDIA3_LRAM_CORE",),),
        (name:"DIA30",dir:INPUT,wire:(name:"JDIA30_LRAM_CORE",),),
        (name:"DIA31",dir:INPUT,wire:(name:"JDIA31_LRAM_CORE",),),
        (name:"DIA4",dir:INPUT,wire:(name:"JDIA4_LRAM_CORE",),),
        (name:"DIA5",dir:INPUT,wire:(name:"JDIA5_LRAM_CORE",),),
        (name:"DIA6",dir:INPUT,wire:(name:"JDIA6_LRAM_CORE",),),
        (name:"DIA7",dir:INPUT,wire:(name:"JDIA7_LRAM_CORE",),),
        (name:"DIA8",dir:INPUT,wire:(name:"JDIA8_LRAM_CORE",),),
        (name:"DIA9",dir:INPUT,wire:(name:"JDIA9_LRAM_CORE",),),
        (name:"DIB0",dir:INPUT,wire:(name:"JDIB0_LRAM_CORE",),),
        (name:"DIB1",dir:INPUT,wire:(name:"JDIB1_LRAM_CORE",),),
        (name:"DIB10",dir:INPUT,wire:(name:"JDIB10_LRAM_CORE",),),
        (name:"DIB11",dir:INPUT,wire:(name:"JDIB11_LRAM_CORE",),),
        (name:"DIB12",dir:INPUT,wire:(name:"JDIB12_LRAM_CORE",),),
        (name:"DIB13",dir:INPUT,wire:(name:"JDIB13_LRAM_CORE",),),
        (name:"DIB14",dir:INPUT,wire:(name:"JDIB14_LRAM_CORE",),),
        (name:"DIB15",dir:INPUT,wire:(name:"JDIB15_LRAM_CORE",),),
        (name:"DIB16",dir:INPUT,wire:(name:"JDIB16_LRAM_CORE",),),
        (name:"DIB17",dir:INPUT,wire:(name:"JDIB17_LRAM_CORE",),),
        (name:"DIB18",dir:INPUT,wire:(name:"JDIB18_LRAM_CORE",),),
        (name:"DIB19",dir:INPUT,wire:(name:"JDIB19_LRAM_CORE",),),
        (name:"DIB2",dir:INPUT,wire:(name:"JDIB2_LRAM_CORE",),),
        (name:"DIB20",dir:INPUT,wire:(name:"JDIB20_LRAM_CORE",),),
        (name:"DIB21",dir:INPUT,wire:(name:"JDIB21_LRAM_CORE",),),
        (name:"DIB22",dir:INPUT,wire:(name:"JDIB22_LRAM_CORE",),),
        (name:"DIB23",dir:INPUT,wire:(name:"JDIB23_LRAM_CORE",),),
        (name:"DIB24",dir:INPUT,wire:(name:"JDIB24_LRAM_CORE",),),
        (name:"DIB25",dir:INPUT,wire:(name:"JDIB25_LRAM_CORE",),),
        (name:"DIB26",dir:INPUT,wire:(name:"JDIB26_LRAM_CORE",),),
        (name:"DIB27",dir:INPUT,wire:(name:"JDIB27_LRAM_CORE",),),
        (name:"DIB28",dir:INPUT,wire:(name:"JDIB28_LRAM_CORE",),),
        (name:"DIB29",dir:INPUT,wire:(name:"JDIB29_LRAM_CORE",),),
        (name:"DIB3",dir:INPUT,wire:(name:"JDIB3_LRAM_CORE",),),
        (name:"DIB30",dir:INPUT,wire:(name:"JDIB30_LRAM_CORE",),),
        (name:"DIB31",dir:INPUT,wire:(name:"JDIB31_LRAM_CORE",),),
        (name:"DIB4",dir:INPUT,wire:(name:"JDIB4_LRAM_CORE",),),
        (name:"DIB5",dir:INPUT,wire:(name:"JDIB5_LRAM_CORE",),),
        (name:"DIB6",dir:INPUT,wire:(name:"JDIB6_LRAM_CORE",),),
        (name:"DIB7",dir:INPUT,wire:(name:"JDIB7_LRAM_CORE",),),
        (name:"DIB8",dir:INPUT,wire:(name:"JDIB8_LRAM_CORE",),),
        (name:"DIB9",dir:INPUT,wire:(name:"JDIB9_LRAM_CORE",),),
        (name:"DOA0",dir:OUTPUT,wire:(name:"JDOA0_LRAM_CORE",),),
        (name:"DOA1",dir:OUTPUT,wire:(name:"JDOA1_LRAM_CORE",),),
        (name:"DOA10",dir:OUTPUT,wire:(name:"JDOA10_LRAM_CORE",),),
        (name:"DOA11",dir:OUTPUT,wire:(name:"JDOA11_LRAM_CORE",),),
        (name:"DOA12",dir:OUTPUT,wire:(name:"JDOA12_LRAM_CORE",),),
        (name:"DOA13",dir:OUTPUT,wire:(name:"JDOA13_LRAM_CORE",),),
        (name:"DOA14",dir:OUTPUT,wire:(name:"JDOA14_LRAM_CORE",),),
        (name:"DOA15",dir:OUTPUT,wire:(name:"JDOA15_LRAM_CORE",),),
        (name:"DOA16",dir:OUTPUT,wire:(name:"JDOA16_LRAM_CORE",),),
        (name:"DOA17",dir:OUTPUT,wire:(name:"JDOA17_LRAM_CORE",),),
        (name:"DOA18",dir:OUTPUT,wire:(name:"JDOA18_LRAM_CORE",),),
        (name:"DOA19",dir:OUTPUT,wire:(name:"JDOA19_LRAM_CORE",),),
        (name:"DOA2",dir:OUTPUT,wire:(name:"JDOA2_LRAM_CORE",),),
        (name:"DOA20",dir:OUTPUT,wire:(name:"JDOA20_LRAM_CORE",),),
        (name:"DOA21",dir:OUTPUT,wire:(name:"JDOA21_LRAM_CORE",),),
        (name:"DOA22",dir:OUTPUT,wire:(name:"JDOA22_LRAM_CORE",),),
        (name:"DOA23",dir:OUTPUT,wire:(name:"JDOA23_LRAM_CORE",),),
        (name:"DOA24",dir:OUTPUT,wire:(name:"JDOA24_LRAM_CORE",),),
        (name:"DOA25",dir:OUTPUT,wire:(name:"JDOA25_LRAM_CORE",),),
        (name:"DOA26",dir:OUTPUT,wire:(name:"JDOA26_LRAM_CORE",),),
        (name:"DOA27",dir:OUTPUT,wire:(name:"JDOA27_LRAM_CORE",),),
        (name:"DOA28",dir:OUTPUT,wire:(name:"JDOA28_LRAM_CORE",),),
        (name:"DOA29",dir:OUTPUT,wire:(name:"JDOA29_LRAM_CORE",),),
        (name:"DOA3",dir:OUTPUT,wire:(name:"JDOA3_LRAM_CORE",),),
        (name:"DOA30",dir:OUTPUT,wire:(name:"JDOA30_LRAM_CORE",),),
        (name:"DOA31",dir:OUTPUT,wire:(name:"JDOA31_LRAM_CORE",),),
        (name:"DOA4",dir:OUTPUT,wire:(name:"JDOA4_LRAM_CORE",),),
        (name:"DOA5",dir:OUTPUT,wire:(name:"JDOA5_LRAM_CORE",),),
        (name:"DOA6",dir:OUTPUT,wire:(name:"JDOA6_LRAM_CORE",),),
        (name:"DOA7",dir:OUTPUT,wire:(name:"JDOA7_LRAM_CORE",),),
        (name:"DOA8",dir:OUTPUT,wire:(name:"JDOA8_LRAM_CORE",),),
        (name:"DOA9",dir:OUTPUT,wire:(name:"JDOA9_LRAM_CORE",),),
        (name:"DOB0",dir:OUTPUT,wire:(name:"JDOB0_LRAM_CORE",),),
        (name:"DOB1",dir:OUTPUT,wire:(name:"JDOB1_LRAM_CORE",),),
        (name:"DOB10",dir:OUTPUT,wire:(name:"JDOB10_LRAM_CORE",),),
        (name:"DOB11",dir:OUTPUT,wire:(name:"JDOB11_LRAM_CORE",),),
        (name:"DOB12",dir:OUTPUT,wire:(name:"JDOB12_LRAM_CORE",),),
        (name:"DOB13",dir:OUTPUT,wire:(name:"JDOB13_LRAM_CORE",),),
        (name:"DOB14",dir:OUTPUT,wire:(name:"JDOB14_LRAM_CORE",),),
        (name:"DOB15",dir:OUTPUT,wire:(name:"JDOB15_LRAM_CORE",),),
        (name:"DOB16",dir:OUTPUT,wire:(name:"JDOB16_LRAM_CORE",),),
        (name:"DOB17",dir:OUTPUT,wire:(name:"JDOB17_LRAM_CORE",),),
        (name:"DOB18",dir:OUTPUT,wire:(name:"JDOB18_LRAM_CORE",),),
        (name:"DOB19",dir:OUTPUT,wire:(name:"JDOB19_LRAM_CORE",),),
        (name:"DOB2",dir:OUTPUT,wire:(name:"JDOB2_LRAM_CORE",),),
        (name:"DOB20",dir:OUTPUT,wire:(name:"JDOB20_LRAM_CORE",),),
        (name:"DOB21",dir:OUTPUT,wire:(name:"JDOB21_LRAM_CORE",),),
        (name:"DOB22",dir:OUTPUT,wire:(name:"JDOB22_LRAM_CORE",),),
        (name:"DOB23",dir:OUTPUT,wire:(name:"JDOB23_LRAM_CORE",),),
        (name:"DOB24",dir:OUTPUT,wire:(name:"JDOB24_LRAM_CORE",),),
        (name:"DOB25",dir:OUTPUT,wire:(name:"JDOB25_LRAM_CORE",),),
        (name:"DOB26",dir:OUTPUT,wire:(name:"JDOB26_LRAM_CORE",),),
        (name:"DOB27",dir:OUTPUT,wire:(name:"JDOB27_LRAM_CORE",),),
        (name:"DOB28",dir:OUTPUT,wire:(name:"JDOB28_LRAM_CORE",),),
        (name:"DOB29",dir:OUTPUT,wire:(name:"JDOB29_LRAM_CORE",),),
        (name:"DOB3",dir:OUTPUT,wire:(name:"JDOB3_LRAM_CORE",),),
        (name:"DOB30",dir:OUTPUT,wire:(name:"JDOB30_LRAM_CORE",),),
        (name:"DOB31",dir:OUTPUT,wire:(name:"JDOB31_LRAM_CORE",),),
        (name:"DOB4",dir:OUTPUT,wire:(name:"JDOB4_LRAM_CORE",),),
        (name:"DOB5",dir:OUTPUT,wire:(name:"JDOB5_LRAM_CORE",),),
        (name:"DOB6",dir:OUTPUT,wire:(name:"JDOB6_LRAM_CORE",),),
        (name:"DOB7",dir:OUTPUT,wire:(name:"JDOB7_LRAM_CORE",),),
        (name:"DOB8",dir:OUTPUT,wire:(name:"JDOB8_LRAM_CORE",),),
        (name:"DOB9",dir:OUTPUT,wire:(name:"JDOB9_LRAM_CORE",),),
        (name:"DPS",dir:INPUT,wire:(name:"JDPS_LRAM_CORE",),),
        (name:"ERRDECA0",dir:OUTPUT,wire:(name:"JERRDECA0_LRAM_CORE",),),
        (name:"ERRDECA1",dir:OUTPUT,wire:(name:"JERRDECA1_LRAM_CORE",),),
        (name:"ERRDECB0",dir:OUTPUT,wire:(name:"JERRDECB0_LRAM_CORE",),),
        (name:"ERRDECB1",dir:OUTPUT,wire:(name:"JERRDECB1_LRAM_CORE",),),
        (name:"ERRDET",dir:OUTPUT,wire:(name:"JERRDET_LRAM_CORE",),),
        (name:"IGN",dir:INPUT,wire:(name:"JIGN_LRAM_CORE",),),
        (name:"INITN",dir:INPUT,wire:(name:"JINITN_LRAM_CORE",),),
        (name:"LRAMREADY",dir:OUTPUT,wire:(name:"JLRAMREADY_LRAM_CORE",),),
        (name:"OCEA",dir:INPUT,wire:(name:"JOCEA_LRAM_CORE",),),
        (name:"OCEB",dir:INPUT,wire:(name:"JOCEB_LRAM_CORE",),),
        (name:"OEA",dir:OUTPUT,wire:(name:"JOEA_LRAM_CORE",),),
        (name:"OEB",dir:OUTPUT,wire:(name:"JOEB_LRAM_CORE",),),
        (name:"OPCGLOADCLK",dir:INPUT,wire:(name:"JOPCGLOADCLK_LRAM_CORE",),),
        (name:"RSTA",dir:INPUT,wire:(name:"JRSTA_LRAM_CORE",),),
        (name:"RSTB",dir:INPUT,wire:(name:"JRSTB_LRAM_CORE",),),
        (name:"SCANCLK",dir:INPUT,wire:(name:"JSCANCLK_LRAM_CORE",),),
        (name:"SCANRST",dir:INPUT,wire:(name:"JSCANRST_LRAM_CORE",),),
        (name:"STDBYN",dir:INPUT,wire:(name:"JSTDBYN_LRAM_CORE",),),
        (name:"TBISTN",dir:INPUT,wire:(name:"JTBISTN_LRAM_CORE",),),
        (name:"WEA",dir:INPUT,wire:(name:"JWEA_LRAM_CORE",),),
        (name:"WEB",dir:INPUT,wire:(name:"JWEB_LRAM_CORE",),),
      ],
      rel_x: -1,
    ),
  ],
)