(
  pips: {},
  words: {
    "OSC_CORE_R1C29.HF_CLK_DIV": (
      bits: [
        [(frame:32,bit:1,invert:false,),],
        [(frame:31,bit:1,invert:false,),],
        [(frame:30,bit:1,invert:false,),],
        [(frame:29,bit:1,invert:false,),],
        [(frame:28,bit:1,invert:false,),],
        [(frame:27,bit:1,invert:false,),],
        [(frame:26,bit:1,invert:false,),],
        [(frame:25,bit:1,invert:false,),],
      ],
      desc: "high frequency oscillator output divider",
    ),
    "OSC_CORE_R1C29.HF_SED_SEC_DIV": (
      bits: [
        [(frame:40,bit:1,invert:false,),],
        [(frame:39,bit:1,invert:false,),],
        [(frame:38,bit:1,invert:false,),],
        [(frame:37,bit:1,invert:false,),],
        [(frame:36,bit:1,invert:false,),],
        [(frame:35,bit:1,invert:false,),],
        [(frame:34,bit:1,invert:false,),],
        [(frame:33,bit:1,invert:false,),],
      ],
      desc: "high frequency oscillator output divider",
    ),
  },
  enums: {
    "OSC_CORE_R1C29.DEBUG_N": (
      options: {
        "DISABLED": [(frame:41,bit:1,invert:false,),],
        "ENABLED": [],
      },
      desc: "enable debug mode",
    ),
    "OSC_CORE_R1C29.DTR_EN": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:24,bit:1,invert:false,),],
      },
    ),
    "OSC_CORE_R1C29.HFDIV_FABRIC_EN": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:50,bit:1,invert:false,),],
      },
      desc: "enable HF divider from parameter",
    ),
    "OSC_CORE_R1C29.HF_FABRIC_EN": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:51,bit:1,invert:false,),],
      },
      desc: "enable HF oscillator trimming from input pins",
    ),
    "OSC_CORE_R1C29.LF_FABRIC_EN": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:62,bit:1,invert:false,),],
      },
      desc: "enable LF oscillator trimming from input pins",
    ),
    "OSC_CORE_R1C29.LF_OUTPUT_EN": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:63,bit:1,invert:false,),],
      },
      desc: "enable LF oscillator output",
    ),
  },
  conns: {},
)