(
  pips: {},
  words: {},
  enums: {
    "CONFIG_CRE_CORE.MODE": (
      options: {
        "CONFIG_CRE_CORE": [(frame:5,bit:1,invert:false,),],
        "NONE": [],
      },
      desc: "CONFIG_CRE_CORE primitive mode",
    ),
    "SYSCONFIG.JTAG_PORT": (
      options: {
        "DISABLE": [],
        "ENABLE": [(frame:7,bit:1,invert:false,),],
      },
      desc: "status of JTAG port after configuration",
    ),
  },
  conns: {},
  always_on: [
    (
      frame: 6,
      bit: 1,
      invert: false,
    ),
    (
      frame: 7,
      bit: 1,
      invert: false,
    ),
  ],
)