(
  pips: {
    "N1:JCLKOUT_DLLDEL_CORE_I0": [
      (
        from_wire: "N1:JCLKIN_DLLDEL_CORE_I0",
        bits: [(frame:75,bit:1,invert:false,),],
      ),
    ],
    "N1:JZ_I4_0": [
      (
        from_wire: "G:JD1_I4_0",
        bits: [(frame:54,bit:1,invert:false,),],
      ),
    ],
    "N1:JZ_I4_1": [
      (
        from_wire: "G:JD1_I4_1",
        bits: [(frame:54,bit:1,invert:false,),],
      ),
    ],
    "N1:JZ_I4_2": [
      (
        from_wire: "G:JD1_I4_2",
        bits: [(frame:54,bit:1,invert:false,),],
      ),
    ],
    "N1:JZ_I4_3": [
      (
        from_wire: "G:JD1_I4_3",
        bits: [(frame:54,bit:1,invert:false,),],
      ),
    ],
    "N1:JZ_I4_4": [
      (
        from_wire: "G:JD1_I4_4",
        bits: [(frame:54,bit:1,invert:false,),],
      ),
    ],
    "N1:JZ_I4_5": [
      (
        from_wire: "G:JD1_I4_5",
        bits: [(frame:54,bit:1,invert:false,),],
      ),
    ],
    "N1:JZ_I4_6": [
      (
        from_wire: "G:JD1_I4_6",
        bits: [(frame:54,bit:1,invert:false,),],
      ),
    ],
    "N1:JZ_I4_7": [
      (
        from_wire: "G:JD1_I4_7",
        bits: [(frame:54,bit:1,invert:false,),],
      ),
    ],
    "N1:JZ_I4_8": [
      (
        from_wire: "G:JD1_I4_8",
        bits: [(frame:54,bit:1,invert:false,),],
      ),
    ],
  },
  words: {
    "IOL_B46A.DELAYA.DEL_VALUE": (
      bits: [
        [(frame:43,bit:0,invert:false,),],
        [(frame:44,bit:0,invert:false,),],
        [(frame:45,bit:0,invert:false,),],
        [(frame:46,bit:0,invert:false,),],
        [(frame:47,bit:0,invert:false,),],
        [(frame:48,bit:0,invert:false,),],
        [(frame:49,bit:0,invert:false,),],
      ],
    ),
  },
  enums: {
    "IOL_B46A.DELAYA.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:52,bit:0,invert:false,),],
        "1P6NS": [(frame:53,bit:0,invert:false,),],
      },
    ),
    "IOL_B46A.DELAYA.COARSE_DELAY_MODE": (
      options: {
        "DYNAMIC": [(frame:51,bit:0,invert:false,),],
        "STATIC": [],
      },
    ),
    "IOL_B46A.DELAYA.EDGE_MONITOR": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:17,bit:0,invert:false,),],
      },
    ),
    "IOL_B46A.DELAYA.WAIT_FOR_EDGE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:42,bit:0,invert:false,),],
      },
    ),
  },
  conns: {},
)