(
  pips: {},
  words: {
    "IOL_R11A.DEL_VALUE": (
      bits: [
        [(frame:10,bit:3,invert:false,),],
        [(frame:9,bit:3,invert:false,),],
        [(frame:8,bit:3,invert:false,),],
        [(frame:7,bit:3,invert:false,),],
        [(frame:6,bit:3,invert:false,),],
        [(frame:5,bit:3,invert:false,),],
        [(frame:4,bit:3,invert:false,),],
      ],
      desc: "DEL_VALUE",
    ),
    "IOL_R11B.DEL_VALUE": (
      bits: [
        [(frame:6,bit:5,invert:false,),],
        [(frame:5,bit:5,invert:false,),],
        [(frame:4,bit:5,invert:false,),],
        [(frame:3,bit:5,invert:false,),],
        [(frame:2,bit:5,invert:false,),],
        [(frame:1,bit:5,invert:false,),],
        [(frame:0,bit:5,invert:false,),],
      ],
      desc: "DEL_VALUE",
    ),
    "SIOLOGICA.DELAY.DEL_VALUE": (
      bits: [
        [(frame:10,bit:3,invert:false,),],
        [(frame:9,bit:3,invert:false,),],
        [(frame:8,bit:3,invert:false,),],
        [(frame:7,bit:3,invert:false,),],
        [(frame:6,bit:3,invert:false,),],
        [(frame:5,bit:3,invert:false,),],
        [(frame:4,bit:3,invert:false,),],
      ],
      desc: "initial fine delay value",
    ),
    "SIOLOGICB.DELAY.DEL_VALUE": (
      bits: [
        [(frame:6,bit:5,invert:false,),],
        [(frame:5,bit:5,invert:false,),],
        [(frame:4,bit:5,invert:false,),],
        [(frame:3,bit:5,invert:false,),],
        [(frame:2,bit:5,invert:false,),],
        [(frame:1,bit:5,invert:false,),],
        [(frame:0,bit:5,invert:false,),],
      ],
      desc: "initial fine delay value",
    ),
  },
  enums: {
    "IOL_R11A.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:2,bit:1,invert:false,),],
        "1P6NS": [(frame:3,bit:1,invert:false,),],
      },
      desc: "Coarse delay setting for lol delay cell.",
    ),
    "IOL_R11A.GSR": (
      options: {
        "DISABLED": [(frame:5,bit:2,invert:false,),],
        "ENABLED": [],
      },
      desc: "Enable global set/reset.",
    ),
    "IOL_R11B.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:3,bit:4,invert:false,),],
        "1P6NS": [(frame:4,bit:4,invert:false,),],
      },
      desc: "Coarse delay setting for lol delay cell.",
    ),
    "IOL_R11B.GSR": (
      options: {
        "DISABLED": [(frame:2,bit:6,invert:false,),],
        "ENABLED": [],
      },
      desc: "Enable global set/reset.",
    ),
    "SIOLOGICA.CEINMUX": (
      options: {
        "1": [(frame:15,bit:2,invert:false,),],
        "CEIN": [(frame:0,bit:1,invert:false,),],
        "INV": [],
      },
    ),
    "SIOLOGICA.CEOUTMUX": (
      options: {
        "1": [(frame:14,bit:2,invert:false,),],
        "CEOUT": [(frame:1,bit:1,invert:false,),],
        "INV": [],
      },
    ),
    "SIOLOGICA.DELAY.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:2,bit:1,invert:false,),],
        "1P6NS": [(frame:3,bit:1,invert:false,),],
      },
    ),
    "SIOLOGICA.GSR": (
      options: {
        "DISABLED": [(frame:5,bit:2,invert:false,),],
        "ENABLED": [],
      },
    ),
    "SIOLOGICA.IDDRX1_ODDRX1.TRISTATE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:13,bit:1,invert:false,),],
      },
    ),
    "SIOLOGICA.INMUX": (
      options: {
        "BYPASS": [],
        "DELAY": [(frame:12,bit:2,invert:false,),],
      },
    ),
    "SIOLOGICA.INREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:4,bit:2,invert:false,),],
      },
    ),
    "SIOLOGICA.IREG_OREG.TRISTATE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:13,bit:1,invert:false,),],
      },
    ),
    "SIOLOGICA.LSRINMUX": (
      options: {
        "0": [],
        "INV": [(frame:8,bit:2,invert:false,),],
        "LSRIN": [(frame:8,bit:2,invert:false,),(frame:10,bit:2,invert:false,),],
      },
    ),
    "SIOLOGICA.LSROUTMUX": (
      options: {
        "0": [],
        "INV": [(frame:14,bit:1,invert:false,),],
        "LSROUT": [(frame:9,bit:2,invert:false,),(frame:14,bit:1,invert:false,),],
      },
    ),
    "SIOLOGICA.MODE": (
      options: {
        "IDDRX1_ODDRX1": [(frame:2,bit:3,invert:false,),],
        "IREG_OREG": [],
        "NONE": [],
      },
    ),
    "SIOLOGICA.OUTMUX": (
      options: {
        "BYPASS": [],
        "DELAY": [(frame:3,bit:2,invert:false,),],
      },
    ),
    "SIOLOGICA.OUTREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:8,bit:1,invert:false,),],
      },
    ),
    "SIOLOGICA.SCLKINMUX": (
      options: {
        "0": [],
        "INV": [(frame:14,bit:3,invert:false,),(frame:15,bit:3,invert:false,),],
        "SCLKIN": [(frame:14,bit:3,invert:false,),],
      },
    ),
    "SIOLOGICA.SCLKOUTMUX": (
      options: {
        "0": [],
        "INV": [(frame:0,bit:3,invert:false,),(frame:1,bit:3,invert:false,),],
        "SCLKOUT": [(frame:1,bit:3,invert:false,),],
      },
    ),
    "SIOLOGICA.SRMODE": (
      options: {
        "ASYNC": [],
        "LSR_OVER_CE": [(frame:6,bit:2,invert:false,),],
      },
    ),
    "SIOLOGICA.TSREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:9,bit:1,invert:false,),],
      },
    ),
    "SIOLOGICB.CEINMUX": (
      options: {
        "1": [(frame:0,bit:4,invert:false,),],
        "CEIN": [(frame:1,bit:4,invert:false,),],
        "INV": [],
      },
    ),
    "SIOLOGICB.CEOUTMUX": (
      options: {
        "1": [(frame:15,bit:5,invert:false,),],
        "CEOUT": [(frame:2,bit:4,invert:false,),],
        "INV": [],
      },
    ),
    "SIOLOGICB.DELAY.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:3,bit:4,invert:false,),],
        "1P6NS": [(frame:4,bit:4,invert:false,),],
      },
    ),
    "SIOLOGICB.GSR": (
      options: {
        "DISABLED": [(frame:2,bit:6,invert:false,),],
        "ENABLED": [],
      },
    ),
    "SIOLOGICB.IDDRX1_ODDRX1.TRISTATE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:4,bit:6,invert:false,),],
      },
    ),
    "SIOLOGICB.INMUX": (
      options: {
        "BYPASS": [],
        "DELAY": [(frame:13,bit:5,invert:false,),],
      },
    ),
    "SIOLOGICB.INREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:11,bit:6,invert:false,),],
      },
    ),
    "SIOLOGICB.IREG_OREG.TRISTATE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:4,bit:6,invert:false,),],
      },
    ),
    "SIOLOGICB.LSRINMUX": (
      options: {
        "0": [],
        "INV": [(frame:9,bit:5,invert:false,),],
        "LSRIN": [(frame:9,bit:5,invert:false,),(frame:11,bit:5,invert:false,),],
      },
    ),
    "SIOLOGICB.LSROUTMUX": (
      options: {
        "0": [],
        "INV": [(frame:5,bit:6,invert:false,),],
        "LSROUT": [(frame:5,bit:6,invert:false,),(frame:10,bit:5,invert:false,),],
      },
    ),
    "SIOLOGICB.MODE": (
      options: {
        "IDDRX1_ODDRX1": [(frame:12,bit:6,invert:false,),],
        "IREG_OREG": [],
        "NONE": [],
      },
    ),
    "SIOLOGICB.OUTMUX": (
      options: {
        "BYPASS": [],
        "DELAY": [(frame:9,bit:6,invert:false,),],
      },
    ),
    "SIOLOGICB.OUTREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:9,bit:4,invert:false,),],
      },
    ),
    "SIOLOGICB.SCLKINMUX": (
      options: {
        "0": [],
        "INV": [(frame:10,bit:0,invert:false,),(frame:11,bit:0,invert:false,),],
        "SCLKIN": [(frame:10,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICB.SCLKOUTMUX": (
      options: {
        "0": [],
        "INV": [(frame:5,bit:0,invert:false,),(frame:6,bit:0,invert:false,),],
        "SCLKOUT": [(frame:6,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICB.SRMODE": (
      options: {
        "ASYNC": [],
        "LSR_OVER_CE": [(frame:3,bit:6,invert:false,),],
      },
    ),
    "SIOLOGICB.TSREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:10,bit:4,invert:false,),],
      },
    ),
  },
  conns: {},
  always_on: [
    (
      frame: 0,
      bit: 10,
      invert: false,
    ),
    (
      frame: 5,
      bit: 7,
      invert: false,
    ),
  ],
)