(
  pips: {
    "G:JCLKOUT_ECLKDDRR_0": [
      (
        from_wire: "N1W23:JECLKTREE1_ECLKDDRR_0",
        bits: [(frame:101,bit:1,invert:false,),],
      ),
    ],
    "G:JCLKOUT_ECLKDDRR_1": [
      (
        from_wire: "N1W23:JECLKTREE1_ECLKDDRR_1",
        bits: [(frame:102,bit:1,invert:false,),],
      ),
    ],
    "G:JCLKOUT_ECLKDDRR_2": [
      (
        from_wire: "N1W23:JECLKTREE1_ECLKDDRR_2",
        bits: [(frame:103,bit:1,invert:false,),],
      ),
    ],
    "G:JCLKOUT_ECLKDDRR_3": [
      (
        from_wire: "N1W23:JECLKTREE1_ECLKDDRR_3",
        bits: [(frame:104,bit:1,invert:false,),],
      ),
    ],
    "W1:JECLKOUT_I218": [
      (
        from_wire: "W1:JECLKIN1_I218",
        bits: [(frame:20,bit:1,invert:false,),],
      ),
      (
        from_wire: "W1:JECLKIN2_I218",
        bits: [(frame:20,bit:0,invert:false,),],
      ),
      (
        from_wire: "W1:JECLKIN3_I218",
        bits: [(frame:20,bit:0,invert:false,),(frame:20,bit:1,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)