(
  pips: {},
  words: {
    "IOL_R11A.DEL_VALUE": (
      bits: [
        [(frame:12,bit:11,invert:false,),],
        [(frame:11,bit:11,invert:false,),],
        [(frame:10,bit:11,invert:false,),],
        [(frame:9,bit:11,invert:false,),],
        [(frame:8,bit:11,invert:false,),],
        [(frame:7,bit:11,invert:false,),],
        [(frame:6,bit:11,invert:false,),],
      ],
      desc: "DEL_VALUE",
    ),
  },
  enums: {
    "IOL_R11A.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:11,bit:3,invert:false,),],
        "1P6NS": [(frame:12,bit:3,invert:false,),],
      },
      desc: "Coarse delay setting for lol delay cell.",
    ),
    "IOL_R11A.GSR": (
      options: {
        "DISABLED": [(frame:7,bit:10,invert:false,),],
        "ENABLED": [],
      },
      desc: "Enable global set/reset.",
    ),
    "SIOLOGICA.CEINMUX": (
      options: {
        "1": [(frame:8,bit:3,invert:false,),],
        "CEIN": [(frame:9,bit:3,invert:false,),],
        "INV": [],
      },
    ),
    "SIOLOGICA.CEOUTMUX": (
      options: {
        "1": [(frame:7,bit:3,invert:false,),],
        "CEOUT": [(frame:10,bit:3,invert:false,),],
        "INV": [],
      },
    ),
    "SIOLOGICA.GSR": (
      options: {
        "DISABLED": [(frame:7,bit:10,invert:false,),],
        "ENABLED": [],
      },
    ),
    "SIOLOGICA.IDDRX1_ODDRX1.TRISTATE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:0,bit:8,invert:false,),],
      },
    ),
    "SIOLOGICA.INMUX": (
      options: {
        "BYPASS": [],
        "DELAY": [(frame:5,bit:3,invert:false,),],
      },
    ),
    "SIOLOGICA.INREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:6,bit:10,invert:false,),],
      },
    ),
    "SIOLOGICA.IREG_OREG.TRISTATE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:0,bit:8,invert:false,),],
      },
    ),
    "SIOLOGICA.LSRINMUX": (
      options: {
        "0": [],
        "INV": [(frame:4,bit:8,invert:false,),],
        "LSRIN": [(frame:4,bit:8,invert:false,),(frame:6,bit:8,invert:false,),],
      },
    ),
    "SIOLOGICA.LSROUTMUX": (
      options: {
        "0": [],
        "INV": [(frame:1,bit:8,invert:false,),],
        "LSROUT": [(frame:1,bit:8,invert:false,),(frame:5,bit:8,invert:false,),],
      },
    ),
    "SIOLOGICA.MODE": (
      options: {
        "IDDRX1_ODDRX1": [(frame:2,bit:11,invert:false,),],
        "IREG_OREG": [],
        "NONE": [],
      },
    ),
    "SIOLOGICA.OUTMUX": (
      options: {
        "BYPASS": [],
        "DELAY": [(frame:5,bit:10,invert:false,),],
      },
    ),
    "SIOLOGICA.OUTREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:9,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICA.SCLKINMUX": (
      options: {
        "0": [],
        "INV": [(frame:0,bit:10,invert:false,),(frame:1,bit:10,invert:false,),],
        "SCLKIN": [(frame:0,bit:10,invert:false,),],
      },
    ),
    "SIOLOGICA.SCLKOUTMUX": (
      options: {
        "0": [],
        "INV": [(frame:0,bit:11,invert:false,),(frame:1,bit:11,invert:false,),],
        "SCLKOUT": [(frame:1,bit:11,invert:false,),],
      },
    ),
    "SIOLOGICA.SRMODE": (
      options: {
        "ASYNC": [],
        "LSR_OVER_CE": [(frame:8,bit:10,invert:false,),],
      },
    ),
    "SIOLOGICA.TSREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:10,bit:0,invert:false,),],
      },
    ),
  },
  conns: {},
  always_on: [
    (
      frame: 5,
      bit: 7,
      invert: false,
    ),
    (
      frame: 6,
      bit: 4,
      invert: false,
    ),
  ],
)