(
  pips: {
    "G:JCLKOUT_ECLKDDRR_0": [
      (
        from_wire: "N1W23:JECLKTREE1_ECLKDDRR_0",
        bits: [(frame:101,bit:1,invert:false,),],
      ),
    ],
    "G:JCLKOUT_ECLKDDRR_1": [
      (
        from_wire: "N1W23:JECLKTREE1_ECLKDDRR_1",
        bits: [(frame:102,bit:1,invert:false,),],
      ),
    ],
    "G:JCLKOUT_ECLKDDRR_2": [
      (
        from_wire: "N1W23:JECLKTREE1_ECLKDDRR_2",
        bits: [(frame:103,bit:1,invert:false,),],
      ),
    ],
    "G:JCLKOUT_ECLKDDRR_3": [
      (
        from_wire: "N1W23:JECLKTREE1_ECLKDDRR_3",
        bits: [(frame:104,bit:1,invert:false,),],
      ),
    ],
  },
  words: {
    "IOL_B72B.DELAYA.DEL_VALUE": (
      bits: [
        [(frame:44,bit:0,invert:false,),],
        [(frame:45,bit:0,invert:false,),],
        [(frame:46,bit:0,invert:false,),],
        [(frame:47,bit:0,invert:false,),],
        [(frame:48,bit:0,invert:false,),],
        [(frame:49,bit:0,invert:false,),],
        [(frame:50,bit:0,invert:false,),],
      ],
    ),
  },
  enums: {
    "IOL_B72B.DELAYA.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:53,bit:0,invert:false,),],
        "1P6NS": [(frame:54,bit:0,invert:false,),],
      },
    ),
    "IOL_B72B.DELAYA.COARSE_DELAY_MODE": (
      options: {
        "DYNAMIC": [(frame:52,bit:0,invert:false,),],
        "STATIC": [],
      },
    ),
    "IOL_B72B.DELAYA.EDGE_MONITOR": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:17,bit:0,invert:false,),],
      },
    ),
    "IOL_B72B.DELAYA.WAIT_FOR_EDGE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:43,bit:0,invert:false,),],
      },
    ),
  },
  conns: {},
  always_on: [
    (
      frame: 89,
      bit: 0,
      invert: false,
    ),
  ],
)