(
  pips: {},
  words: {
    "IOL_T74A.DEL_VALUE": (
      bits: [
        [(frame:53,bit:0,invert:false,),],
        [(frame:54,bit:0,invert:false,),],
        [(frame:55,bit:0,invert:false,),],
        [(frame:56,bit:0,invert:false,),],
        [(frame:57,bit:0,invert:false,),],
        [(frame:58,bit:0,invert:false,),],
        [(frame:59,bit:0,invert:false,),],
      ],
      desc: "DEL_VALUE",
    ),
    "IOL_T74B.DEL_VALUE": (
      bits: [
        [(frame:89,bit:0,invert:false,),],
        [(frame:90,bit:0,invert:false,),],
        [(frame:91,bit:0,invert:false,),],
        [(frame:92,bit:0,invert:false,),],
        [(frame:93,bit:0,invert:false,),],
        [(frame:94,bit:0,invert:false,),],
        [(frame:95,bit:0,invert:false,),],
      ],
      desc: "DEL_VALUE",
    ),
    "SIOLOGICA.DELAY.DEL_VALUE": (
      bits: [
        [(frame:53,bit:0,invert:false,),],
        [(frame:54,bit:0,invert:false,),],
        [(frame:55,bit:0,invert:false,),],
        [(frame:56,bit:0,invert:false,),],
        [(frame:57,bit:0,invert:false,),],
        [(frame:58,bit:0,invert:false,),],
        [(frame:59,bit:0,invert:false,),],
      ],
      desc: "initial fine delay value",
    ),
    "SIOLOGICB.DELAY.DEL_VALUE": (
      bits: [
        [(frame:89,bit:0,invert:false,),],
        [(frame:90,bit:0,invert:false,),],
        [(frame:91,bit:0,invert:false,),],
        [(frame:92,bit:0,invert:false,),],
        [(frame:93,bit:0,invert:false,),],
        [(frame:94,bit:0,invert:false,),],
        [(frame:95,bit:0,invert:false,),],
      ],
      desc: "initial fine delay value",
    ),
  },
  enums: {
    "IOL_T74A.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:29,bit:0,invert:false,),],
        "1P6NS": [(frame:28,bit:0,invert:false,),],
      },
      desc: "Coarse delay setting for lol delay cell.",
    ),
    "IOL_T74A.GSR": (
      options: {
        "DISABLED": [(frame:42,bit:0,invert:false,),],
        "ENABLED": [],
      },
      desc: "Enable global set/reset.",
    ),
    "IOL_T74B.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:76,bit:0,invert:false,),],
        "1P6NS": [(frame:75,bit:0,invert:false,),],
      },
      desc: "Coarse delay setting for lol delay cell.",
    ),
    "IOL_T74B.GSR": (
      options: {
        "DISABLED": [(frame:3,bit:1,invert:false,),],
        "ENABLED": [],
      },
      desc: "Enable global set/reset.",
    ),
    "SIOLOGICA.CEINMUX": (
      options: {
        "1": [(frame:32,bit:0,invert:false,),],
        "CEIN": [(frame:31,bit:0,invert:false,),],
        "INV": [],
      },
    ),
    "SIOLOGICA.CEOUTMUX": (
      options: {
        "1": [(frame:33,bit:0,invert:false,),],
        "CEOUT": [(frame:30,bit:0,invert:false,),],
        "INV": [],
      },
    ),
    "SIOLOGICA.DELAY.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:29,bit:0,invert:false,),],
        "1P6NS": [(frame:28,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICA.GSR": (
      options: {
        "DISABLED": [(frame:42,bit:0,invert:false,),],
        "ENABLED": [],
      },
    ),
    "SIOLOGICA.IDDRX1_ODDRX1.TRISTATE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:18,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICA.INMUX": (
      options: {
        "BYPASS": [],
        "DELAY": [(frame:35,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICA.INREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:43,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICA.IREG_OREG.TRISTATE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:18,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICA.LSRINMUX": (
      options: {
        "0": [],
        "INV": [(frame:39,bit:0,invert:false,),],
        "LSRIN": [(frame:37,bit:0,invert:false,),(frame:39,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICA.LSROUTMUX": (
      options: {
        "0": [],
        "INV": [(frame:17,bit:0,invert:false,),],
        "LSROUT": [(frame:17,bit:0,invert:false,),(frame:38,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICA.MODE": (
      options: {
        "IDDRX1_ODDRX1": [(frame:61,bit:0,invert:false,),],
        "IREG_OREG": [],
        "NONE": [],
      },
    ),
    "SIOLOGICA.OUTMUX": (
      options: {
        "BYPASS": [],
        "DELAY": [(frame:44,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICA.OUTREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:23,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICA.SCLKINMUX": (
      options: {
        "0": [],
        "INV": [(frame:48,bit:0,invert:false,),(frame:49,bit:0,invert:false,),],
        "SCLKIN": [(frame:49,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICA.SCLKOUTMUX": (
      options: {
        "0": [],
        "INV": [(frame:62,bit:0,invert:false,),(frame:63,bit:0,invert:false,),],
        "SCLKOUT": [(frame:62,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICA.SRMODE": (
      options: {
        "ASYNC": [],
        "LSR_OVER_CE": [(frame:41,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICA.TSREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:22,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICB.CEINMUX": (
      options: {
        "1": [(frame:79,bit:0,invert:false,),],
        "CEIN": [(frame:78,bit:0,invert:false,),],
        "INV": [],
      },
    ),
    "SIOLOGICB.CEOUTMUX": (
      options: {
        "1": [(frame:80,bit:0,invert:false,),],
        "CEOUT": [(frame:77,bit:0,invert:false,),],
        "INV": [],
      },
    ),
    "SIOLOGICB.DELAY.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:76,bit:0,invert:false,),],
        "1P6NS": [(frame:75,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICB.GSR": (
      options: {
        "DISABLED": [(frame:3,bit:1,invert:false,),],
        "ENABLED": [],
      },
    ),
    "SIOLOGICB.IDDRX1_ODDRX1.TRISTATE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:1,bit:1,invert:false,),],
      },
    ),
    "SIOLOGICB.INMUX": (
      options: {
        "BYPASS": [],
        "DELAY": [(frame:82,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICB.INREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:100,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICB.IREG_OREG.TRISTATE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:1,bit:1,invert:false,),],
      },
    ),
    "SIOLOGICB.LSRINMUX": (
      options: {
        "0": [],
        "INV": [(frame:86,bit:0,invert:false,),],
        "LSRIN": [(frame:84,bit:0,invert:false,),(frame:86,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICB.LSROUTMUX": (
      options: {
        "0": [],
        "INV": [(frame:0,bit:1,invert:false,),],
        "LSROUT": [(frame:0,bit:1,invert:false,),(frame:85,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICB.MODE": (
      options: {
        "IDDRX1_ODDRX1": [(frame:99,bit:0,invert:false,),],
        "IREG_OREG": [],
        "NONE": [],
      },
    ),
    "SIOLOGICB.OUTMUX": (
      options: {
        "BYPASS": [],
        "DELAY": [(frame:102,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICB.OUTREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:70,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICB.SCLKINMUX": (
      options: {
        "0": [],
        "INV": [(frame:4,bit:0,invert:false,),(frame:5,bit:0,invert:false,),],
        "SCLKIN": [(frame:5,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICB.SCLKOUTMUX": (
      options: {
        "0": [],
        "INV": [(frame:9,bit:0,invert:false,),(frame:10,bit:0,invert:false,),],
        "SCLKOUT": [(frame:9,bit:0,invert:false,),],
      },
    ),
    "SIOLOGICB.SRMODE": (
      options: {
        "ASYNC": [],
        "LSR_OVER_CE": [(frame:2,bit:1,invert:false,),],
      },
    ),
    "SIOLOGICB.TSREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:69,bit:0,invert:false,),],
      },
    ),
  },
  conns: {},
)