(
  pips: {
    "N1W8:JECLKOUT_I_DQS_TOP_ECLK_ROUTING_MUX": [
      (
        from_wire: "N1W8:JECLK1_I_DQS_TOP_ECLK_ROUTING_MUX",
        bits: [(frame:42,bit:1,invert:false,),],
      ),
      (
        from_wire: "N1W8:JECLK2_I_DQS_TOP_ECLK_ROUTING_MUX",
        bits: [(frame:41,bit:1,invert:false,),],
      ),
      (
        from_wire: "N1W8:JECLK3_I_DQS_TOP_ECLK_ROUTING_MUX",
        bits: [(frame:41,bit:1,invert:false,),(frame:42,bit:1,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)