(
  pips: {},
  words: {
    "IOL_T38A.DEL_VALUE": (
      bits: [
        [(frame:53,bit:0,invert:false,),],
        [(frame:54,bit:0,invert:false,),],
        [(frame:55,bit:0,invert:false,),],
        [(frame:56,bit:0,invert:false,),],
        [(frame:57,bit:0,invert:false,),],
        [(frame:58,bit:0,invert:false,),],
        [(frame:59,bit:0,invert:false,),],
      ],
      desc: "DEL_VALUE",
    ),
    "IOL_T38B.DEL_VALUE": (
      bits: [
        [(frame:89,bit:0,invert:false,),],
        [(frame:90,bit:0,invert:false,),],
        [(frame:91,bit:0,invert:false,),],
        [(frame:92,bit:0,invert:false,),],
        [(frame:93,bit:0,invert:false,),],
        [(frame:94,bit:0,invert:false,),],
        [(frame:95,bit:0,invert:false,),],
      ],
      desc: "DEL_VALUE",
    ),
  },
  enums: {
    "IOL_T38A.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:29,bit:0,invert:false,),],
        "1P6NS": [(frame:28,bit:0,invert:false,),],
      },
      desc: "Coarse delay setting for lol delay cell.",
    ),
    "IOL_T38A.GSR": (
      options: {
        "DISABLED": [(frame:42,bit:0,invert:false,),],
        "ENABLED": [],
      },
      desc: "Enable global set/reset.",
    ),
    "IOL_T38B.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:76,bit:0,invert:false,),],
        "1P6NS": [(frame:75,bit:0,invert:false,),],
      },
      desc: "Coarse delay setting for lol delay cell.",
    ),
    "IOL_T38B.GSR": (
      options: {
        "DISABLED": [(frame:3,bit:1,invert:false,),],
        "ENABLED": [],
      },
      desc: "Enable global set/reset.",
    ),
    "PIOB.BASE_TYPE": (
      options: {
        "BIDIR_LVCMOS12": [(frame:14,bit:1,invert:false,),(frame:16,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:37,bit:1,invert:false,),(frame:38,bit:1,invert:false,),(frame:81,bit:1,invert:false,),],
        "BIDIR_LVCMOS15": [(frame:16,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:21,bit:1,invert:false,),(frame:23,bit:1,invert:false,),(frame:37,bit:1,invert:false,),(frame:38,bit:1,invert:false,),(frame:81,bit:1,invert:false,),],
        "BIDIR_LVCMOS18": [(frame:16,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:21,bit:1,invert:false,),(frame:37,bit:1,invert:false,),(frame:38,bit:1,invert:false,),(frame:81,bit:1,invert:false,),],
        "BIDIR_LVCMOS25": [(frame:12,bit:1,invert:false,),(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:37,bit:1,invert:false,),(frame:38,bit:1,invert:false,),],
        "BIDIR_LVCMOS33": [(frame:16,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:37,bit:1,invert:false,),(frame:38,bit:1,invert:false,),],
        "INPUT_LVCMOS12": [(frame:14,bit:1,invert:false,),(frame:36,bit:1,invert:false,),(frame:81,bit:1,invert:false,),],
        "INPUT_LVCMOS15": [(frame:21,bit:1,invert:false,),(frame:23,bit:1,invert:false,),(frame:36,bit:1,invert:false,),(frame:81,bit:1,invert:false,),],
        "INPUT_LVCMOS18": [(frame:21,bit:1,invert:false,),(frame:36,bit:1,invert:false,),(frame:81,bit:1,invert:false,),],
        "INPUT_LVCMOS25": [(frame:12,bit:1,invert:false,),(frame:36,bit:1,invert:false,),],
        "INPUT_LVCMOS33": [(frame:36,bit:1,invert:false,),],
        "NONE": [(frame:16,bit:1,invert:false,),],
        "OUTPUT_LVCMOS12": [(frame:16,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:25,bit:1,invert:false,),(frame:35,bit:1,invert:false,),(frame:36,bit:1,invert:false,),(frame:37,bit:1,invert:false,),(frame:38,bit:1,invert:false,),(frame:81,bit:1,invert:false,),],
        "OUTPUT_LVCMOS15": [(frame:16,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:25,bit:1,invert:false,),(frame:35,bit:1,invert:false,),(frame:36,bit:1,invert:false,),(frame:37,bit:1,invert:false,),(frame:38,bit:1,invert:false,),(frame:81,bit:1,invert:false,),],
        "OUTPUT_LVCMOS18": [(frame:16,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:25,bit:1,invert:false,),(frame:35,bit:1,invert:false,),(frame:36,bit:1,invert:false,),(frame:37,bit:1,invert:false,),(frame:38,bit:1,invert:false,),(frame:81,bit:1,invert:false,),],
        "OUTPUT_LVCMOS25": [(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:25,bit:1,invert:false,),(frame:35,bit:1,invert:false,),(frame:36,bit:1,invert:false,),(frame:37,bit:1,invert:false,),(frame:38,bit:1,invert:false,),(frame:81,bit:1,invert:false,),],
        "OUTPUT_LVCMOS25D": [(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:25,bit:1,invert:false,),(frame:35,bit:1,invert:false,),(frame:36,bit:1,invert:false,),(frame:37,bit:1,invert:false,),(frame:38,bit:1,invert:false,),(frame:81,bit:1,invert:false,),(frame:101,bit:0,invert:false,),],
        "OUTPUT_LVCMOS33": [(frame:16,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:25,bit:1,invert:false,),(frame:35,bit:1,invert:false,),(frame:36,bit:1,invert:false,),(frame:37,bit:1,invert:false,),(frame:38,bit:1,invert:false,),(frame:81,bit:1,invert:false,),],
        "OUTPUT_LVCMOS33D": [(frame:16,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:25,bit:1,invert:false,),(frame:35,bit:1,invert:false,),(frame:36,bit:1,invert:false,),(frame:37,bit:1,invert:false,),(frame:38,bit:1,invert:false,),(frame:81,bit:1,invert:false,),(frame:101,bit:0,invert:false,),],
      },
    ),
    "PIOB.CLAMP": (
      options: {
        "OFF": [(frame:34,bit:1,invert:true,),],
        "ON": [(frame:34,bit:1,invert:false,),],
      },
    ),
    "PIOB.DFTDO2DI": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:15,bit:1,invert:false,),],
      },
    ),
    "PIOB.DRIVE_1V2": (
      options: {
        "12": [(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
        "2": [(frame:16,bit:1,invert:true,),(frame:17,bit:1,invert:true,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:true,),(frame:20,bit:1,invert:false,),],
        "4": [(frame:16,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:18,bit:1,invert:true,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
        "8": [(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:true,),(frame:18,bit:1,invert:true,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
      },
    ),
    "PIOB.DRIVE_1V5": (
      options: {
        "12": [(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
        "2": [(frame:16,bit:1,invert:true,),(frame:17,bit:1,invert:true,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:true,),(frame:20,bit:1,invert:false,),],
        "4": [(frame:16,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:18,bit:1,invert:true,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
        "8": [(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:true,),(frame:18,bit:1,invert:true,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
      },
    ),
    "PIOB.DRIVE_1V8": (
      options: {
        "2": [(frame:16,bit:1,invert:true,),(frame:17,bit:1,invert:true,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:true,),(frame:20,bit:1,invert:false,),],
        "4": [(frame:16,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:18,bit:1,invert:true,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
        "50RS": [(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:true,),(frame:18,bit:1,invert:true,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
        "8": [(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:true,),(frame:18,bit:1,invert:true,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
      },
    ),
    "PIOB.DRIVE_2V5": (
      options: {
        "10": [(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
        "2": [(frame:16,bit:1,invert:true,),(frame:17,bit:1,invert:true,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:true,),(frame:20,bit:1,invert:false,),],
        "4": [(frame:16,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:18,bit:1,invert:true,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
        "50RS": [(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:true,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
        "8": [(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
      },
    ),
    "PIOB.DRIVE_3V3": (
      options: {
        "12": [(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
        "2": [(frame:16,bit:1,invert:true,),(frame:17,bit:1,invert:true,),(frame:18,bit:1,invert:false,),(frame:19,bit:1,invert:true,),(frame:20,bit:1,invert:false,),],
        "4": [(frame:16,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:18,bit:1,invert:true,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
        "50RS": [(frame:16,bit:1,invert:true,),(frame:17,bit:1,invert:true,),(frame:18,bit:1,invert:true,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:false,),],
        "8": [(frame:16,bit:1,invert:false,),(frame:17,bit:1,invert:true,),(frame:18,bit:1,invert:true,),(frame:19,bit:1,invert:false,),(frame:20,bit:1,invert:true,),],
      },
    ),
    "PIOB.GLITCHFILTER": (
      options: {
        "OFF": [(frame:26,bit:1,invert:false,),],
        "ON": [],
      },
    ),
    "PIOB.HYSTERESIS_1V5": (
      options: {
        "OFF": [(frame:21,bit:1,invert:true,),(frame:23,bit:1,invert:true,),(frame:81,bit:1,invert:true,),],
        "ON": [(frame:21,bit:1,invert:false,),(frame:23,bit:1,invert:false,),(frame:81,bit:1,invert:false,),],
      },
    ),
    "PIOB.HYSTERESIS_1V8": (
      options: {
        "OFF": [(frame:21,bit:1,invert:true,),(frame:81,bit:1,invert:true,),],
        "ON": [(frame:21,bit:1,invert:false,),(frame:81,bit:1,invert:false,),],
      },
    ),
    "PIOB.HYSTERESIS_2V5": (
      options: {
        "OFF": [(frame:12,bit:1,invert:true,),],
        "ON": [(frame:12,bit:1,invert:false,),],
      },
    ),
    "PIOB.LOOPBKCD2AB": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:32,bit:1,invert:false,),],
      },
    ),
    "PIOB.OPENDRAIN": (
      options: {
        "OFF": [],
        "ON": [(frame:10,bit:1,invert:false,),],
      },
    ),
    "PIOB.PULLMODE": (
      options: {
        "DOWN": [(frame:22,bit:1,invert:true,),(frame:24,bit:1,invert:true,),(frame:25,bit:1,invert:true,),],
        "I3C": [(frame:22,bit:1,invert:false,),(frame:24,bit:1,invert:false,),(frame:25,bit:1,invert:false,),],
        "KEEPER": [(frame:22,bit:1,invert:true,),(frame:24,bit:1,invert:false,),(frame:25,bit:1,invert:true,),],
        "NONE": [(frame:22,bit:1,invert:true,),(frame:24,bit:1,invert:true,),(frame:25,bit:1,invert:false,),],
        "UP": [(frame:22,bit:1,invert:true,),(frame:24,bit:1,invert:false,),(frame:25,bit:1,invert:false,),],
      },
    ),
    "PIOB.SLEEPHIGHLEAKAGE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:39,bit:1,invert:false,),],
      },
    ),
    "PIOB.SLEWRATE": (
      options: {
        "FAST": [(frame:27,bit:1,invert:false,),(frame:28,bit:1,invert:false,),(frame:29,bit:1,invert:false,),(frame:30,bit:1,invert:false,),],
        "MED": [(frame:27,bit:1,invert:false,),],
        "SLOW": [],
      },
    ),
    "PIOB.TERMINATION_1V2": (
      options: {
        "40": [(frame:9,bit:1,invert:false,),],
        "50": [(frame:7,bit:1,invert:false,),(frame:8,bit:1,invert:false,),],
        "60": [(frame:8,bit:1,invert:false,),],
        "75": [(frame:6,bit:1,invert:false,),(frame:7,bit:1,invert:false,),],
        "OFF": [],
      },
    ),
    "PIOB.TERMINATION_1V5": (
      options: {
        "40": [(frame:6,bit:1,invert:false,),(frame:9,bit:1,invert:false,),],
        "50": [(frame:5,bit:1,invert:false,),(frame:7,bit:1,invert:false,),(frame:8,bit:1,invert:false,),],
        "60": [(frame:8,bit:1,invert:false,),],
        "75": [(frame:6,bit:1,invert:false,),(frame:7,bit:1,invert:false,),],
        "OFF": [],
      },
    ),
    "PIOB.TERMINATION_1V8": (
      options: {
        "150": [(frame:7,bit:1,invert:false,),],
        "40": [(frame:7,bit:1,invert:false,),(frame:9,bit:1,invert:false,),],
        "50": [(frame:6,bit:1,invert:false,),(frame:7,bit:1,invert:false,),(frame:8,bit:1,invert:false,),],
        "60": [(frame:6,bit:1,invert:false,),(frame:8,bit:1,invert:false,),],
        "75": [(frame:5,bit:1,invert:false,),(frame:6,bit:1,invert:false,),(frame:7,bit:1,invert:false,),],
        "OFF": [],
      },
    ),
    "PIOB.TMUX": (
      options: {
        "INV": [(frame:35,bit:1,invert:false,),],
        "T": [],
      },
    ),
    "PIOB.UNDERDRIVE_1V8": (
      options: {
        "OFF": [(frame:13,bit:1,invert:true,),(frame:23,bit:1,invert:true,),],
        "ON": [(frame:13,bit:1,invert:false,),(frame:23,bit:1,invert:false,),],
      },
    ),
    "PIOB.UNDERDRIVE_3V3": (
      options: {
        "OFF": [(frame:12,bit:1,invert:true,),(frame:13,bit:1,invert:true,),],
        "ON": [(frame:12,bit:1,invert:false,),(frame:13,bit:1,invert:false,),],
      },
    ),
  },
  conns: {},
  always_on: [
    (
      frame: 16,
      bit: 1,
      invert: false,
    ),
  ],
  tile_configures_external_tiles: [
    (0, 0),
  ],
)