(
  pips: {
    "N1W8:JECLKOUT_I_DQS_TOP_ECLK_ROUTING_MUX": [
      (
        from_wire: "N1W8:JECLK1_I_DQS_TOP_ECLK_ROUTING_MUX",
        bits: [(frame:42,bit:1,invert:false,),],
      ),
      (
        from_wire: "N1W8:JECLK2_I_DQS_TOP_ECLK_ROUTING_MUX",
        bits: [(frame:41,bit:1,invert:false,),],
      ),
      (
        from_wire: "N1W8:JECLK3_I_DQS_TOP_ECLK_ROUTING_MUX",
        bits: [(frame:41,bit:1,invert:false,),(frame:42,bit:1,invert:false,),],
      ),
    ],
  },
  words: {
    "DQSBUF.RD_PNTR": (
      bits: [
        [],
        [(frame:44,bit:1,invert:false,),],
        [(frame:43,bit:1,invert:false,),],
      ],
    ),
    "DQSBUF.S_READ": (
      bits: [
        [(frame:40,bit:1,invert:false,),],
        [(frame:39,bit:1,invert:false,),],
        [(frame:38,bit:1,invert:false,),],
        [(frame:37,bit:1,invert:false,),],
        [(frame:36,bit:1,invert:false,),],
        [(frame:35,bit:1,invert:false,),],
        [(frame:34,bit:1,invert:false,),],
        [],
        [],
      ],
    ),
    "IOL_B24A.DELAYA.DEL_VALUE": (
      bits: [
        [(frame:43,bit:0,invert:false,),],
        [(frame:44,bit:0,invert:false,),],
        [(frame:45,bit:0,invert:false,),],
        [(frame:46,bit:0,invert:false,),],
        [(frame:47,bit:0,invert:false,),],
        [(frame:48,bit:0,invert:false,),],
        [(frame:49,bit:0,invert:false,),],
      ],
    ),
  },
  enums: {
    "IOL_B24A.DELAYA.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:52,bit:0,invert:false,),],
        "1P6NS": [(frame:53,bit:0,invert:false,),],
      },
    ),
    "IOL_B24A.DELAYA.COARSE_DELAY_MODE": (
      options: {
        "DYNAMIC": [(frame:51,bit:0,invert:false,),],
        "STATIC": [],
      },
    ),
    "IOL_B24A.DELAYA.EDGE_MONITOR": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:17,bit:0,invert:false,),],
      },
    ),
    "IOL_B24A.DELAYA.WAIT_FOR_EDGE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:42,bit:0,invert:false,),],
      },
    ),
  },
  conns: {},
)