(
  pips: {
    "N1W6:JSELDLLCD0_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "G:JCODEI10_I_DQS_TOP_DLL_CODE_ROUTING_MUX",
        bits: [(frame:35,bit:1,invert:false,),],
      ),
    ],
    "N1W6:JSELDLLCD1_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "G:JCODEI11_I_DQS_TOP_DLL_CODE_ROUTING_MUX",
        bits: [(frame:35,bit:1,invert:false,),],
      ),
    ],
    "N1W6:JSELDLLCD2_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "G:JCODEI12_I_DQS_TOP_DLL_CODE_ROUTING_MUX",
        bits: [(frame:35,bit:1,invert:false,),],
      ),
    ],
    "N1W6:JSELDLLCD3_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "G:JCODEI13_I_DQS_TOP_DLL_CODE_ROUTING_MUX",
        bits: [(frame:35,bit:1,invert:false,),],
      ),
    ],
    "N1W6:JSELDLLCD4_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "G:JCODEI14_I_DQS_TOP_DLL_CODE_ROUTING_MUX",
        bits: [(frame:35,bit:1,invert:false,),],
      ),
    ],
    "N1W6:JSELDLLCD5_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "G:JCODEI15_I_DQS_TOP_DLL_CODE_ROUTING_MUX",
        bits: [(frame:35,bit:1,invert:false,),],
      ),
    ],
    "N1W6:JSELDLLCD6_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "G:JCODEI16_I_DQS_TOP_DLL_CODE_ROUTING_MUX",
        bits: [(frame:35,bit:1,invert:false,),],
      ),
    ],
    "N1W6:JSELDLLCD7_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "G:JCODEI17_I_DQS_TOP_DLL_CODE_ROUTING_MUX",
        bits: [(frame:35,bit:1,invert:false,),],
      ),
    ],
    "N1W6:JSELDLLCD8_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "G:JCODEI18_I_DQS_TOP_DLL_CODE_ROUTING_MUX",
        bits: [(frame:35,bit:1,invert:false,),],
      ),
    ],
  },
  words: {
    "IOL_B22A.DELAYA.DEL_VALUE": (
      bits: [
        [(frame:43,bit:0,invert:false,),],
        [(frame:44,bit:0,invert:false,),],
        [(frame:45,bit:0,invert:false,),],
        [(frame:46,bit:0,invert:false,),],
        [(frame:47,bit:0,invert:false,),],
        [(frame:48,bit:0,invert:false,),],
        [(frame:49,bit:0,invert:false,),],
      ],
    ),
  },
  enums: {
    "DQSBUF.ENABLE_FIFO": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:36,bit:1,invert:false,),],
      },
      desc: "DQSBUF read FIFO enable",
    ),
    "DQSBUF.FORCE_READ": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:37,bit:1,invert:false,),],
      },
    ),
    "DQSBUF.FREE_WHEEL": (
      options: {
        "DDR": [],
        "GDDR": [(frame:38,bit:1,invert:false,),],
      },
    ),
    "DQSBUF.GSR": (
      options: {
        "DISABLED": [(frame:34,bit:1,invert:false,),],
        "ENABLED": [],
      },
      desc: "DQSBUF GSR mask",
    ),
    "DQSBUF.MT_EN_READ": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:39,bit:1,invert:false,),],
      },
    ),
    "DQSBUF.MT_EN_WRITE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:40,bit:1,invert:false,),],
      },
    ),
    "DQSBUF.MT_EN_WRITE_LEVELING": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:41,bit:1,invert:false,),],
      },
    ),
    "DQSBUF.PAUSEMUX": (
      options: {
        "0": [],
        "PAUSE": [(frame:42,bit:1,invert:false,),],
      },
    ),
    "DQSBUF.READ_ENABLE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:43,bit:1,invert:false,),],
      },
    ),
    "IOL_B22A.DELAYA.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:52,bit:0,invert:false,),],
        "1P6NS": [(frame:53,bit:0,invert:false,),],
      },
    ),
    "IOL_B22A.DELAYA.COARSE_DELAY_MODE": (
      options: {
        "DYNAMIC": [(frame:51,bit:0,invert:false,),],
        "STATIC": [],
      },
    ),
    "IOL_B22A.DELAYA.EDGE_MONITOR": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:17,bit:0,invert:false,),],
      },
    ),
    "IOL_B22A.DELAYA.WAIT_FOR_EDGE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:42,bit:0,invert:false,),],
      },
    ),
  },
  conns: {},
  always_on: [
    (
      frame: 13,
      bit: 1,
      invert: false,
    ),
  ],
)