(
  pips: {
    "W1:JECLKOUT_I218": [
      (
        from_wire: "W1:JECLKIN1_I218",
        bits: [(frame:20,bit:1,invert:false,),],
      ),
      (
        from_wire: "W1:JECLKIN2_I218",
        bits: [(frame:20,bit:0,invert:false,),],
      ),
      (
        from_wire: "W1:JECLKIN3_I218",
        bits: [(frame:20,bit:0,invert:false,),(frame:20,bit:1,invert:false,),],
      ),
    ],
  },
  words: {
    "IOL_B58B.DELAYA.DEL_VALUE": (
      bits: [
        [(frame:44,bit:0,invert:false,),],
        [(frame:45,bit:0,invert:false,),],
        [(frame:46,bit:0,invert:false,),],
        [(frame:47,bit:0,invert:false,),],
        [(frame:48,bit:0,invert:false,),],
        [(frame:49,bit:0,invert:false,),],
        [(frame:50,bit:0,invert:false,),],
      ],
    ),
  },
  enums: {
    "DQSBUF.BYPASS_READ_SMTH_LATCH": (
      options: {
        "BYPASS_PATH": [(frame:40,bit:1,invert:false,),],
        "SMOOTHING_PATH": [],
      },
    ),
    "DQSBUF.BYPASS_WR_LEVEL_SMTH_LATCH": (
      options: {
        "BYPASS_PATH": [(frame:41,bit:1,invert:false,),],
        "SMOOTHING_PATH": [],
      },
    ),
    "DQSBUF.BYPASS_WR_SMTH_LATCH": (
      options: {
        "BYPASS_PATH": [(frame:42,bit:1,invert:false,),],
        "SMOOTHING_PATH": [],
      },
    ),
    "DQSBUF.RSTSMCNTMUX": (
      options: {
        "INV": [],
        "RSTSMCNT": [(frame:43,bit:1,invert:false,),],
      },
    ),
    "DQSBUF.SCLKMUX": (
      options: {
        "INV": [(frame:34,bit:1,invert:false,),],
        "SCLK": [],
      },
    ),
    "DQSBUF.SEL_READ_BIT_ENABLE_CYCLES": (
      options: {
        "DELAYED_0P5_ECLK": [(frame:35,bit:1,invert:false,),],
        "NORMAL": [],
      },
    ),
    "IOL_B58B.DELAYA.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:53,bit:0,invert:false,),],
        "1P6NS": [(frame:54,bit:0,invert:false,),],
      },
    ),
    "IOL_B58B.DELAYA.COARSE_DELAY_MODE": (
      options: {
        "DYNAMIC": [(frame:52,bit:0,invert:false,),],
        "STATIC": [],
      },
    ),
    "IOL_B58B.DELAYA.EDGE_MONITOR": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:17,bit:0,invert:false,),],
      },
    ),
    "IOL_B58B.DELAYA.WAIT_FOR_EDGE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:43,bit:0,invert:false,),],
      },
    ),
  },
  conns: {},
)