(
  pips: {},
  words: {
    "IOL_B52A.DELAYA.DEL_VALUE": (
      bits: [
        [(frame:43,bit:0,invert:false,),],
        [(frame:44,bit:0,invert:false,),],
        [(frame:45,bit:0,invert:false,),],
        [(frame:46,bit:0,invert:false,),],
        [(frame:47,bit:0,invert:false,),],
        [(frame:48,bit:0,invert:false,),],
        [(frame:49,bit:0,invert:false,),],
      ],
    ),
  },
  enums: {
    "BANK4.DIFF_IO": (
      options: {
        "OFF": [],
        "ON": [(frame:46,bit:1,invert:false,),],
      },
      desc: "use differential IO in bank 4",
    ),
    "BANK4.LVDS_IO": (
      options: {
        "OFF": [],
        "ON": [(frame:32,bit:1,invert:false,),(frame:45,bit:1,invert:false,),],
      },
      desc: "use LVDS IO in bank 4",
    ),
    "BANK4.MIPI_DPHY_IO": (
      options: {
        "OFF": [],
        "ON": [(frame:36,bit:1,invert:false,),],
      },
      desc: "use DPHY IO in bank 4",
    ),
    "BANK4.REF_IO": (
      options: {
        "OFF": [],
        "ON": [(frame:45,bit:1,invert:false,),],
      },
      desc: "use referenced inputs in bank 4",
    ),
    "BANK4.SLVS_IO": (
      options: {
        "OFF": [],
        "ON": [(frame:36,bit:1,invert:false,),],
      },
      desc: "use SLVS IO in bank 4",
    ),
    "BANK4.VREF2_USED": (
      options: {
        "OFF": [],
        "ON": [(frame:94,bit:1,invert:false,),],
      },
      desc: "use VREF2 input for bank 4",
    ),
    "IOL_B52A.DELAYA.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:52,bit:0,invert:false,),],
        "1P6NS": [(frame:53,bit:0,invert:false,),],
      },
    ),
    "IOL_B52A.DELAYA.COARSE_DELAY_MODE": (
      options: {
        "DYNAMIC": [(frame:51,bit:0,invert:false,),],
        "STATIC": [],
      },
    ),
    "IOL_B52A.DELAYA.EDGE_MONITOR": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:17,bit:0,invert:false,),],
      },
    ),
    "IOL_B52A.DELAYA.WAIT_FOR_EDGE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:42,bit:0,invert:false,),],
      },
    ),
  },
  conns: {},
)