(
  pips: {},
  words: {
    "IOLOGICA.DELAY.DEL_VALUE": (
      bits: [
        [(frame:43,bit:0,invert:false,),],
        [(frame:44,bit:0,invert:false,),],
        [(frame:45,bit:0,invert:false,),],
        [(frame:46,bit:0,invert:false,),],
        [(frame:47,bit:0,invert:false,),],
        [(frame:48,bit:0,invert:false,),],
        [(frame:49,bit:0,invert:false,),],
      ],
      desc: "initial fine delay value",
    ),
    "IOL_B10A.DELAYA.DEL_VALUE": (
      bits: [
        [(frame:43,bit:0,invert:false,),],
        [(frame:44,bit:0,invert:false,),],
        [(frame:45,bit:0,invert:false,),],
        [(frame:46,bit:0,invert:false,),],
        [(frame:47,bit:0,invert:false,),],
        [(frame:48,bit:0,invert:false,),],
        [(frame:49,bit:0,invert:false,),],
      ],
    ),
    "IOL_B16A.DELAYA.DEL_VALUE": (
      bits: [
        [(frame:43,bit:0,invert:false,),],
        [(frame:44,bit:0,invert:false,),],
        [(frame:45,bit:0,invert:false,),],
        [(frame:46,bit:0,invert:false,),],
        [(frame:47,bit:0,invert:false,),],
        [(frame:48,bit:0,invert:false,),],
        [(frame:49,bit:0,invert:false,),],
      ],
    ),
  },
  enums: {
    "IOLOGICA.CEINMUX": (
      options: {
        "1": [(frame:7,bit:0,invert:false,),],
        "CEIN": [(frame:6,bit:0,invert:false,),],
        "INV": [],
      },
    ),
    "IOLOGICA.CEOUTMUX": (
      options: {
        "1": [(frame:8,bit:0,invert:false,),],
        "CEOUT": [(frame:5,bit:0,invert:false,),],
        "INV": [],
      },
    ),
    "IOLOGICA.DELAY.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:52,bit:0,invert:false,),],
        "1P6NS": [(frame:53,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.DELAY.COARSE_DELAY_MODE": (
      options: {
        "DYNAMIC": [(frame:51,bit:0,invert:false,),],
        "STATIC": [],
      },
    ),
    "IOLOGICA.DELAY.EDGE_MONITOR": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:17,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.DELAY.WAIT_FOR_EDGE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:42,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.DELAYMUX": (
      options: {
        "IN": [],
        "OUT_REG": [(frame:35,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.DIRMUX": (
      options: {
        "0": [],
        "DIR": [(frame:54,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.GSR": (
      options: {
        "DISABLED": [(frame:33,bit:0,invert:false,),],
        "ENABLED": [],
      },
    ),
    "IOLOGICA.IDDRX1_ODDRX1.TRISTATE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:18,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.IDDRXN.DDRMODE": (
      options: {
        "IDDR71": [(frame:67,bit:0,invert:false,),(frame:68,bit:0,invert:false,),],
        "IDDRX2": [(frame:67,bit:0,invert:false,),],
        "IDDRX4": [(frame:66,bit:0,invert:false,),],
        "IDDRX5": [(frame:66,bit:0,invert:false,),(frame:68,bit:0,invert:false,),],
        "NONE": [],
      },
    ),
    "IOLOGICA.INMUX": (
      options: {
        "BYPASS": [],
        "DELAY": [(frame:30,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.INREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:15,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.IREG_OREG.TRISTATE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:18,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.LOAD_NMUX": (
      options: {
        "1": [],
        "LOAD_N": [(frame:50,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.LSRINMUX": (
      options: {
        "0": [],
        "INV": [(frame:10,bit:0,invert:false,),],
        "LSRIN": [(frame:9,bit:0,invert:false,),(frame:10,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.LSROUTMUX": (
      options: {
        "0": [],
        "INV": [(frame:11,bit:0,invert:false,),],
        "LSROUT": [(frame:11,bit:0,invert:false,),(frame:12,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.MIDDRXN.DDRMODE": (
      options: {
        "MIDDRX2": [(frame:67,bit:0,invert:false,),],
        "MIDDRX4": [(frame:66,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.MODDRXN.DDRMODE": (
      options: {
        "MODDRX2_DQSW": [(frame:38,bit:0,invert:false,),(frame:41,bit:0,invert:false,),],
        "MODDRX2_DQSW270": [(frame:41,bit:0,invert:false,),(frame:63,bit:0,invert:false,),],
        "MODDRX4_DQSW": [(frame:24,bit:1,invert:false,),(frame:38,bit:0,invert:false,),(frame:41,bit:0,invert:false,),],
        "MODDRX4_DQSW270": [(frame:24,bit:1,invert:false,),(frame:41,bit:0,invert:false,),(frame:63,bit:0,invert:false,),],
        "MOSHX2": [(frame:24,bit:0,invert:false,),(frame:63,bit:0,invert:false,),],
        "MOSHX4": [(frame:24,bit:0,invert:false,),(frame:25,bit:0,invert:false,),(frame:63,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.MODE": (
      options: {
        "IDDRX1_ODDRX1": [(frame:68,bit:0,invert:false,),],
        "IDDRXN": [],
        "IREG_OREG": [],
        "MIDDRXN_MODDRXN": [(frame:13,bit:0,invert:false,),],
        "NONE": [],
        "ODDRXN": [],
      },
    ),
    "IOLOGICA.MOVEMUX": (
      options: {
        "0": [],
        "MOVE": [(frame:61,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.ODDRXN.DDRMODE": (
      options: {
        "ODDR71": [(frame:25,bit:0,invert:false,),],
        "ODDRX2": [],
        "ODDRX4": [(frame:24,bit:1,invert:false,),],
        "ODDRX5": [(frame:24,bit:1,invert:false,),(frame:25,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.OUTMUX": (
      options: {
        "BYPASS": [],
        "DELAY": [(frame:31,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.OUTREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:64,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.RANK0UPDATEMUX": (
      options: {
        "OFF": [],
        "RANK0UPDATE": [(frame:55,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.RANK1UPDATEMUX": (
      options: {
        "OFF": [],
        "RANK1UPDATE": [(frame:58,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.RANKENABLEMUX": (
      options: {
        "OFF": [],
        "RANKENABLE": [(frame:56,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.RANKSELECTMUX": (
      options: {
        "OFF": [],
        "RANKSELECT": [(frame:57,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.SCLKINMUX": (
      options: {
        "0": [],
        "INV": [(frame:25,bit:1,invert:false,),(frame:26,bit:0,invert:false,),],
        "SCLKIN": [(frame:25,bit:1,invert:false,),],
      },
    ),
    "IOLOGICA.SCLKOUTMUX": (
      options: {
        "0": [],
        "INV": [(frame:36,bit:0,invert:false,),(frame:37,bit:0,invert:false,),],
        "SCLKOUT": [(frame:36,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.SRMODE": (
      options: {
        "ASYNC": [],
        "LSR_OVER_CE": [(frame:32,bit:0,invert:false,),],
      },
    ),
    "IOLOGICA.TSREG.REGSET": (
      options: {
        "RESET": [],
        "SET": [(frame:39,bit:0,invert:false,),],
      },
    ),
    "IOL_B10A.DELAYA.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:52,bit:0,invert:false,),],
        "1P6NS": [(frame:53,bit:0,invert:false,),],
      },
    ),
    "IOL_B10A.DELAYA.COARSE_DELAY_MODE": (
      options: {
        "DYNAMIC": [(frame:51,bit:0,invert:false,),],
        "STATIC": [],
      },
    ),
    "IOL_B10A.DELAYA.EDGE_MONITOR": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:17,bit:0,invert:false,),],
      },
    ),
    "IOL_B10A.DELAYA.WAIT_FOR_EDGE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:42,bit:0,invert:false,),],
      },
    ),
    "IOL_B16A.DELAYA.COARSE_DELAY": (
      options: {
        "0NS": [],
        "0P8NS": [(frame:52,bit:0,invert:false,),],
        "1P6NS": [(frame:53,bit:0,invert:false,),],
      },
    ),
    "IOL_B16A.DELAYA.COARSE_DELAY_MODE": (
      options: {
        "DYNAMIC": [(frame:51,bit:0,invert:false,),],
        "STATIC": [],
      },
    ),
    "IOL_B16A.DELAYA.EDGE_MONITOR": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:17,bit:0,invert:false,),],
      },
    ),
    "IOL_B16A.DELAYA.WAIT_FOR_EDGE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:42,bit:0,invert:false,),],
      },
    ),
  },
  conns: {},
)