(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "G:JCLKOUT_ECLKDDRR_0": [
      (
        from_wire: "JECLKTREE0_ECLKDDRR_0",
      ),
    ],
    "G:JCLKOUT_ECLKDDRR_1": [
      (
        from_wire: "JECLKTREE0_ECLKDDRR_1",
      ),
    ],
    "G:JCLKOUT_ECLKDDRR_2": [
      (
        from_wire: "JECLKTREE0_ECLKDDRR_2",
      ),
    ],
    "G:JCLKOUT_ECLKDDRR_3": [
      (
        from_wire: "JECLKTREE0_ECLKDDRR_3",
      ),
    ],
    "G:JLLCLKOP_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W49:JCLKOP_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS2_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W49:JCLKOS2_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS3_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W49:JCLKOS3_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS4_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W49:JCLKOS4_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS5_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W49:JCLKOS5_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W49:JCLKOS_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLRCLKOP_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "N2E36:JCLKOP_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLRCLKOS2_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "N2E36:JCLKOS2_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLRCLKOS3_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "N2E36:JCLKOS3_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLRCLKOS4_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "N2E36:JCLKOS4_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLRCLKOS5_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "N2E36:JCLKOS5_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLRCLKOS_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "N2E36:JCLKOS_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JPCLKT0_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "E4:JCLKOUT_DLLDEL_CORE_I0",
      ),
    ],
    "G:JPCLKT1_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "S1E8:JINCK_IOLOGIC_CORE_I_GEARING_PIC_TOP_A",
      ),
      (
        from_wire: "S1E8:JPADDI_DIFFIO18_CORE_IOA",
      ),
    ],
    "G:JPCLKT2_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "E5:JCLKOUT_DLLDEL_CORE_I0",
      ),
    ],
    "G:JPCLKT3_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "S1E24:JINCK_IOLOGIC_CORE_I_GEARING_PIC_TOP_A",
      ),
      (
        from_wire: "S1E24:JPADDI_DIFFIO18_CORE_IOA",
      ),
    ],
    "JDIVRST_ECLKDIV_CORE_ECLKDIVB3_0": [
      (
        from_wire: "E3:JLSR0",
      ),
    ],
    "JDIVRST_ECLKDIV_CORE_ECLKDIVB3_1": [
      (
        from_wire: "E3:JLSR1",
      ),
    ],
    "JDIVRST_ECLKDIV_CORE_ECLKDIVB3_2": [
      (
        from_wire: "E2:JLSR0",
      ),
    ],
    "JDIVRST_ECLKDIV_CORE_ECLKDIVB3_3": [
      (
        from_wire: "E2:JLSR1",
      ),
    ],
    "JECLKCAS0M0_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "W2:JECLKOUT_ECLKSYNC_CORE_ECLKSYNC5_0",
      ),
    ],
    "JECLKCAS0M1_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "W2:JECLKOUT_ECLKSYNC_CORE_ECLKSYNC5_1",
      ),
    ],
    "JECLKCAS0M2_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "W2:JECLKOUT_ECLKSYNC_CORE_ECLKSYNC5_2",
      ),
    ],
    "JECLKCAS0M3_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "W2:JECLKOUT_ECLKSYNC_CORE_ECLKSYNC5_3",
      ),
    ],
    "JECLKCAS1M0_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "W1:JECLKOUT_ECLKSYNC_CORE_ECLKSYNC4_0",
      ),
    ],
    "JECLKCAS1M1_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "W1:JECLKOUT_ECLKSYNC_CORE_ECLKSYNC4_1",
      ),
    ],
    "JECLKCAS1M2_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "W1:JECLKOUT_ECLKSYNC_CORE_ECLKSYNC4_2",
      ),
    ],
    "JECLKCAS1M3_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "W1:JECLKOUT_ECLKSYNC_CORE_ECLKSYNC4_3",
      ),
    ],
    "JECLKCIB0_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W1:JCIBMUXOUTB0",
      ),
    ],
    "JECLKCIB1_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W1:JCIBMUXOUTB1",
      ),
    ],
    "JECLKCIB2_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W1:JCIBMUXOUTB2",
      ),
    ],
    "JECLKCIB3_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W1:JCIBMUXOUTB3",
      ),
    ],
    "JECLKIN_ECLKDIV_CORE_ECLKDIVB3_0": [
      (
        from_wire: "G:JECLKOUT0_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKIN_ECLKDIV_CORE_ECLKDIVB3_1": [
      (
        from_wire: "G:JECLKOUT1_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKIN_ECLKDIV_CORE_ECLKDIVB3_2": [
      (
        from_wire: "G:JECLKOUT2_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKIN_ECLKDIV_CORE_ECLKDIVB3_3": [
      (
        from_wire: "G:JECLKOUT3_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKIN_ECLKSYNC_CORE_ECLKSYNC3_0": [
      (
        from_wire: "G:JMUXIN0_ECLKBANK_CORE_ECLKBANK3",
      ),
    ],
    "JECLKIN_ECLKSYNC_CORE_ECLKSYNC3_1": [
      (
        from_wire: "G:JMUXIN1_ECLKBANK_CORE_ECLKBANK3",
      ),
    ],
    "JECLKIN_ECLKSYNC_CORE_ECLKSYNC3_2": [
      (
        from_wire: "G:JMUXIN2_ECLKBANK_CORE_ECLKBANK3",
      ),
    ],
    "JECLKIN_ECLKSYNC_CORE_ECLKSYNC3_3": [
      (
        from_wire: "G:JMUXIN3_ECLKBANK_CORE_ECLKBANK3",
      ),
    ],
    "JECLKOUT_ECLKSYNC_CORE_ECLKSYNC3_0": [
      (
        from_wire: "JECLKIN_ECLKSYNC_CORE_ECLKSYNC3_0",
      ),
    ],
    "JECLKOUT_ECLKSYNC_CORE_ECLKSYNC3_1": [
      (
        from_wire: "JECLKIN_ECLKSYNC_CORE_ECLKSYNC3_1",
      ),
    ],
    "JECLKOUT_ECLKSYNC_CORE_ECLKSYNC3_2": [
      (
        from_wire: "JECLKIN_ECLKSYNC_CORE_ECLKSYNC3_2",
      ),
    ],
    "JECLKOUT_ECLKSYNC_CORE_ECLKSYNC3_3": [
      (
        from_wire: "JECLKIN_ECLKSYNC_CORE_ECLKSYNC3_3",
      ),
    ],
    "JECLKSYNCM0_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "JECLKOUT_ECLKSYNC_CORE_ECLKSYNC3_0",
      ),
    ],
    "JECLKSYNCM1_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "JECLKOUT_ECLKSYNC_CORE_ECLKSYNC3_1",
      ),
    ],
    "JECLKSYNCM2_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "JECLKOUT_ECLKSYNC_CORE_ECLKSYNC3_2",
      ),
    ],
    "JECLKSYNCM3_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "JECLKOUT_ECLKSYNC_CORE_ECLKSYNC3_3",
      ),
    ],
    "JECLKTREE0_ECLKDDRR_0": [
      (
        from_wire: "G:JECLKOUT0_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKTREE0_ECLKDDRR_1": [
      (
        from_wire: "G:JECLKOUT1_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKTREE0_ECLKDDRR_2": [
      (
        from_wire: "G:JECLKOUT2_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKTREE0_ECLKDDRR_3": [
      (
        from_wire: "G:JECLKOUT3_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLKTREE1_ECLKDDRR_0": [
      (
        from_wire: "G:JECLKOUT0_ECLKCASMUX_CORE_ECLKCASMUX4",
      ),
    ],
    "JECLKTREE1_ECLKDDRR_1": [
      (
        from_wire: "G:JECLKOUT1_ECLKCASMUX_CORE_ECLKCASMUX4",
      ),
    ],
    "JECLKTREE1_ECLKDDRR_2": [
      (
        from_wire: "G:JECLKOUT2_ECLKCASMUX_CORE_ECLKCASMUX4",
      ),
    ],
    "JECLKTREE1_ECLKDDRR_3": [
      (
        from_wire: "G:JECLKOUT3_ECLKCASMUX_CORE_ECLKCASMUX4",
      ),
    ],
    "JSLIP_ECLKDIV_CORE_ECLKDIVB3_0": [
      (
        from_wire: "E1:JCIBMUXOUTC2",
      ),
    ],
    "JSLIP_ECLKDIV_CORE_ECLKDIVB3_1": [
      (
        from_wire: "E1:JCIBMUXOUTC3",
      ),
    ],
    "JSLIP_ECLKDIV_CORE_ECLKDIVB3_2": [
      (
        from_wire: "E1:JCIBMUXOUTC4",
      ),
    ],
    "JSLIP_ECLKDIV_CORE_ECLKDIVB3_3": [
      (
        from_wire: "E1:JCIBMUXOUTC5",
      ),
    ],
    "JSTOP_ECLKSYNC_CORE_ECLKSYNC3_0": [
      (
        from_wire: "JCIBMUXOUTD2",
      ),
    ],
    "JSTOP_ECLKSYNC_CORE_ECLKSYNC3_1": [
      (
        from_wire: "JCIBMUXOUTB4",
      ),
    ],
    "JSTOP_ECLKSYNC_CORE_ECLKSYNC3_2": [
      (
        from_wire: "JCIBMUXOUTB7",
      ),
    ],
    "JSTOP_ECLKSYNC_CORE_ECLKSYNC3_3": [
      (
        from_wire: "JCIBMUXOUTB5",
      ),
    ],
    "JTESTINP0_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W2:JCIBMUXOUTA0",
      ),
    ],
    "JTESTINP0_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "W2:JCIBMUXOUTA4",
      ),
    ],
    "JTESTINP0_ECLKDIV_CORE_ECLKDIVB3_0": [
      (
        from_wire: "W2:JCIBMUXOUTC2",
      ),
    ],
    "JTESTINP0_ECLKDIV_CORE_ECLKDIVB3_1": [
      (
        from_wire: "W2:JCIBMUXOUTC2",
      ),
    ],
    "JTESTINP0_ECLKDIV_CORE_ECLKDIVB3_2": [
      (
        from_wire: "W2:JCIBMUXOUTC2",
      ),
    ],
    "JTESTINP0_ECLKDIV_CORE_ECLKDIVB3_3": [
      (
        from_wire: "W2:JCIBMUXOUTC2",
      ),
    ],
    "JTESTINP1_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W2:JCIBMUXOUTA1",
      ),
    ],
    "JTESTINP1_ECLKCASMUX_CORE_ECLKCASMUX3": [
      (
        from_wire: "W2:JCIBMUXOUTA5",
      ),
    ],
    "JTESTINP1_ECLKDIV_CORE_ECLKDIVB3_0": [
      (
        from_wire: "W2:JCIBMUXOUTC3",
      ),
    ],
    "JTESTINP1_ECLKDIV_CORE_ECLKDIVB3_1": [
      (
        from_wire: "W2:JCIBMUXOUTC3",
      ),
    ],
    "JTESTINP1_ECLKDIV_CORE_ECLKDIVB3_2": [
      (
        from_wire: "W2:JCIBMUXOUTC3",
      ),
    ],
    "JTESTINP1_ECLKDIV_CORE_ECLKDIVB3_3": [
      (
        from_wire: "W2:JCIBMUXOUTC3",
      ),
    ],
    "JTESTINP2_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W2:JCIBMUXOUTA2",
      ),
    ],
    "JTESTINP2_ECLKDIV_CORE_ECLKDIVB3_0": [
      (
        from_wire: "W2:JCIBMUXOUTC4",
      ),
    ],
    "JTESTINP2_ECLKDIV_CORE_ECLKDIVB3_1": [
      (
        from_wire: "W2:JCIBMUXOUTC4",
      ),
    ],
    "JTESTINP2_ECLKDIV_CORE_ECLKDIVB3_2": [
      (
        from_wire: "W2:JCIBMUXOUTC4",
      ),
    ],
    "JTESTINP2_ECLKDIV_CORE_ECLKDIVB3_3": [
      (
        from_wire: "W2:JCIBMUXOUTC4",
      ),
    ],
    "JTESTINP3_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "W2:JCIBMUXOUTA3",
      ),
    ],
    "JTESTINP3_ECLKDIV_CORE_ECLKDIVB3_0": [
      (
        from_wire: "W2:JCIBMUXOUTC5",
      ),
    ],
    "JTESTINP3_ECLKDIV_CORE_ECLKDIVB3_1": [
      (
        from_wire: "W2:JCIBMUXOUTC5",
      ),
    ],
    "JTESTINP3_ECLKDIV_CORE_ECLKDIVB3_2": [
      (
        from_wire: "W2:JCIBMUXOUTC5",
      ),
    ],
    "JTESTINP3_ECLKDIV_CORE_ECLKDIVB3_3": [
      (
        from_wire: "W2:JCIBMUXOUTC5",
      ),
    ],
  },
)