(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "W1:H02W0001": [
      (
        from_wire: "W2:H02E0001",
      ),
    ],
    "W1:H02W0101": [
      (
        from_wire: "W2:H02E0101",
      ),
    ],
    "W1:H02W0201": [
      (
        from_wire: "W2:H02E0201",
      ),
    ],
    "W1:H02W0301": [
      (
        from_wire: "W2:H02E0301",
      ),
    ],
    "W1:H02W0401": [
      (
        from_wire: "W2:H02E0401",
      ),
    ],
    "W1:H02W0501": [
      (
        from_wire: "W2:H02E0501",
      ),
    ],
    "W1:H02W0601": [
      (
        from_wire: "W2:H02E0601",
      ),
    ],
    "W1:H02W0701": [
      (
        from_wire: "W2:H02E0701",
      ),
    ],
  },
)