(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "G:JD0_I4_0": [
      (
        from_wire: "W27:JCODE0_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_1": [
      (
        from_wire: "W27:JCODE1_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_2": [
      (
        from_wire: "W27:JCODE2_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_3": [
      (
        from_wire: "W27:JCODE3_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_4": [
      (
        from_wire: "W27:JCODE4_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_5": [
      (
        from_wire: "W27:JCODE5_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_6": [
      (
        from_wire: "W27:JCODE6_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_7": [
      (
        from_wire: "W27:JCODE7_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_8": [
      (
        from_wire: "W27:JCODE8_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_0": [
      (
        from_wire: "E32:JCODE0_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_1": [
      (
        from_wire: "E32:JCODE1_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_2": [
      (
        from_wire: "E32:JCODE2_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_3": [
      (
        from_wire: "E32:JCODE3_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_4": [
      (
        from_wire: "E32:JCODE4_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_5": [
      (
        from_wire: "E32:JCODE5_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_6": [
      (
        from_wire: "E32:JCODE6_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_7": [
      (
        from_wire: "E32:JCODE7_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_8": [
      (
        from_wire: "E32:JCODE8_DDRDLL_CORE_I1",
      ),
    ],
  },
)