(
  pips: {
    "JQ6": [
      (
        from_wire: "W10:JPVTCODE0_BNKREF18_CORE_BNKREF180",
        bits: [(frame:90,bit:10,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "W10:JPVTCODE1_BNKREF18_CORE_BNKREF180",
        bits: [(frame:99,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)