(
  pips: {
    "JQ6": [
      (
        from_wire: "W7:JSR90CIB_DQSBUF_CORE_I_DQS_TOP",
        bits: [(frame:90,bit:10,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "W7:JSW270CIB_DQSBUF_CORE_I_DQS_TOP",
        bits: [(frame:99,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)