(
  pips: {
    "JF0": [
      (
        from_wire: "JONEERR_EBR_CORE",
        bits: [(frame:14,bit:10,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "JTWOERR_EBR_CORE",
        bits: [(frame:20,bit:10,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "JDOA0_EBR_CORE",
        bits: [(frame:66,bit:10,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "JDOA1_EBR_CORE",
        bits: [(frame:72,bit:10,invert:false,),],
      ),
    ],
    "JF6": [
      (
        from_wire: "JDOA2_EBR_CORE",
        bits: [(frame:92,bit:10,invert:false,),],
      ),
    ],
    "JF7": [
      (
        from_wire: "JDOA3_EBR_CORE",
        bits: [(frame:98,bit:10,invert:false,),],
      ),
    ],
    "JQ0": [
      (
        from_wire: "JEMPTYF_EBR_CORE",
        bits: [(frame:12,bit:10,invert:false,),],
      ),
    ],
    "JQ1": [
      (
        from_wire: "JFULLF_EBR_CORE",
        bits: [(frame:21,bit:10,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "JAEMPTY_EBR_CORE",
        bits: [(frame:38,bit:10,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "JAFULL_EBR_CORE",
        bits: [(frame:47,bit:10,invert:false,),],
      ),
    ],
    "JQ4": [
      (
        from_wire: "JDOB0_EBR_CORE",
        bits: [(frame:64,bit:10,invert:false,),],
      ),
    ],
    "JQ5": [
      (
        from_wire: "JDOB1_EBR_CORE",
        bits: [(frame:73,bit:10,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "JDOB2_EBR_CORE",
        bits: [(frame:90,bit:10,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "JDOB3_EBR_CORE",
        bits: [(frame:99,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {
    "JADA3_EBR_CORE": [
      (
        from_wire: "E2:JCIBMUXOUTB6",
      ),
    ],
    "JADB10_EBR_CORE": [
      (
        from_wire: "JCIBMUXOUTD5",
      ),
    ],
    "JADB11_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTA7",
      ),
    ],
    "JADB5_EBR_CORE": [
      (
        from_wire: "JCIBMUXOUTB2",
      ),
    ],
    "JADB6_EBR_CORE": [
      (
        from_wire: "JCIBMUXOUTD4",
      ),
    ],
    "JADB7_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTB7",
      ),
    ],
    "JADB9_EBR_CORE": [
      (
        from_wire: "JCIBMUXOUTA2",
      ),
    ],
    "JDIA0_EBR_CORE": [
      (
        from_wire: "JCIBMUXOUTA4",
      ),
    ],
    "JDIA10_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTA6",
      ),
    ],
    "JDIA11_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTB6",
      ),
    ],
    "JDIA12_EBR_CORE": [
      (
        from_wire: "E2:JCIBMUXOUTB0",
      ),
    ],
    "JDIA13_EBR_CORE": [
      (
        from_wire: "E2:JCIBMUXOUTA0",
      ),
    ],
    "JDIA14_EBR_CORE": [
      (
        from_wire: "E2:JCIBMUXOUTB2",
      ),
    ],
    "JDIA15_EBR_CORE": [
      (
        from_wire: "E2:JCIBMUXOUTA2",
      ),
    ],
    "JDIA16_EBR_CORE": [
      (
        from_wire: "E2:JCIBMUXOUTA4",
      ),
    ],
    "JDIA17_EBR_CORE": [
      (
        from_wire: "E2:JCIBMUXOUTB4",
      ),
    ],
    "JDIA1_EBR_CORE": [
      (
        from_wire: "JCIBMUXOUTB4",
      ),
    ],
    "JDIA2_EBR_CORE": [
      (
        from_wire: "JCIBMUXOUTA6",
      ),
    ],
    "JDIA3_EBR_CORE": [
      (
        from_wire: "JCIBMUXOUTB6",
      ),
    ],
    "JDIA4_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTB0",
      ),
    ],
    "JDIA5_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTA0",
      ),
    ],
    "JDIA6_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTB2",
      ),
    ],
    "JDIA7_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTA2",
      ),
    ],
    "JDIA8_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTA4",
      ),
    ],
    "JDIA9_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTB4",
      ),
    ],
    "JDIB0_EBR_CORE": [
      (
        from_wire: "JCIBMUXOUTD2",
      ),
    ],
    "JDIB10_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTC3",
      ),
    ],
    "JDIB11_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTD3",
      ),
    ],
    "JDIB12_EBR_CORE": [
      (
        from_wire: "E2:JCIBMUXOUTC4",
      ),
    ],
    "JDIB13_EBR_CORE": [
      (
        from_wire: "E2:JCIBMUXOUTD4",
      ),
    ],
    "JDIB14_EBR_CORE": [
      (
        from_wire: "E2:JCIBMUXOUTD5",
      ),
    ],
    "JDIB15_EBR_CORE": [
      (
        from_wire: "E2:JCIBMUXOUTC5",
      ),
    ],
    "JDIB16_EBR_CORE": [
      (
        from_wire: "E2:JCIBMUXOUTD2",
      ),
    ],
    "JDIB17_EBR_CORE": [
      (
        from_wire: "E2:JCIBMUXOUTC2",
      ),
    ],
    "JDIB1_EBR_CORE": [
      (
        from_wire: "JCIBMUXOUTC2",
      ),
    ],
    "JDIB2_EBR_CORE": [
      (
        from_wire: "JCIBMUXOUTC3",
      ),
    ],
    "JDIB3_EBR_CORE": [
      (
        from_wire: "JCIBMUXOUTD3",
      ),
    ],
    "JDIB4_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTC4",
      ),
    ],
    "JDIB5_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTD4",
      ),
    ],
    "JDIB6_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTD5",
      ),
    ],
    "JDIB7_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTC5",
      ),
    ],
    "JDIB8_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTD2",
      ),
    ],
    "JDIB9_EBR_CORE": [
      (
        from_wire: "E1:JCIBMUXOUTC2",
      ),
    ],
  },
)