(
  pips: {
    "E1:H02E0101": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:23,bit:4,invert:false,),(frame:28,bit:5,invert:false,),],
      ),
    ],
    "E1:H02E0501": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:23,bit:0,invert:false,),(frame:28,bit:1,invert:false,),],
      ),
    ],
    "JB4": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:51,bit:4,invert:false,),(frame:53,bit:5,invert:false,),],
      ),
    ],
    "JB5": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:54,bit:5,invert:false,),(frame:60,bit:4,invert:false,),],
      ),
    ],
    "JB6": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:77,bit:4,invert:false,),(frame:83,bit:5,invert:false,),],
      ),
    ],
    "JB7": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:84,bit:5,invert:false,),(frame:86,bit:4,invert:false,),],
      ),
    ],
    "N1:V02N0101": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:13,bit:4,invert:false,),(frame:17,bit:5,invert:false,),],
      ),
    ],
    "N1:V02N0501": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:13,bit:0,invert:false,),(frame:17,bit:1,invert:false,),],
      ),
    ],
    "N3:V06N0103": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:93,bit:4,invert:false,),(frame:93,bit:5,invert:false,),],
      ),
    ],
    "S1:V02S0101": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:9,bit:5,invert:false,),(frame:14,bit:4,invert:false,),],
      ),
    ],
    "S1:V02S0501": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:9,bit:1,invert:false,),(frame:14,bit:0,invert:false,),],
      ),
    ],
    "S3:V06S0103": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:88,bit:5,invert:false,),(frame:91,bit:4,invert:false,),],
      ),
    ],
    "W1:H02W0101": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:20,bit:5,invert:false,),(frame:24,bit:4,invert:false,),],
      ),
    ],
    "W1:H02W0501": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:20,bit:1,invert:false,),(frame:24,bit:0,invert:false,),],
      ),
    ],
    "W3:H06W0103": [
      (
        from_wire: "E1:H01W0100",
        bits: [(frame:99,bit:5,invert:false,),(frame:101,bit:5,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)