(
  pips: {
    "JF0": [
      (
        from_wire: "W1:JSUM032_ACC54_CORE_ACC54_1",
        bits: [(frame:14,bit:10,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "W1:JSUM033_ACC54_CORE_ACC54_1",
        bits: [(frame:20,bit:10,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "W1:JSUM034_ACC54_CORE_ACC54_1",
        bits: [(frame:40,bit:10,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "W1:JSUM035_ACC54_CORE_ACC54_1",
        bits: [(frame:46,bit:10,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "W1:JSUM10_ACC54_CORE_ACC54_1",
        bits: [(frame:66,bit:10,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "W1:JSUM11_ACC54_CORE_ACC54_1",
        bits: [(frame:72,bit:10,invert:false,),],
      ),
    ],
    "JF6": [
      (
        from_wire: "W1:JSUM12_ACC54_CORE_ACC54_1",
        bits: [(frame:92,bit:10,invert:false,),],
      ),
    ],
    "JF7": [
      (
        from_wire: "W1:JSUM13_ACC54_CORE_ACC54_1",
        bits: [(frame:98,bit:10,invert:false,),],
      ),
    ],
    "JQ0": [
      (
        from_wire: "W1:JSUM14_ACC54_CORE_ACC54_1",
        bits: [(frame:12,bit:10,invert:false,),],
      ),
    ],
    "JQ1": [
      (
        from_wire: "W1:JSUM15_ACC54_CORE_ACC54_1",
        bits: [(frame:21,bit:10,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "W1:JSUM16_ACC54_CORE_ACC54_1",
        bits: [(frame:38,bit:10,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "W1:JSUM17_ACC54_CORE_ACC54_1",
        bits: [(frame:47,bit:10,invert:false,),],
      ),
    ],
    "JQ4": [
      (
        from_wire: "W1:JSUM18_ACC54_CORE_ACC54_1",
        bits: [(frame:64,bit:10,invert:false,),],
      ),
    ],
    "JQ5": [
      (
        from_wire: "W1:JSUM19_ACC54_CORE_ACC54_1",
        bits: [(frame:73,bit:10,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "W1:JSUM110_ACC54_CORE_ACC54_1",
        bits: [(frame:90,bit:10,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "W1:JSUM111_ACC54_CORE_ACC54_1",
        bits: [(frame:99,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)