(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "G:JCODEI00_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "W52:JCODE0_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI01_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "W52:JCODE1_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI02_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "W52:JCODE2_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI03_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "W52:JCODE3_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI04_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "W52:JCODE4_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI05_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "W52:JCODE5_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI06_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "W52:JCODE6_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI07_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "W52:JCODE7_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI08_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "W52:JCODE8_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI10_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1E32:JCODE0_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI11_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1E32:JCODE1_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI12_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1E32:JCODE2_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI13_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1E32:JCODE3_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI14_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1E32:JCODE4_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI15_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1E32:JCODE5_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI16_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1E32:JCODE6_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI17_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1E32:JCODE7_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI18_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1E32:JCODE8_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_0": [
      (
        from_wire: "W52:JCODE0_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_1": [
      (
        from_wire: "W52:JCODE1_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_2": [
      (
        from_wire: "W52:JCODE2_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_3": [
      (
        from_wire: "W52:JCODE3_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_4": [
      (
        from_wire: "W52:JCODE4_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_5": [
      (
        from_wire: "W52:JCODE5_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_6": [
      (
        from_wire: "W52:JCODE6_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_7": [
      (
        from_wire: "W52:JCODE7_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD0_I4_8": [
      (
        from_wire: "W52:JCODE8_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_0": [
      (
        from_wire: "N1E32:JCODE0_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_1": [
      (
        from_wire: "N1E32:JCODE1_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_2": [
      (
        from_wire: "N1E32:JCODE2_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_3": [
      (
        from_wire: "N1E32:JCODE3_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_4": [
      (
        from_wire: "N1E32:JCODE4_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_5": [
      (
        from_wire: "N1E32:JCODE5_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_6": [
      (
        from_wire: "N1E32:JCODE6_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_7": [
      (
        from_wire: "N1E32:JCODE7_DDRDLL_CORE_I1",
      ),
    ],
    "G:JD1_I4_8": [
      (
        from_wire: "N1E32:JCODE8_DDRDLL_CORE_I1",
      ),
    ],
    "JCLKIN_DLLDEL_CORE_I0": [
      (
        from_wire: "S1:JINCK_IOLOGIC_CORE_I_GEARING_PIC_TOP_A",
      ),
      (
        from_wire: "S1:JPADDI_DIFFIO18_CORE_IOA",
      ),
    ],
    "JECLK0_I_DQS_TOP_ECLK_ROUTING_MUX": [
      (
        from_wire: "G:JECLKOUT0_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLK1_I_DQS_TOP_ECLK_ROUTING_MUX": [
      (
        from_wire: "G:JECLKOUT1_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLK2_I_DQS_TOP_ECLK_ROUTING_MUX": [
      (
        from_wire: "G:JECLKOUT2_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
    "JECLK3_I_DQS_TOP_ECLK_ROUTING_MUX": [
      (
        from_wire: "G:JECLKOUT3_ECLKCASMUX_CORE_ECLKCASMUX3",
      ),
    ],
  },
)