(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "G:VCC": [
      (
        from_wire: "G:VCC",
      ),
    ],
    "HROW:HPRX0000": [
      (
        from_wire: "G:RHPRX0",
      ),
    ],
    "HROW:HPRX0100": [
      (
        from_wire: "G:RHPRX1",
      ),
    ],
    "HROW:HPRX0200": [
      (
        from_wire: "G:RHPRX2",
      ),
    ],
    "HROW:HPRX0300": [
      (
        from_wire: "G:RHPRX3",
      ),
    ],
    "HROW:HPRX0400": [
      (
        from_wire: "G:RHPRX4",
      ),
    ],
    "HROW:HPRX0500": [
      (
        from_wire: "G:RHPRX5",
      ),
    ],
    "HROW:HPRX0600": [
      (
        from_wire: "G:RHPRX6",
      ),
    ],
    "HROW:HPRX0700": [
      (
        from_wire: "G:RHPRX7",
      ),
    ],
    "HROW:HPRX0800": [
      (
        from_wire: "G:RHPRX8",
      ),
    ],
    "HROW:HPRX0900": [
      (
        from_wire: "G:RHPRX9",
      ),
    ],
    "HROW:HPRX1000": [
      (
        from_wire: "G:RHPRX10",
      ),
    ],
    "HROW:HPRX1100": [
      (
        from_wire: "G:RHPRX11",
      ),
    ],
    "HROW:HPRX1200": [
      (
        from_wire: "G:RHPRX12",
      ),
    ],
    "HROW:HPRX1300": [
      (
        from_wire: "G:RHPRX13",
      ),
    ],
    "HROW:HPRX1400": [
      (
        from_wire: "G:RHPRX14",
      ),
    ],
    "HROW:HPRX1500": [
      (
        from_wire: "G:RHPRX15",
      ),
    ],
  },
)