(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "G:JLLCLKOP_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "W50:JCLKOP_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS2_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "W50:JCLKOS2_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS3_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "W50:JCLKOS3_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS4_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "W50:JCLKOS4_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS5_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "W50:JCLKOS5_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "W50:JCLKOS_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLRCLKOP_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "N2E35:JCLKOP_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLRCLKOS2_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "N2E35:JCLKOS2_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLRCLKOS3_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "N2E35:JCLKOS3_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLRCLKOS4_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "N2E35:JCLKOS4_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLRCLKOS5_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "N2E35:JCLKOS5_PLL_CORE_PLL_LMMI",
      ),
    ],
    "G:JLRCLKOS_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "N2E35:JCLKOS_PLL_CORE_PLL_LMMI",
      ),
    ],
    "JTESTINP0_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "JCIBMUXOUTB7",
      ),
    ],
    "JTESTINP1_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "JCIBMUXOUTB6",
      ),
    ],
    "JTESTINP2_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "JCIBMUXOUTB4",
      ),
    ],
    "JTESTINP3_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "JCIBMUXOUTB5",
      ),
    ],
  },
)