(
  pips: {
    "JF2": [
      (
        from_wire: "N6:JDOB3_LRAM_CORE",
        bits: [(frame:40,bit:10,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N6:JDOB4_LRAM_CORE",
        bits: [(frame:46,bit:10,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "N6:JDOB2_LRAM_CORE",
        bits: [(frame:38,bit:10,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "N6:JDOB1_LRAM_CORE",
        bits: [(frame:47,bit:10,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "N6:JDOB0_LRAM_CORE",
        bits: [(frame:90,bit:10,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "N6:JDOA31_LRAM_CORE",
        bits: [(frame:99,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)