(
  pips: {
    "JF0": [
      (
        from_wire: "N1W18:JXMAWSIZE2_USB23_CORE_USB230",
        bits: [(frame:14,bit:0,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "N1W18:JXMAWSIZE1_USB23_CORE_USB230",
        bits: [(frame:20,bit:0,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "N1W18:JXMAWSIZE0_USB23_CORE_USB230",
        bits: [(frame:40,bit:0,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N1W18:JXMAWPROT2_USB23_CORE_USB230",
        bits: [(frame:46,bit:0,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "N1W18:JXMAWPROT1_USB23_CORE_USB230",
        bits: [(frame:66,bit:0,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "N1W18:JXMAWPROT0_USB23_CORE_USB230",
        bits: [(frame:72,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)