(
  pips: {
    "JF0": [
      (
        from_wire: "N1W4:JU2RXSK_DPHY_CORE_DPHY0",
        bits: [(frame:14,bit:0,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "N1W4:JU2RXSKC_DPHY_CORE_DPHY0",
        bits: [(frame:20,bit:0,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "N1W4:JU2ERSTHS_DPHY_CORE_DPHY0",
        bits: [(frame:40,bit:0,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N1W4:JU2ERSSHS_DPHY_CORE_DPHY0",
        bits: [(frame:46,bit:0,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "N1W4:JU2RXDE6_DPHY_CORE_DPHY0",
        bits: [(frame:66,bit:0,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "N1W4:JU2RXDE7_DPHY_CORE_DPHY0",
        bits: [(frame:72,bit:0,invert:false,),],
      ),
    ],
    "JF6": [
      (
        from_wire: "N1W4:JU2RXVDHS3_DPHY_CORE_DPHY0",
        bits: [(frame:92,bit:0,invert:false,),],
      ),
    ],
    "JF7": [
      (
        from_wire: "N1W4:JU2RXSHS3_DPHY_CORE_DPHY0",
        bits: [(frame:98,bit:0,invert:false,),],
      ),
    ],
    "JQ0": [
      (
        from_wire: "N1W4:JU2RXACHS_DPHY_CORE_DPHY0",
        bits: [(frame:12,bit:0,invert:false,),],
      ),
    ],
    "JQ1": [
      (
        from_wire: "N1W4:JU2SSTT_DPHY_CORE_DPHY0",
        bits: [(frame:21,bit:0,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "N1W4:JU2TXRYSK_DPHY_CORE_DPHY0",
        bits: [(frame:38,bit:0,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "N1W4:JU2USAN_DPHY_CORE_DPHY0",
        bits: [(frame:47,bit:0,invert:false,),],
      ),
    ],
    "JQ4": [
      (
        from_wire: "N1W4:JD2BYTCNT8_DPHY_CORE_DPHY0",
        bits: [(frame:64,bit:0,invert:false,),],
      ),
    ],
    "JQ5": [
      (
        from_wire: "N1W4:JD2BYTCNT9_DPHY_CORE_DPHY0",
        bits: [(frame:73,bit:0,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "N1W4:JD2ERRCNT8_DPHY_CORE_DPHY0",
        bits: [(frame:90,bit:0,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "N1W4:JD2ERRCNT9_DPHY_CORE_DPHY0",
        bits: [(frame:99,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)