(
  pips: {
    "JF0": [
      (
        from_wire: "N8:JRDATAB10_ALUREG_CORE",
        bits: [(frame:14,bit:10,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "N8:JRDATAB11_ALUREG_CORE",
        bits: [(frame:20,bit:10,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "N8:JRDATAB12_ALUREG_CORE",
        bits: [(frame:40,bit:10,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N8:JRDATAB13_ALUREG_CORE",
        bits: [(frame:46,bit:10,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "N8:JRDATAB14_ALUREG_CORE",
        bits: [(frame:66,bit:10,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "N8:JRDATAB15_ALUREG_CORE",
        bits: [(frame:72,bit:10,invert:false,),],
      ),
    ],
    "JF6": [
      (
        from_wire: "N8:JRDATAB2_ALUREG_CORE",
        bits: [(frame:92,bit:10,invert:false,),],
      ),
    ],
    "JF7": [
      (
        from_wire: "N8:JRDATAB1_ALUREG_CORE",
        bits: [(frame:98,bit:10,invert:false,),],
      ),
    ],
    "JQ0": [
      (
        from_wire: "N8:JRDATAB9_ALUREG_CORE",
        bits: [(frame:12,bit:10,invert:false,),],
      ),
    ],
    "JQ1": [
      (
        from_wire: "N8:JRDATAB8_ALUREG_CORE",
        bits: [(frame:21,bit:10,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "N8:JRDATAB7_ALUREG_CORE",
        bits: [(frame:38,bit:10,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "N8:JRDATAB6_ALUREG_CORE",
        bits: [(frame:47,bit:10,invert:false,),],
      ),
    ],
    "JQ4": [
      (
        from_wire: "N8:JRDATAB5_ALUREG_CORE",
        bits: [(frame:64,bit:10,invert:false,),],
      ),
    ],
    "JQ5": [
      (
        from_wire: "N8:JRDATAB4_ALUREG_CORE",
        bits: [(frame:73,bit:10,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "N8:JRDATAB3_ALUREG_CORE",
        bits: [(frame:90,bit:10,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "N8:JRDATAB0_ALUREG_CORE",
        bits: [(frame:99,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)