(
  pips: {
    "JF0": [
      (
        from_wire: "W1:JSCLOEN_I2CFIFO_CORE",
        bits: [(frame:14,bit:0,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "W1:JSCLOE_I2CFIFO_CORE",
        bits: [(frame:20,bit:0,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "W1:JRXFIFOF_I2CFIFO_CORE",
        bits: [(frame:40,bit:0,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "W1:JRXFIFOE_I2CFIFO_CORE",
        bits: [(frame:46,bit:0,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "W1:JRXFIFOAF_I2CFIFO_CORE",
        bits: [(frame:66,bit:0,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "W1:JMRDCMPL_I2CFIFO_CORE",
        bits: [(frame:72,bit:0,invert:false,),],
      ),
    ],
    "JF6": [
      (
        from_wire: "W1:JLMMIREADY_I2CFIFO_CORE",
        bits: [(frame:92,bit:0,invert:false,),],
      ),
    ],
    "JF7": [
      (
        from_wire: "W1:JLMMIRDATAVALID_I2CFIFO_CORE",
        bits: [(frame:98,bit:0,invert:false,),],
      ),
    ],
    "JQ0": [
      (
        from_wire: "W1:JIRQ_I2CFIFO_CORE",
        bits: [(frame:12,bit:0,invert:false,),],
      ),
    ],
    "JQ1": [
      (
        from_wire: "W1:JINSLEEP_I2CFIFO_CORE",
        bits: [(frame:21,bit:0,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "W1:JBUSBUSY_I2CFIFO_CORE",
        bits: [(frame:38,bit:0,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "W1:JSRDWR_I2CFIFO_CORE",
        bits: [(frame:47,bit:0,invert:false,),],
      ),
    ],
    "JQ4": [
      (
        from_wire: "W1:JSDAOUT_I2CFIFO_CORE",
        bits: [(frame:64,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {
    "E1:H02E0001": [
      (
        from_wire: "E2:H02W0001",
      ),
    ],
    "E1:H02E0101": [
      (
        from_wire: "E2:H02W0101",
      ),
    ],
    "E1:H02E0201": [
      (
        from_wire: "E2:H02W0201",
      ),
    ],
    "E1:H02E0301": [
      (
        from_wire: "E2:H02W0301",
      ),
    ],
    "E1:H02E0401": [
      (
        from_wire: "E2:H02W0401",
      ),
    ],
    "E1:H02E0501": [
      (
        from_wire: "E2:H02W0501",
      ),
    ],
    "E1:H02E0601": [
      (
        from_wire: "E2:H02W0601",
      ),
    ],
    "E1:H02E0701": [
      (
        from_wire: "E2:H02W0701",
      ),
    ],
  },
)