(
  pips: {
    "JF0": [
      (
        from_wire: "N1W23:JD3ACTIVE1_DPHY_CORE_DPHY0",
        bits: [(frame:14,bit:0,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "N1W23:JD3VALID1_DPHY_CORE_DPHY0",
        bits: [(frame:20,bit:0,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "N1W23:JLMMIRDATA0_DPHY_CORE_DPHY0",
        bits: [(frame:40,bit:0,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N1W23:JLMMIRDATA1_DPHY_CORE_DPHY0",
        bits: [(frame:46,bit:0,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "N1W23:JLMMIRDATA2_DPHY_CORE_DPHY0",
        bits: [(frame:66,bit:0,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "N1W23:JLMMIRDATA3_DPHY_CORE_DPHY0",
        bits: [(frame:72,bit:0,invert:false,),],
      ),
    ],
    "JF6": [
      (
        from_wire: "N1W23:JLMMIREADY_DPHY_CORE_DPHY0",
        bits: [(frame:92,bit:0,invert:false,),],
      ),
    ],
    "JF7": [
      (
        from_wire: "N1W23:JLMMIRDATAVALID_DPHY_CORE_DPHY0",
        bits: [(frame:98,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)