(
  pips: {
    "JF0": [
      (
        from_wire: "N1W13:JLASTADDRCIB10_CONFIG_IP_CORE_CONFIG_IP",
        bits: [(frame:14,bit:0,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "N1W13:JLASTADDRCIB11_CONFIG_IP_CORE_CONFIG_IP",
        bits: [(frame:20,bit:0,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "N1W13:JLASTADDRCIB12_CONFIG_IP_CORE_CONFIG_IP",
        bits: [(frame:40,bit:0,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N1W13:JLASTADDRCIB13_CONFIG_IP_CORE_CONFIG_IP",
        bits: [(frame:46,bit:0,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "N1W13:JLASTADDRCIB14_CONFIG_IP_CORE_CONFIG_IP",
        bits: [(frame:66,bit:0,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "N1W13:JLASTADDRCIB15_CONFIG_IP_CORE_CONFIG_IP",
        bits: [(frame:72,bit:0,invert:false,),],
      ),
    ],
    "JQ0": [
      (
        from_wire: "N1W13:JSEDCBUSYCIB_CONFIG_SEDC_CORE_CONFIG_SEDC",
        bits: [(frame:12,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {
    "E1:H01W0101": [
      (
        from_wire: "E2:H01W0001",
      ),
      (
        from_wire: "S1E2:H01W0001",
      ),
    ],
    "E1:H02E0001": [
      (
        from_wire: "H02W0001",
      ),
    ],
    "E1:H02E0101": [
      (
        from_wire: "H02W0101",
      ),
    ],
    "E1:H02E0201": [
      (
        from_wire: "H02W0201",
      ),
    ],
    "E1:H02E0301": [
      (
        from_wire: "H02W0301",
      ),
    ],
    "E1:H02E0401": [
      (
        from_wire: "H02W0401",
      ),
    ],
    "E1:H02E0501": [
      (
        from_wire: "H02W0501",
      ),
    ],
    "E1:H02E0601": [
      (
        from_wire: "H02W0601",
      ),
    ],
    "E1:H02E0701": [
      (
        from_wire: "H02W0701",
      ),
    ],
    "JCIBICODE0_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTB0",
      ),
    ],
    "JCIBICODE1_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTB1",
      ),
    ],
    "JCIBICODE2_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTB2",
      ),
    ],
    "JCIBICODE3_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTB3",
      ),
    ],
    "JCIBICODE4_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTB4",
      ),
    ],
    "JCIBICODE5_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTB5",
      ),
    ],
    "JCIBSNK0_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTA0",
      ),
    ],
    "JCIBSNK1_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTA1",
      ),
    ],
    "JCIBSNK2_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTA2",
      ),
    ],
    "JCIBSNK3_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTA3",
      ),
    ],
    "JCIBSNK4_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTA4",
      ),
    ],
    "JCIBSNK5_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTA5",
      ),
    ],
    "JCIBSNK6_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTA6",
      ),
    ],
    "JCIBTRIG_PVTCAL33_CORE": [
      (
        from_wire: "JCIBMUXOUTB6",
      ),
    ],
  },
)