(
  pips: {
    "JF0": [
      (
        from_wire: "N5:JDOA21_LRAM_CORE",
        bits: [(frame:14,bit:10,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "N5:JDOA22_LRAM_CORE",
        bits: [(frame:20,bit:10,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "N5:JDOA23_LRAM_CORE",
        bits: [(frame:40,bit:10,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N5:JDOA24_LRAM_CORE",
        bits: [(frame:46,bit:10,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "N5:JDOA25_LRAM_CORE",
        bits: [(frame:66,bit:10,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "N5:JDOA26_LRAM_CORE",
        bits: [(frame:72,bit:10,invert:false,),],
      ),
    ],
    "JF6": [
      (
        from_wire: "N5:JDOA13_LRAM_CORE",
        bits: [(frame:92,bit:10,invert:false,),],
      ),
    ],
    "JF7": [
      (
        from_wire: "N5:JDOA12_LRAM_CORE",
        bits: [(frame:98,bit:10,invert:false,),],
      ),
    ],
    "JQ0": [
      (
        from_wire: "N5:JDOA20_LRAM_CORE",
        bits: [(frame:12,bit:10,invert:false,),],
      ),
    ],
    "JQ1": [
      (
        from_wire: "N5:JDOA19_LRAM_CORE",
        bits: [(frame:21,bit:10,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "N5:JDOA18_LRAM_CORE",
        bits: [(frame:38,bit:10,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "N5:JDOA17_LRAM_CORE",
        bits: [(frame:47,bit:10,invert:false,),],
      ),
    ],
    "JQ4": [
      (
        from_wire: "N5:JDOA16_LRAM_CORE",
        bits: [(frame:64,bit:10,invert:false,),],
      ),
    ],
    "JQ5": [
      (
        from_wire: "N5:JDOA15_LRAM_CORE",
        bits: [(frame:73,bit:10,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "N5:JDOA14_LRAM_CORE",
        bits: [(frame:90,bit:10,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "N5:JDOA11_LRAM_CORE",
        bits: [(frame:99,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)