(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "N1:V02N0001": [
      (
        from_wire: "N2:V02S0001",
      ),
    ],
    "N1:V02N0101": [
      (
        from_wire: "N2:V02S0101",
      ),
    ],
    "N1:V02N0201": [
      (
        from_wire: "N2:V02S0201",
      ),
    ],
    "N1:V02N0301": [
      (
        from_wire: "N2:V02S0301",
      ),
    ],
    "N1:V02N0401": [
      (
        from_wire: "N2:V02S0401",
      ),
    ],
    "N1:V02N0501": [
      (
        from_wire: "N2:V02S0501",
      ),
    ],
    "N1:V02N0601": [
      (
        from_wire: "N2:V02S0601",
      ),
    ],
    "N1:V02N0701": [
      (
        from_wire: "N2:V02S0701",
      ),
    ],
  },
)