(
  pips: {
    "JF0": [
      (
        from_wire: "S1:JPFDUP_PLL_CORE_PLL_LMMI",
        bits: [(frame:14,bit:10,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "S1:JPFDDN_PLL_CORE_PLL_LMMI",
        bits: [(frame:20,bit:10,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "S1:JLMMIRDATAVALID_PLL_CORE_PLL_LMMI",
        bits: [(frame:46,bit:10,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "S1:JLMMIRDATA4_PLL_CORE_PLL_LMMI",
        bits: [(frame:66,bit:10,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "S1:JLMMIRDATA5_PLL_CORE_PLL_LMMI",
        bits: [(frame:72,bit:10,invert:false,),],
      ),
    ],
    "JF6": [
      (
        from_wire: "S1:JLMMIRDATA6_PLL_CORE_PLL_LMMI",
        bits: [(frame:92,bit:10,invert:false,),],
      ),
    ],
    "JF7": [
      (
        from_wire: "S1:JLMMIRDATA7_PLL_CORE_PLL_LMMI",
        bits: [(frame:98,bit:10,invert:false,),],
      ),
    ],
    "JQ0": [
      (
        from_wire: "S1:JREGQA_PLL_CORE_PLL_LMMI",
        bits: [(frame:12,bit:10,invert:false,),],
      ),
    ],
    "JQ1": [
      (
        from_wire: "S1:JREGQB_PLL_CORE_PLL_LMMI",
        bits: [(frame:21,bit:10,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "S1:JREGQB1_PLL_CORE_PLL_LMMI",
        bits: [(frame:38,bit:10,invert:false,),],
      ),
    ],
    "JQ4": [
      (
        from_wire: "S1:JREFDETLOS_PLL_CORE_PLL_LMMI",
        bits: [(frame:64,bit:10,invert:false,),],
      ),
    ],
    "JQ5": [
      (
        from_wire: "N2:JCOMP1O_ADC_CORE_ADC0",
        bits: [(frame:73,bit:10,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "N2:JCOMP2O_ADC_CORE_ADC0",
        bits: [(frame:90,bit:10,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "N2:JCOMP3O_ADC_CORE_ADC0",
        bits: [(frame:99,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)