(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "S1:V02S0001": [
      (
        from_wire: "S2:V02N0001",
      ),
    ],
    "S1:V02S0101": [
      (
        from_wire: "S2:V02N0101",
      ),
    ],
    "S1:V02S0201": [
      (
        from_wire: "S2:V02N0201",
      ),
    ],
    "S1:V02S0301": [
      (
        from_wire: "S2:V02N0301",
      ),
    ],
    "S1:V02S0401": [
      (
        from_wire: "S2:V02N0401",
      ),
    ],
    "S1:V02S0501": [
      (
        from_wire: "S2:V02N0501",
      ),
    ],
    "S1:V02S0601": [
      (
        from_wire: "S2:V02N0601",
      ),
    ],
    "S1:V02S0701": [
      (
        from_wire: "S2:V02N0701",
      ),
    ],
  },
)