(
  pips: {
    "JF0": [
      (
        from_wire: "N1W22:JU3RE0CK_DPHY_CORE_DPHY0",
        bits: [(frame:14,bit:0,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "N1W22:JU3RE1CK_DPHY_CORE_DPHY0",
        bits: [(frame:20,bit:0,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "N1W22:JU3RE2_DPHY_CORE_DPHY0",
        bits: [(frame:40,bit:0,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "N1W22:JU3RE3_DPHY_CORE_DPHY0",
        bits: [(frame:46,bit:0,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "N1W22:JU3TXRY_DPHY_CORE_DPHY0",
        bits: [(frame:66,bit:0,invert:false,),],
      ),
    ],
    "JQ0": [
      (
        from_wire: "N1W22:JD3ERRCNT0_DPHY_CORE_DPHY0",
        bits: [(frame:12,bit:0,invert:false,),],
      ),
    ],
    "JQ1": [
      (
        from_wire: "N1W22:JD3ERRCNT1_DPHY_CORE_DPHY0",
        bits: [(frame:21,bit:0,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "N1W22:JD3ERRCNT2_DPHY_CORE_DPHY0",
        bits: [(frame:38,bit:0,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "N1W22:JD3ERRCNT3_DPHY_CORE_DPHY0",
        bits: [(frame:47,bit:0,invert:false,),],
      ),
    ],
    "JQ4": [
      (
        from_wire: "N1W22:JD3ERRCNT4_DPHY_CORE_DPHY0",
        bits: [(frame:64,bit:0,invert:false,),],
      ),
    ],
    "JQ5": [
      (
        from_wire: "N1W22:JD3ERRCNT5_DPHY_CORE_DPHY0",
        bits: [(frame:73,bit:0,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "N1W22:JD3ERRCNT6_DPHY_CORE_DPHY0",
        bits: [(frame:90,bit:0,invert:false,),],
      ),
    ],
    "JQ7": [
      (
        from_wire: "N1W22:JD3ERRCNT7_DPHY_CORE_DPHY0",
        bits: [(frame:99,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)