(
  pips: {
    "JQ0": [
      (
        from_wire: "JPVTCODE0_BNKREF33_CORE",
        bits: [(frame:12,bit:0,invert:false,),],
      ),
    ],
    "JQ1": [
      (
        from_wire: "JPVTCODE1_BNKREF33_CORE",
        bits: [(frame:21,bit:0,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "JPVTCODE2_BNKREF33_CORE",
        bits: [(frame:38,bit:0,invert:false,),],
      ),
    ],
    "JQ3": [
      (
        from_wire: "JPVTCODE3_BNKREF33_CORE",
        bits: [(frame:47,bit:0,invert:false,),],
      ),
    ],
    "JQ4": [
      (
        from_wire: "JPVTCODE4_BNKREF33_CORE",
        bits: [(frame:64,bit:0,invert:false,),],
      ),
    ],
    "JQ5": [
      (
        from_wire: "JPVTCODE5_BNKREF33_CORE",
        bits: [(frame:73,bit:0,invert:false,),],
      ),
    ],
    "JQ6": [
      (
        from_wire: "JPVTCODE6_BNKREF33_CORE",
        bits: [(frame:90,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {
    "JPVTSEL_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTA7",
      ),
    ],
    "JPVTSNKI0_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTA0",
      ),
    ],
    "JPVTSNKI1_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTA1",
      ),
    ],
    "JPVTSNKI2_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTA2",
      ),
    ],
    "JPVTSNKI3_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTA3",
      ),
    ],
    "JPVTSNKI4_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTA4",
      ),
    ],
    "JPVTSNKI5_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTA5",
      ),
    ],
    "JPVTSNKI6_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTA6",
      ),
    ],
    "JPVTSRCI0_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTB0",
      ),
    ],
    "JPVTSRCI1_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTB1",
      ),
    ],
    "JPVTSRCI2_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTB2",
      ),
    ],
    "JPVTSRCI3_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTB3",
      ),
    ],
    "JPVTSRCI4_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTB4",
      ),
    ],
    "JPVTSRCI5_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTB5",
      ),
    ],
    "JPVTSRCI6_BNKREF33_CORE": [
      (
        from_wire: "JCIBMUXOUTB6",
      ),
    ],
  },
)