(
  pips: {
    "JF0": [
      (
        from_wire: "JDCNTL0_DDRDLL_CORE_I1",
        bits: [(frame:14,bit:10,invert:false,),],
      ),
    ],
    "JF1": [
      (
        from_wire: "JDCNTL1_DDRDLL_CORE_I1",
        bits: [(frame:20,bit:10,invert:false,),],
      ),
    ],
    "JF2": [
      (
        from_wire: "JDCNTL2_DDRDLL_CORE_I1",
        bits: [(frame:40,bit:10,invert:false,),],
      ),
    ],
    "JF3": [
      (
        from_wire: "JDCNTL3_DDRDLL_CORE_I1",
        bits: [(frame:46,bit:10,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "JDCNTL4_DDRDLL_CORE_I1",
        bits: [(frame:66,bit:10,invert:false,),],
      ),
    ],
    "JF5": [
      (
        from_wire: "JDCNTL5_DDRDLL_CORE_I1",
        bits: [(frame:72,bit:10,invert:false,),],
      ),
    ],
    "JF6": [
      (
        from_wire: "JDCNTL6_DDRDLL_CORE_I1",
        bits: [(frame:92,bit:10,invert:false,),],
      ),
    ],
    "JF7": [
      (
        from_wire: "JDCNTL7_DDRDLL_CORE_I1",
        bits: [(frame:98,bit:10,invert:false,),],
      ),
    ],
    "JQ0": [
      (
        from_wire: "JDCNTL8_DDRDLL_CORE_I1",
        bits: [(frame:12,bit:10,invert:false,),],
      ),
    ],
    "JQ1": [
      (
        from_wire: "JDIVOSCIB_DDRDLL_CORE_I1",
        bits: [(frame:21,bit:10,invert:false,),],
      ),
    ],
    "JQ2": [
      (
        from_wire: "JLOCK_DDRDLL_CORE_I1",
        bits: [(frame:38,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {
    "JCIBICODE0_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTB0",
      ),
    ],
    "JCIBICODE1_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTB1",
      ),
    ],
    "JCIBICODE2_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTB2",
      ),
    ],
    "JCIBICODE3_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTB3",
      ),
    ],
    "JCIBICODE4_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTB4",
      ),
    ],
    "JCIBICODE5_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTB5",
      ),
    ],
    "JCIBSNK0_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTA0",
      ),
    ],
    "JCIBSNK1_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTA1",
      ),
    ],
    "JCIBSNK2_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTA2",
      ),
    ],
    "JCIBSNK3_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTA3",
      ),
    ],
    "JCIBSNK4_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTA4",
      ),
    ],
    "JCIBSNK5_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTA5",
      ),
    ],
    "JCIBSNK6_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTA6",
      ),
    ],
    "JCIBTRIG_PVTCAL18_CORE_PVTCAL0": [
      (
        from_wire: "JCIBMUXOUTB6",
      ),
    ],
    "JCLKIN_DDRDLL_CORE_I1": [
      (
        from_wire: "JCLKOUT_I0",
      ),
    ],
    "JECLK0_I0": [
      (
        from_wire: "G:JCLKOUT_ECLKDDRL_0",
      ),
    ],
    "JECLK1_I0": [
      (
        from_wire: "G:JCLKOUT_ECLKDDRL_1",
      ),
    ],
    "JECLK2_I0": [
      (
        from_wire: "G:JCLKOUT_ECLKDDRL_2",
      ),
    ],
    "JECLK3_I0": [
      (
        from_wire: "G:JCLKOUT_ECLKDDRL_3",
      ),
    ],
    "JFREEZE_DDRDLL_CORE_I1": [
      (
        from_wire: "JCIBMUXOUTC2",
      ),
    ],
    "JPCLK_I0": [
      (
        from_wire: "JCLK1",
      ),
    ],
    "JRST_DDRDLL_CORE_I1": [
      (
        from_wire: "JLSR1",
      ),
    ],
    "JUDDCNTL_N_DDRDLL_CORE_I1": [
      (
        from_wire: "JCIBMUXOUTD1",
      ),
    ],
  },
)