(
  pips: {
    "JF3": [
      (
        from_wire: "N1W1:JOEA_LRAM_CORE",
        bits: [(frame:46,bit:10,invert:false,),],
      ),
    ],
    "JF4": [
      (
        from_wire: "N1W1:JOEB_LRAM_CORE",
        bits: [(frame:66,bit:10,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {},
)