(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "E1:H01W0101": [
      (
        from_wire: "E2:H01W0001",
      ),
      (
        from_wire: "S1E2:H01W0001",
      ),
    ],
    "E1:H02E0001": [
      (
        from_wire: "H02W0001",
      ),
    ],
    "E1:H02E0101": [
      (
        from_wire: "H02W0101",
      ),
    ],
    "E1:H02E0201": [
      (
        from_wire: "H02W0201",
      ),
    ],
    "E1:H02E0301": [
      (
        from_wire: "H02W0301",
      ),
    ],
    "E1:H02E0401": [
      (
        from_wire: "H02W0401",
      ),
    ],
    "E1:H02E0501": [
      (
        from_wire: "H02W0501",
      ),
    ],
    "E1:H02E0601": [
      (
        from_wire: "H02W0601",
      ),
    ],
    "E1:H02E0701": [
      (
        from_wire: "H02W0701",
      ),
    ],
  },
)