(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "E1:H06W0003": [
      (
        from_wire: "W2:H06E0003",
      ),
    ],
    "E1:H06W0103": [
      (
        from_wire: "W2:H06E0103",
      ),
    ],
    "E1:H06W0203": [
      (
        from_wire: "W2:H06E0203",
      ),
    ],
    "E1:H06W0303": [
      (
        from_wire: "W2:H06E0303",
      ),
    ],
    "E2:H06W0003": [
      (
        from_wire: "W3:H06E0003",
      ),
    ],
    "E2:H06W0103": [
      (
        from_wire: "W3:H06E0103",
      ),
    ],
    "E2:H06W0203": [
      (
        from_wire: "W3:H06E0203",
      ),
    ],
    "E2:H06W0303": [
      (
        from_wire: "W3:H06E0303",
      ),
    ],
    "H01W0100": [
      (
        from_wire: "W1:H01W0000",
      ),
    ],
    "H01W0200": [
      (
        from_wire: "W1:H01W0300",
      ),
    ],
    "H01W0300": [
      (
        from_wire: "W1:H01W0200",
      ),
    ],
    "H02W0001": [
      (
        from_wire: "W1:H02E0001",
      ),
    ],
    "H02W0101": [
      (
        from_wire: "W1:H02E0101",
      ),
    ],
    "H02W0201": [
      (
        from_wire: "W1:H02E0201",
      ),
    ],
    "H02W0301": [
      (
        from_wire: "W1:H02E0301",
      ),
    ],
    "H02W0401": [
      (
        from_wire: "W1:H02E0401",
      ),
    ],
    "H02W0501": [
      (
        from_wire: "W1:H02E0501",
      ),
    ],
    "H02W0601": [
      (
        from_wire: "W1:H02E0601",
      ),
    ],
    "H02W0701": [
      (
        from_wire: "W1:H02E0701",
      ),
    ],
    "H06W0003": [
      (
        from_wire: "W1:H06E0003",
      ),
    ],
    "H06W0103": [
      (
        from_wire: "W1:H06E0103",
      ),
    ],
    "H06W0203": [
      (
        from_wire: "W1:H06E0203",
      ),
    ],
    "H06W0303": [
      (
        from_wire: "W1:H06E0303",
      ),
    ],
    "JCEIN_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "W1:JCE0",
      ),
    ],
    "JCEIN_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "W1:JCE1",
      ),
    ],
    "JCEOUT_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "W1:JCE0",
      ),
    ],
    "JCEOUT_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "W1:JCE1",
      ),
    ],
    "JDI_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "JPADDI_SEIO33_CORE_IOA",
      ),
    ],
    "JDI_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "JPADDI_SEIO33_CORE_IOB",
      ),
    ],
    "JDOUT_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "JTXDATA0_SIOLOGIC_CORE_IBASE_PIC_A",
      ),
    ],
    "JDOUT_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "JTXDATA0_SIOLOGIC_CORE_IBASE_PIC_B",
      ),
    ],
    "JI3CRESEN_SEIO33_CORE_IOA": [
      (
        from_wire: "W1:JCIBMUXOUTB1",
      ),
    ],
    "JI3CRESEN_SEIO33_CORE_IOB": [
      (
        from_wire: "W1:JCIBMUXOUTB0",
      ),
    ],
    "JI3CWKPU_SEIO33_CORE_IOA": [
      (
        from_wire: "W1:JCIBMUXOUTA7",
      ),
    ],
    "JI3CWKPU_SEIO33_CORE_IOB": [
      (
        from_wire: "W1:JCIBMUXOUTB2",
      ),
    ],
    "JINDD_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "JDI_SIOLOGIC_CORE_IBASE_PIC_A",
      ),
    ],
    "JINDD_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "JDI_SIOLOGIC_CORE_IBASE_PIC_B",
      ),
    ],
    "JLSRIN_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "W1:JLSR0",
      ),
    ],
    "JLSRIN_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "W1:JLSR1",
      ),
    ],
    "JLSROUT_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "W1:JLSR0",
      ),
    ],
    "JLSROUT_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "W1:JLSR1",
      ),
    ],
    "JPADDO_SEIO33_CORE_IOA": [
      (
        from_wire: "JDOUT_SIOLOGIC_CORE_IBASE_PIC_A",
      ),
      (
        from_wire: "W1:JCIBMUXOUTC0",
      ),
    ],
    "JPADDO_SEIO33_CORE_IOB": [
      (
        from_wire: "JDOUT_SIOLOGIC_CORE_IBASE_PIC_B",
      ),
      (
        from_wire: "W1:JCIBMUXOUTA1",
      ),
    ],
    "JPADDT_SEIO33_CORE_IOA": [
      (
        from_wire: "JTOUT_SIOLOGIC_CORE_IBASE_PIC_A",
      ),
      (
        from_wire: "W1:JCIBMUXOUTC4",
      ),
    ],
    "JPADDT_SEIO33_CORE_IOB": [
      (
        from_wire: "JTOUT_SIOLOGIC_CORE_IBASE_PIC_B",
      ),
      (
        from_wire: "W1:JCIBMUXOUTA0",
      ),
    ],
    "JSCLKIN_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "W1:JCLK0",
      ),
    ],
    "JSCLKIN_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "W1:JCLK1",
      ),
    ],
    "JSCLKOUT_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "W1:JCLK0",
      ),
    ],
    "JSCLKOUT_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "W1:JCLK1",
      ),
    ],
    "JTOUT_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "JTSDATA0_SIOLOGIC_CORE_IBASE_PIC_A",
      ),
    ],
    "JTOUT_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "JTSDATA0_SIOLOGIC_CORE_IBASE_PIC_B",
      ),
    ],
    "JTSDATA0_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "W1:JCIBMUXOUTC4",
      ),
    ],
    "JTSDATA0_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "W1:JCIBMUXOUTA0",
      ),
    ],
    "JTXDATA0_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "W1:JCIBMUXOUTC0",
      ),
    ],
    "JTXDATA0_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "W1:JCIBMUXOUTA1",
      ),
    ],
    "JTXDATA1_SIOLOGIC_CORE_IBASE_PIC_A": [
      (
        from_wire: "W1:JCIBMUXOUTC2",
      ),
    ],
    "JTXDATA1_SIOLOGIC_CORE_IBASE_PIC_B": [
      (
        from_wire: "W1:JCIBMUXOUTB7",
      ),
    ],
    "W1:H02W0001": [
      (
        from_wire: "H02E0001",
      ),
    ],
    "W1:H02W0101": [
      (
        from_wire: "H02E0101",
      ),
    ],
    "W1:H02W0201": [
      (
        from_wire: "H02E0201",
      ),
    ],
    "W1:H02W0301": [
      (
        from_wire: "H02E0301",
      ),
    ],
    "W1:H02W0401": [
      (
        from_wire: "H02E0401",
      ),
    ],
    "W1:H02W0501": [
      (
        from_wire: "H02E0501",
      ),
    ],
    "W1:H02W0601": [
      (
        from_wire: "H02E0601",
      ),
    ],
    "W1:H02W0701": [
      (
        from_wire: "H02E0701",
      ),
    ],
    "W1:H06W0003": [
      (
        from_wire: "H06E0003",
      ),
    ],
    "W1:H06W0103": [
      (
        from_wire: "H06E0103",
      ),
    ],
    "W1:H06W0203": [
      (
        from_wire: "H06E0203",
      ),
    ],
    "W1:H06W0303": [
      (
        from_wire: "H06E0303",
      ),
    ],
    "W2:H06W0003": [
      (
        from_wire: "E1:H06E0003",
      ),
    ],
    "W2:H06W0103": [
      (
        from_wire: "E1:H06E0103",
      ),
    ],
    "W2:H06W0203": [
      (
        from_wire: "E1:H06E0203",
      ),
    ],
    "W2:H06W0303": [
      (
        from_wire: "E1:H06E0303",
      ),
    ],
    "W3:H06W0003": [
      (
        from_wire: "E2:H06E0003",
      ),
    ],
    "W3:H06W0103": [
      (
        from_wire: "E2:H06E0103",
      ),
    ],
    "W3:H06W0203": [
      (
        from_wire: "E2:H06E0203",
      ),
    ],
    "W3:H06W0303": [
      (
        from_wire: "E2:H06E0303",
      ),
    ],
  },
)