(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "N1:V02N0001": [
      (
        from_wire: "V02S0001",
      ),
    ],
    "N1:V02N0101": [
      (
        from_wire: "V02S0101",
      ),
    ],
    "N1:V02N0201": [
      (
        from_wire: "V02S0201",
      ),
    ],
    "N1:V02N0301": [
      (
        from_wire: "V02S0301",
      ),
    ],
    "N1:V02N0401": [
      (
        from_wire: "V02S0401",
      ),
    ],
    "N1:V02N0501": [
      (
        from_wire: "V02S0501",
      ),
    ],
    "N1:V02N0601": [
      (
        from_wire: "V02S0601",
      ),
    ],
    "N1:V02N0701": [
      (
        from_wire: "V02S0701",
      ),
    ],
    "N1:V06N0003": [
      (
        from_wire: "V06S0003",
      ),
    ],
    "N1:V06N0103": [
      (
        from_wire: "V06S0103",
      ),
    ],
    "N1:V06N0203": [
      (
        from_wire: "V06S0203",
      ),
    ],
    "N1:V06N0303": [
      (
        from_wire: "V06S0303",
      ),
    ],
    "N2:V06N0003": [
      (
        from_wire: "S1:V06S0003",
      ),
    ],
    "N2:V06N0103": [
      (
        from_wire: "S1:V06S0103",
      ),
    ],
    "N2:V06N0203": [
      (
        from_wire: "S1:V06S0203",
      ),
    ],
    "N2:V06N0303": [
      (
        from_wire: "S1:V06S0303",
      ),
    ],
    "N3:V06N0003": [
      (
        from_wire: "S2:V06S0003",
      ),
    ],
    "N3:V06N0103": [
      (
        from_wire: "S2:V06S0103",
      ),
    ],
    "N3:V06N0203": [
      (
        from_wire: "S2:V06S0203",
      ),
    ],
    "N3:V06N0303": [
      (
        from_wire: "S2:V06S0303",
      ),
    ],
    "S1:V06N0003": [
      (
        from_wire: "N2:V06S0003",
      ),
    ],
    "S1:V06N0103": [
      (
        from_wire: "N2:V06S0103",
      ),
    ],
    "S1:V06N0203": [
      (
        from_wire: "N2:V06S0203",
      ),
    ],
    "S1:V06N0303": [
      (
        from_wire: "N2:V06S0303",
      ),
    ],
    "S2:V06N0003": [
      (
        from_wire: "N3:V06S0003",
      ),
    ],
    "S2:V06N0103": [
      (
        from_wire: "N3:V06S0103",
      ),
    ],
    "S2:V06N0203": [
      (
        from_wire: "N3:V06S0203",
      ),
    ],
    "S2:V06N0303": [
      (
        from_wire: "N3:V06S0303",
      ),
    ],
    "V01N0000": [
      (
        from_wire: "N1:V01S0100",
      ),
    ],
    "V01N0100": [
      (
        from_wire: "N1:V01S0000",
      ),
    ],
    "V01N0200": [
      (
        from_wire: "N1:V01S0300",
      ),
    ],
    "V01N0300": [
      (
        from_wire: "N1:V01S0200",
      ),
    ],
    "V02N0001": [
      (
        from_wire: "N1:V02S0001",
      ),
    ],
    "V02N0101": [
      (
        from_wire: "N1:V02S0101",
      ),
    ],
    "V02N0201": [
      (
        from_wire: "N1:V02S0201",
      ),
    ],
    "V02N0301": [
      (
        from_wire: "N1:V02S0301",
      ),
    ],
    "V02N0401": [
      (
        from_wire: "N1:V02S0401",
      ),
    ],
    "V02N0501": [
      (
        from_wire: "N1:V02S0501",
      ),
    ],
    "V02N0601": [
      (
        from_wire: "N1:V02S0601",
      ),
    ],
    "V02N0701": [
      (
        from_wire: "N1:V02S0701",
      ),
    ],
    "V06N0003": [
      (
        from_wire: "N1:V06S0003",
      ),
    ],
    "V06N0103": [
      (
        from_wire: "N1:V06S0103",
      ),
    ],
    "V06N0203": [
      (
        from_wire: "N1:V06S0203",
      ),
    ],
    "V06N0303": [
      (
        from_wire: "N1:V06S0303",
      ),
    ],
  },
)