(
  pips: {},
  words: {},
  enums: {},
  conns: {
    "E1:H06W0003": [
      (
        from_wire: "W2:H06E0003",
      ),
    ],
    "E1:H06W0103": [
      (
        from_wire: "W2:H06E0103",
      ),
    ],
    "E1:H06W0203": [
      (
        from_wire: "W2:H06E0203",
      ),
    ],
    "E1:H06W0303": [
      (
        from_wire: "W2:H06E0303",
      ),
    ],
    "E2:H06W0003": [
      (
        from_wire: "W3:H06E0003",
      ),
    ],
    "E2:H06W0103": [
      (
        from_wire: "W3:H06E0103",
      ),
    ],
    "E2:H06W0203": [
      (
        from_wire: "W3:H06E0203",
      ),
    ],
    "E2:H06W0303": [
      (
        from_wire: "W3:H06E0303",
      ),
    ],
    "H01W0100": [
      (
        from_wire: "W1:H01W0000",
      ),
    ],
    "H01W0200": [
      (
        from_wire: "W1:H01W0300",
      ),
    ],
    "H01W0300": [
      (
        from_wire: "W1:H01W0200",
      ),
    ],
    "H02W0001": [
      (
        from_wire: "W1:H02E0001",
      ),
    ],
    "H02W0101": [
      (
        from_wire: "W1:H02E0101",
      ),
    ],
    "H02W0201": [
      (
        from_wire: "W1:H02E0201",
      ),
    ],
    "H02W0301": [
      (
        from_wire: "W1:H02E0301",
      ),
    ],
    "H02W0401": [
      (
        from_wire: "W1:H02E0401",
      ),
    ],
    "H02W0501": [
      (
        from_wire: "W1:H02E0501",
      ),
    ],
    "H02W0601": [
      (
        from_wire: "W1:H02E0601",
      ),
    ],
    "H02W0701": [
      (
        from_wire: "W1:H02E0701",
      ),
    ],
    "H06W0003": [
      (
        from_wire: "W1:H06E0003",
      ),
    ],
    "H06W0103": [
      (
        from_wire: "W1:H06E0103",
      ),
    ],
    "H06W0203": [
      (
        from_wire: "W1:H06E0203",
      ),
    ],
    "H06W0303": [
      (
        from_wire: "W1:H06E0303",
      ),
    ],
    "W1:H02W0001": [
      (
        from_wire: "H02E0001",
      ),
    ],
    "W1:H02W0101": [
      (
        from_wire: "H02E0101",
      ),
    ],
    "W1:H02W0201": [
      (
        from_wire: "H02E0201",
      ),
    ],
    "W1:H02W0301": [
      (
        from_wire: "H02E0301",
      ),
    ],
    "W1:H02W0401": [
      (
        from_wire: "H02E0401",
      ),
    ],
    "W1:H02W0501": [
      (
        from_wire: "H02E0501",
      ),
    ],
    "W1:H02W0601": [
      (
        from_wire: "H02E0601",
      ),
    ],
    "W1:H02W0701": [
      (
        from_wire: "H02E0701",
      ),
    ],
    "W1:H06W0003": [
      (
        from_wire: "H06E0003",
      ),
    ],
    "W1:H06W0103": [
      (
        from_wire: "H06E0103",
      ),
    ],
    "W1:H06W0203": [
      (
        from_wire: "H06E0203",
      ),
    ],
    "W1:H06W0303": [
      (
        from_wire: "H06E0303",
      ),
    ],
    "W2:H06W0003": [
      (
        from_wire: "E1:H06E0003",
      ),
    ],
    "W2:H06W0103": [
      (
        from_wire: "E1:H06E0103",
      ),
    ],
    "W2:H06W0203": [
      (
        from_wire: "E1:H06E0203",
      ),
    ],
    "W2:H06W0303": [
      (
        from_wire: "E1:H06E0303",
      ),
    ],
    "W3:H06W0003": [
      (
        from_wire: "E2:H06E0003",
      ),
    ],
    "W3:H06W0103": [
      (
        from_wire: "E2:H06E0103",
      ),
    ],
    "W3:H06W0203": [
      (
        from_wire: "E2:H06E0203",
      ),
    ],
    "W3:H06W0303": [
      (
        from_wire: "E2:H06E0303",
      ),
    ],
  },
)