(
  pips: {},
  words: {},
  enums: {
    "PIOA.DIFFIO18.BASE_TYPE": (
      options: {
        "BIDIR_HSTL15D_I": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "BIDIR_HSUL12D": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "BIDIR_LVDS": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "BIDIR_MIPI_DPHY": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:16,bit:0,invert:false,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),(frame:100,bit:0,invert:false,),],
        "BIDIR_SLVS": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),(frame:100,bit:0,invert:false,),],
        "BIDIR_SSTL135D_I": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:11,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "BIDIR_SSTL135D_II": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "BIDIR_SSTL15D_I": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:11,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "BIDIR_SSTL15D_II": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "INPUT_HSTL15D_I": [(frame:2,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "INPUT_HSUL12D": [(frame:2,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "INPUT_LVDS": [(frame:2,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "INPUT_MIPI_DPHY": [(frame:2,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:15,bit:1,invert:false,),(frame:16,bit:0,invert:false,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),(frame:100,bit:0,invert:false,),],
        "INPUT_SLVS": [(frame:2,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),(frame:100,bit:0,invert:false,),],
        "INPUT_SSTL135D_I": [(frame:2,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "INPUT_SSTL135D_II": [(frame:2,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "INPUT_SSTL15D_I": [(frame:2,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "INPUT_SSTL15D_II": [(frame:2,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "INPUT_SUBLVDS": [(frame:2,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),],
        "NONE": [],
        "OUTPUT_HSTL15D_I": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_HSUL12D": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_LVDS": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_MIPI_DPHY": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:16,bit:0,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_SLVS": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_SSTL135D_I": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:11,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_SSTL135D_II": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_SSTL15D_I": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:11,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_SSTL15D_II": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:13,bit:1,invert:true,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_SUBLVDSEH": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:9,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:11,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
      },
    ),
    "PIOA.DIFFIO18.DIFFDRIVE_LVDS": (
      options: {
        "3P5": [(frame:102,bit:0,invert:false,),],
        "NA": [],
      },
    ),
    "PIOA.DIFFIO18.DIFFDRIVE_MIPI_DPHY": (
      options: {
        "2P0": [(frame:15,bit:1,invert:false,),(frame:84,bit:0,invert:false,),(frame:103,bit:0,invert:false,),],
        "NA": [],
      },
    ),
    "PIOA.DIFFIO18.DIFFDRIVE_SLVS": (
      options: {
        "2P0": [(frame:103,bit:0,invert:false,),],
        "NA": [],
      },
    ),
    "PIOA.DIFFIO18.DIFFRESISTOR": (
      options: {
        "100": [(frame:104,bit:0,invert:false,),],
        "OFF": [(frame:104,bit:0,invert:true,),],
      },
    ),
    "PIOA.DIFFIO18.DIFFRX_INV": (
      options: {
        "INVERT": [(frame:82,bit:0,invert:false,),],
        "NORMAL": [],
      },
    ),
    "PIOA.DIFFIO18.DIFFTX_INV": (
      options: {
        "INVERT": [(frame:101,bit:0,invert:false,),],
        "NORMAL": [],
      },
    ),
    "PIOA.DIFFIO18.PULLMODE": (
      options: {
        "FAILSAFE": [(frame:76,bit:0,invert:false,),],
        "NONE": [(frame:76,bit:0,invert:true,),],
      },
    ),
    "PIOA.SEIO18.BASE_TYPE": (
      options: {
        "BIDIR_HSTL15_I": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),],
        "BIDIR_HSUL12": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),],
        "BIDIR_LVCMOS10H": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:75,bit:0,invert:false,),(frame:86,bit:0,invert:false,),],
        "BIDIR_LVCMOS12H": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:75,bit:0,invert:false,),],
        "BIDIR_LVCMOS15H": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),],
        "BIDIR_LVCMOS18H": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),],
        "BIDIR_SSTL135_I": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:11,bit:1,invert:false,),(frame:13,bit:1,invert:false,),],
        "BIDIR_SSTL135_II": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),],
        "BIDIR_SSTL15_I": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:11,bit:1,invert:false,),(frame:13,bit:1,invert:false,),],
        "BIDIR_SSTL15_II": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),],
        "INPUT_HSTL15_I": [(frame:2,bit:1,invert:false,),],
        "INPUT_HSUL12": [(frame:2,bit:1,invert:false,),],
        "INPUT_LVCMOS10H": [(frame:2,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:75,bit:0,invert:false,),(frame:86,bit:0,invert:false,),],
        "INPUT_LVCMOS10R": [(frame:2,bit:1,invert:false,),],
        "INPUT_LVCMOS12H": [(frame:2,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:75,bit:0,invert:false,),],
        "INPUT_LVCMOS15H": [(frame:2,bit:1,invert:false,),],
        "INPUT_LVCMOS18H": [(frame:2,bit:1,invert:false,),],
        "INPUT_SSTL135_I": [(frame:2,bit:1,invert:false,),],
        "INPUT_SSTL135_II": [(frame:2,bit:1,invert:false,),],
        "INPUT_SSTL15_I": [(frame:2,bit:1,invert:false,),],
        "INPUT_SSTL15_II": [(frame:2,bit:1,invert:false,),],
        "NONE": [(frame:13,bit:1,invert:false,),],
        "OUTPUT_HSTL15_I": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_HSUL12": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_LVCMOS10H": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_LVCMOS12H": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_LVCMOS15H": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_LVCMOS18H": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_SSTL135_I": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:11,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_SSTL135_II": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_SSTL15_I": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:11,bit:1,invert:false,),(frame:13,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
        "OUTPUT_SSTL15_II": [(frame:0,bit:1,invert:false,),(frame:1,bit:1,invert:false,),(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),(frame:17,bit:1,invert:false,),(frame:77,bit:0,invert:false,),],
      },
    ),
    "PIOA.SEIO18.DFTDO2DI": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:81,bit:0,invert:false,),],
      },
    ),
    "PIOA.SEIO18.DRIVE_1V0": (
      options: {
        "2": [(frame:10,bit:1,invert:true,),(frame:12,bit:1,invert:true,),],
        "4": [(frame:10,bit:1,invert:false,),(frame:12,bit:1,invert:false,),],
      },
    ),
    "PIOA.SEIO18.DRIVE_1V2": (
      options: {
        "2": [(frame:9,bit:1,invert:false,),(frame:10,bit:1,invert:true,),(frame:11,bit:1,invert:false,),(frame:12,bit:1,invert:true,),(frame:13,bit:1,invert:true,),],
        "4": [(frame:9,bit:1,invert:true,),(frame:10,bit:1,invert:false,),(frame:11,bit:1,invert:true,),(frame:12,bit:1,invert:false,),(frame:13,bit:1,invert:true,),],
        "8": [(frame:9,bit:1,invert:true,),(frame:10,bit:1,invert:false,),(frame:11,bit:1,invert:true,),(frame:12,bit:1,invert:true,),(frame:13,bit:1,invert:false,),],
      },
    ),
    "PIOA.SEIO18.DRIVE_1V5": (
      options: {
        "2": [(frame:9,bit:1,invert:false,),(frame:10,bit:1,invert:true,),(frame:11,bit:1,invert:false,),(frame:12,bit:1,invert:true,),(frame:13,bit:1,invert:true,),],
        "4": [(frame:9,bit:1,invert:true,),(frame:10,bit:1,invert:false,),(frame:11,bit:1,invert:true,),(frame:12,bit:1,invert:false,),(frame:13,bit:1,invert:true,),],
        "8": [(frame:9,bit:1,invert:true,),(frame:10,bit:1,invert:false,),(frame:11,bit:1,invert:true,),(frame:12,bit:1,invert:true,),(frame:13,bit:1,invert:false,),],
      },
    ),
    "PIOA.SEIO18.DRIVE_1V8": (
      options: {
        "12": [(frame:9,bit:1,invert:true,),(frame:10,bit:1,invert:false,),(frame:11,bit:1,invert:false,),(frame:12,bit:1,invert:false,),(frame:13,bit:1,invert:false,),],
        "2": [(frame:9,bit:1,invert:false,),(frame:10,bit:1,invert:true,),(frame:11,bit:1,invert:false,),(frame:12,bit:1,invert:true,),(frame:13,bit:1,invert:true,),],
        "4": [(frame:9,bit:1,invert:true,),(frame:10,bit:1,invert:false,),(frame:11,bit:1,invert:true,),(frame:12,bit:1,invert:false,),(frame:13,bit:1,invert:true,),],
        "50RS": [(frame:9,bit:1,invert:true,),(frame:10,bit:1,invert:false,),(frame:11,bit:1,invert:true,),(frame:12,bit:1,invert:true,),(frame:13,bit:1,invert:false,),],
        "8": [(frame:9,bit:1,invert:true,),(frame:10,bit:1,invert:false,),(frame:11,bit:1,invert:true,),(frame:12,bit:1,invert:true,),(frame:13,bit:1,invert:false,),],
      },
    ),
    "PIOA.SEIO18.DRIVE_HSUL12": (
      options: {
        "4": [(frame:9,bit:1,invert:true,),(frame:11,bit:1,invert:true,),(frame:12,bit:1,invert:false,),(frame:13,bit:1,invert:true,),],
        "6": [(frame:9,bit:1,invert:false,),(frame:11,bit:1,invert:false,),(frame:12,bit:1,invert:false,),(frame:13,bit:1,invert:true,),],
        "8": [(frame:9,bit:1,invert:true,),(frame:11,bit:1,invert:true,),(frame:12,bit:1,invert:true,),(frame:13,bit:1,invert:false,),],
      },
    ),
    "PIOA.SEIO18.ENADC_IN": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:83,bit:0,invert:false,),],
      },
    ),
    "PIOA.SEIO18.INT_LPBK": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:105,bit:0,invert:false,),],
      },
    ),
    "PIOA.SEIO18.LOOPBKCD2AB": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:85,bit:0,invert:false,),],
      },
    ),
    "PIOA.SEIO18.OPENDRAIN": (
      options: {
        "OFF": [],
        "ON": [(frame:14,bit:1,invert:false,),],
      },
    ),
    "PIOA.SEIO18.PULLMODE": (
      options: {
        "DOWN": [(frame:76,bit:0,invert:true,),(frame:77,bit:0,invert:true,),],
        "KEEPER": [(frame:76,bit:0,invert:false,),(frame:77,bit:0,invert:true,),],
        "NONE": [(frame:76,bit:0,invert:true,),(frame:77,bit:0,invert:false,),],
        "UP": [(frame:76,bit:0,invert:false,),(frame:77,bit:0,invert:false,),],
      },
    ),
    "PIOA.SEIO18.SLEEPHIGHLEAKAGE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:99,bit:0,invert:false,),],
      },
    ),
    "PIOA.SEIO18.SLEWRATE": (
      options: {
        "FAST": [(frame:90,bit:0,invert:false,),(frame:91,bit:0,invert:false,),(frame:92,bit:0,invert:false,),],
        "MED": [(frame:90,bit:0,invert:false,),(frame:91,bit:0,invert:true,),(frame:92,bit:0,invert:true,),],
        "SLOW": [(frame:90,bit:0,invert:true,),(frame:91,bit:0,invert:true,),(frame:92,bit:0,invert:true,),],
      },
    ),
    "PIOA.SEIO18.TERMINATION_1V2": (
      options: {
        "40": [(frame:8,bit:1,invert:false,),],
        "50": [(frame:6,bit:1,invert:false,),(frame:7,bit:1,invert:false,),],
        "60": [(frame:7,bit:1,invert:false,),],
        "75": [(frame:5,bit:1,invert:false,),(frame:6,bit:1,invert:false,),],
        "OFF": [],
      },
    ),
    "PIOA.SEIO18.TERMINATION_1V35": (
      options: {
        "40": [(frame:5,bit:1,invert:false,),(frame:8,bit:1,invert:false,),],
        "50": [(frame:4,bit:1,invert:false,),(frame:6,bit:1,invert:false,),(frame:7,bit:1,invert:false,),],
        "60": [(frame:7,bit:1,invert:false,),],
        "75": [(frame:5,bit:1,invert:false,),(frame:6,bit:1,invert:false,),],
        "OFF": [],
      },
    ),
    "PIOA.SEIO18.TERMINATION_1V5": (
      options: {
        "40": [(frame:5,bit:1,invert:false,),(frame:8,bit:1,invert:false,),],
        "50": [(frame:4,bit:1,invert:false,),(frame:6,bit:1,invert:false,),(frame:7,bit:1,invert:false,),],
        "60": [(frame:7,bit:1,invert:false,),],
        "75": [(frame:5,bit:1,invert:false,),(frame:6,bit:1,invert:false,),],
        "OFF": [],
      },
    ),
    "PIOA.SEIO18.TERMINATION_1V8": (
      options: {
        "150": [(frame:6,bit:1,invert:false,),],
        "40": [(frame:6,bit:1,invert:false,),(frame:8,bit:1,invert:false,),],
        "50": [(frame:5,bit:1,invert:false,),(frame:6,bit:1,invert:false,),(frame:7,bit:1,invert:false,),],
        "60": [(frame:5,bit:1,invert:false,),(frame:7,bit:1,invert:false,),],
        "75": [(frame:4,bit:1,invert:false,),(frame:5,bit:1,invert:false,),(frame:6,bit:1,invert:false,),],
        "OFF": [],
      },
    ),
    "PIOA.SEIO18.UNDERDRIVE_1V8": (
      options: {
        "OFF": [(frame:87,bit:0,invert:true,),],
        "ON": [(frame:87,bit:0,invert:false,),],
      },
    ),
    "PIOA.SEIO18.VREF": (
      options: {
        "OFF": [],
        "VREF1_LOAD": [(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),(frame:79,bit:0,invert:false,),(frame:94,bit:1,invert:false,),],
        "VREF2_LOAD": [(frame:17,bit:1,invert:false,),(frame:78,bit:0,invert:false,),(frame:80,bit:0,invert:false,),],
      },
    ),
    "PIOA.TMUX": (
      options: {
        "INV": [(frame:3,bit:1,invert:false,),],
        "T": [],
      },
    ),
  },
  conns: {},
  tile_configures_external_tiles: [
    (0, 0),
  ],
)